@using umbraco.MacroEngines
@using FirmaFx.Web.Extensions
@inherits umbraco.MacroEngines.DynamicNodeContext
@{
  var path = String.IsNullOrEmpty(Parameter.DetailPath) ? "/en-ca/careers/" : Parameter.DetailPath;
  var countryContainerID = 1137;
  var jobContainerID = 1235;
  var jobRepository = new umbraco.NodeFactory.Node(jobContainerID);
  var countries = new DynamicNode(countryContainerID).ChildrenAsList.Where(i => i.GetPropertyValue("umbracoNaviHide") == "0");
  var jobs = umbraco.uQuery.GetNodesByType("jobPostingPage");
}

<ul class="region-list">
@foreach (var country in countries) {
  @:<li class="region-group">
    <h3 class="region-heading">
      <a class="region-link" href="#" aria-expanded="false">@country.Name</a>
    </h3>
    @:<ul class="job-list collapse" aria-expanded="false">
    int count = 0;
    var locations = new DynamicNode(country.Id).ChildrenAsList.Select(i => i.Id);
    var jobsInRegion = jobs.OrderByDescending(i => i.GetProperty("jobLocation").Value);
    foreach (var job in jobsInRegion) {
      var show = false;
      var jobLocations = job.GetProperty("jobLocation").Value;
      var closed = job.GetProperty("closed").Value;
      if (!string.IsNullOrWhiteSpace(jobLocations)) {
        var id = int.Parse(jobLocations);
        dynamic location = new DynamicNode(id);
        if (locations.Contains(id)) {
          show = true;
        }
        if (show && closed != "1") {
          var format = "{0}{1}/";
          var url = job.Name.ToLower().Replace(' ', '-').Replace("---", "-");
          <li class="job-item">
            <div class="job-location">
              @(location.Locality + (string.IsNullOrWhiteSpace(location.RegionName) ? string.Empty : ","))
              @location.RegionName
            </div>
            <a href="@string.Format(format, path, url)" class="job-title">@job.GetProperty("pageTitle").Value</a>
          </li>
          count++;
        }
      }
    }
    @:</ul>
    if (count == 0) {
      <p>There are no positions available at this time. However, we encourage you to submit your resume for future employment opportunities.</p>
    }
  @:</li>
}
</ul>