@using umbraco
@using System
@using umbraco.MacroEngines
@{
  var targetUrl = String.IsNullOrEmpty(Parameter.targetUrl) ? "/cookie-policy/" : Parameter.targetUrl;
}
<div class="cookie-popup">
  <p class="cookie-popup-copy">
    We use cookies to ensure that we give you the best experience on our website. By using this site, you are giving
    consent to cookies being used. Full details can be found <a href="@targetUrl">here</a>
  </p>
  <p class="close-cookie-popup"><a href="#">x</a></p>
</div>