html,
body {
  height: 100%;
  max-width: 100%;
  overflow-x: hidden; // This prevents horizontal scroll when the secondary hero image stretches all the way to the right
}

body {
  background-color: $white;
  font-family: $main-body-font;
  letter-spacing: -0.015em;
  position: relative;
  min-height: 100%;
  height: auto;
  padding-top: 1px; // Prevents collapsing margins
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

section {
  margin-top: 3.5em;
  margin-bottom: 3.5em;
  @include media-breakpoint-up(md) { // Tablet and above
    margin-top: 4.25em;
    margin-bottom: 4.25em;
  }
}

h1 {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 120%;
  letter-spacing: -0.03em;
  margin-bottom: .5em;
  @include media-breakpoint-only(md) { // Tablet only
    font-size: 1.65rem;
  }
  @include media-breakpoint-up(md) { // Tablet and above
    margin-bottom: .75em;
  }
  @include media-breakpoint-up(lg) { // Laptop and above
    margin-bottom: .3em;
    font-size: 2.25em;
  }
}

h2,
h3 {
  font-weight: 800;
  letter-spacing: -0.02em;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.35rem;
}

p {
  color: $black;
  font-size: 1rem;
  margin-bottom: $grid-gutter-width;
  @include media-breakpoint-up(md) {
    max-width: 50em;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

a:active,
a:focus,
a:hover {
  text-decoration: none;
}

/// Hides highlight state (dotted lines around links) Remove this block to make the site more accessible.
*:focus {
  outline: none;
}

ul {
  margin-bottom: $grid-gutter-width;
}

// Override styles introduced by new version of Bootstrap
.close {
  float: none;
}
