.browserupgrade {
  margin: 0.2em 0;
  background: $grey;
  color: white;
  padding: 0.2em 0;
}

.main-content {
  min-height: 100%;
  @include clearfix();
  @include media-breakpoint-up(md) {
    padding-bottom: 1em; // Visually match bottom padding with top, there's a slight negative top margin on the contact CTA
  }

  a {
    color: $firma-blue;
  }
}

.container {
  @include media-breakpoint-down(sm) {
    max-width: none;
  }
}

.keyline {
  position: relative;
  width: 500%; // Cheap way to bleed off edge
  clear: both;
  height: 0.2em;
  background-color: $firma-purple;
  @include media-breakpoint-down(sm) {
    left: $grid-gutter-width / 2;
  }
}

.nobr {
  white-space: nowrap;
}

.soft-break {
  width: 0;
  height: 0;
  display: none;
  @include media-breakpoint-up(md) {
    display: block;
  }
  &.phablet,
  &.phablet-only,
  &.mobile {
    @include media-breakpoint-up(md) {
      display: none;
    }
  }
  &.phablet {
    @include media-breakpoint-down(sm) {
      display: block;
    }
  }
  &.phablet-only {
    @include media-breakpoint-only(sm) {
      display: block;
    }
  }
  &.mobile {
    @include media-breakpoint-only(xs) {
      display: block;
    }
  }
}

h1,
h2,
h3 {
  .light & {
    color: $firma-purple;
  }
  .dark & {
    color: $white;
  }
}
