<form action="//go.pardot.com/l/108482/2016-09-16/cd5zc?" method="post" class="contact-form" id="{{#if formId}}{{formId}}{{else}}callback-form{{/if}}" data-parsley-trigger="keyup blur">
  <div class="field first">
    <input name="first" type="text" class="textinput" autocomplete="off" placeholder="First name" maxlength="20"
           data-parsley-length="[2, 20]" data-parsley-length-message="Name should be between 2 and 20 characters" required="" />
  </div>
  <div class="field email">
    <input name="email" type="email" class="textinput" autocomplete="off" placeholder="Your email address" maxlength="40"
           data-parsley-type-message="Invalid email address" required="" />
  </div>
  <div class="button">
    <button type="submit" class="submit" disabled>Submit</button>
  </div>
  <p class="legal">
    By providing your email address you agree to receive digital communications from Firma Foreign Exchange. You may unsubscribe <span class="nobr">at anytime.</span>
  </p>
</form>