<div class="container">
  <a href="#" class="firma-icon">
    {{> svg/firma-symbol }}
  </a>
  <ul class="nav nav-inline">
    <li class="nav-item">
    <a class="nav-link" href="careers.html">Careers</a>
  </li>
    <li class="nav-item">
      <a class="nav-link" href="privacy.html">Privacy Policy</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="cookie.html">Cookie Policy</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="environment.html">Environmental Policy</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="locations.html">Find an Office</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="https://firmafx.ca/media/40197/firma_16-17_bond_cert_-_us.PDF" target="blank">Certificate of Insurance</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="contact.html">Contact Us</a>
    </li>
    <li class="nav-item copyright">
      <span>&copy;2016 FIRMA Foreign Exchange Corporation</span>
    </li>
  </ul>
</div>

<div class="container">
  <p class="disclaimer">
    FIRMA Foreign Exchange Corporation (U.S.) Ltd. (Firma) is incorporated in Delaware and is a fully owned subsidiary
    of FIRMA Foreign Exchange Corporation Ltd., incorporated in Alberta, Canada. FIRMA Foreign Exchange Corporation
    (U.S.) Ltd. is registered with FinCEN with registration number 31000078190302 and authorized to do business in AZ,
    CA, CT, KS, MA, MN, MT, NJ, NY, PA, SC, RI, TN and WI.
  </p>
</div>