{{#extend 'layout' id='careers' parentId='company' pageTitle='Careers' class='interior content-pages' lang='fr-ca' }}

  {{#content 'meta' }}
    <meta name="description" content="Looking for a challenging and rewarding career, see how FIRMA may be the right match for you.">
    <meta name="keywords" content="Careers, Jobs, Bonus Incentives, International payments, currency specialists, Firma, Business, World, Currency Exchange, Specialist, Foreign Deposit, Positive work environment, Canada, Partnerships and Affiliates, energetic people" />
  {{/content}}

  {{#content 'body' }}
    <div class="main-content container">

      <div class="row-sidebar">
        <div class="sidebar"></div>
        <div class="page-content">

          {{> hero-secondary image='/images/company/background-careers.jpg' spriteId='aspiration' append='fr' }}

          <section class="container light">

            <h1>Nous sommes constamment à la recherche de talents exceptionnels</h1>
            <p>Firma est l’une des plus grandes firmes de spécialistes en paiements et devises au monde avec des bureaux sur trois continents.</p>
            <p>Jetez un coup d’œil à nos possibilités d’emploi actuelles et si vous découvrez quelque chose qui vous correspond, envoyez votre curriculum vitae à notre service des ressources humaines à <a href="mailto:careers@firmafx.com">careers@firmafx.com</a>.</p>

          </section>

          <section class="container light">

            <h1>Travailler chez Firma</h1>
            <p>Depuis les débuts, nous engageons des gens talentueux et énergiques. Si vous aimez travailler dans un environnement jeune dirigé par des gens créatifs qui ont plaisir à accomplir les tâches, nous sommes l’employeur qu’il vous faut. Nous sommes fiers de récompenser nos employés pour leur travail persévérant en leur offrant des salaires compétitifs, de nombreux programmes de récompenses, des possibilités de développement professionnel et un environnement de travail agréable.</p>

            <blockquote>
              <p>Ma conviction est que des employés heureux se traduisent en clients heureux. Dans mon monde, cela veut dire fournir un environnement de travail stimulant, encourageant et positif. Nous prenons soin de nos employés et nos employés prennent soin de nos clients. C’est assez simple et extraordinairement efficace.</p>
              <cite>Dave Dominy, DG</cite>
            </blockquote>

          </section>

          <section class="container light">

            <h1>Possibilités actuelles.</h1>

            <ul class="region-list">

              {{!-- data from data/careers.json --}}
              {{#each this.careers}}
                {{#each this}}
                  {{> careers-location this }}
                {{/each}}
              {{/each}}

            </ul>

          </section>

        </div>
      </div>

    </div>

  {{/content}}
{{/extend}}