{{#extend 'layout' id='company' pageTitle='Our Company' lang='fr-ca' }}

  {{#content 'meta' }}
    <meta name="description" content="FIRMA Foreign Exchange puts the world’s currency to work, trading billions of dollars each year.">
    <meta name="keywords" content="Firma, Company, Business, World, Currency Exchange, International, Specialist, Direct Debit, Foreign Deposit, Foreign Currency, Currency, Canada, leadership, International Vehicle Purchases, International payments" />
  {{/content}}

  {{#content 'body' }}
    <div class="main-content interior">

      {{#> hero image='/images/hero/image-05.jpg' spriteId='globalcommunity' className='slide5' append='fr' }}
      Grâce à notre équipe de direction solide et à nos spécialistes partout au monde, nous sommes ici pour vous offrir un service personnalisé au-dessus des standards auxquels vous pourriez vous attendre.
      {{/hero}}

      <section class="company container light">
        <h1>Nous travaillons fort et intelligemment pour votre argent.</h1>
        <p>Nos spécialistes en devise étrangère gèrent en toute sécurité plus de 10 milliards de dollars annuellement. Depuis plus de 18 ans, nos équipes dévouées ont aidé à simplifier les échanges à l’étranger pour plusieurs petites entreprises, leur procurant la paix d’esprit leur permettant ainsi de se concentrer sur leur croissance.</p>
        <ul class="company-list">
          <li class="company-item">
            <h3>Équipe de gestion</h3>
            <p>
              Parce que vos intérêts fondamentaux sont notre priorité.
            </p>
            <p class="learn-more">
              <a href="management.html" class="link">
                <span>En savoir plus.</span>
              </a>
            </p>
          </li>
          <li class="company-item">
            <h3>Conformité et accréditation</h3>
            <p>
              Parce que nous sommes vérifiés par les meilleurs.
            </p>
            <p class="learn-more">
              <a href="compliance.html" class="link">
                <span>En savoir plus.</span>
              </a>
            </p>
          </li>
          <li class="company-item image careers">
            <h3>Carrières</h3>
            <p>
              Parce que nous sommes toujours à la recherche de la prochaine tendance. 
            </p>
            <p class="learn-more">
              <a href="careers.html" class="link">
                <span>En savoir plus.</span>
              </a>
            </p>
          </li>
          <li class="company-item">
            <h3>FAQ</h3>
            <p>
              Parce que vous avez des questions et que nous avons les meilleures réponses. 
            </p>
            <p class="learn-more">
              <a href="faq.html" class="link">
                <span>En savoir plus.</span>
              </a>
            </p>
          </li>
        </ul>

      </section>

    </div>
  {{/content}}
{{/extend}}