{{#extend 'layout' id='compliance' parentId='company' pageTitle='Compliance' class='interior content-pages' lang='fr-ca' }}

  {{#content 'meta' }}
    <meta name="description" content="See how FIRMA provides great service backed by strong security">
    <meta name="keywords" content="Compliance, anti-money laundering, insurance, International payments, currency specialists, Firma, Business, World, Currency Exchange, Specialist, Foreign Deposit, Canada, Partnerships and Affiliates" />
  {{/content}}

  {{#content 'body' }}
    <div class="main-content container">

      <div class="row-sidebar">
        <div class="sidebar"></div>
        <div class="page-content">

          {{> hero-secondary image='/images/company/background-compliance.jpg' spriteId='diligence' append='fr' }}

          <section class="container light">

            <h1>Des services de qualité supérieure requièrent une sécurité de <span class="soft-break"></span>qualité supérieure.</h1>
            <p>Firma croit que le meilleur moyen de faire des affaires, c’est d’être avenant, simple et fiable.</p>
            <p>Notre entreprise au complet emploie des procédures de règlements et d’échanges strictes qui incorporent des méthodologies basées sur le risque afin de détecter, prévenir et rapporter toute activité illicite suspecte. Nous vérifions l’identité de chaque client et nous nous assurons que les registres des sociétés sont conformes à la législation en vigueur.</p>
            <p>Firma s’engage à maintenir un programme vigoureux contre le blanchiment d’argent et le financement terroriste. Notre entreprise effectue régulièrement des examens externes et des évaluations des risques dans nos bureaux partout au monde afin de mesurer et d’améliorer notre capacité à combattre le blanchiment d’argent et le financement terroriste.</p>
            <p>Notre service de conformité surveille continuellement la compétence juridique afin de s’assurer que notre programme de conformité répond aux exigences internationales. Le service s’appuie sur une technologie de pointe de surveillance des transactions afin d’améliorer la sécurité des fonds circulant par nos systèmes. L’équipe de conformité améliore et actualise continuellement le programme de conformité de Firma au moyen d’examens internes et d’une formation professionnelle continue de notre personnel.</p>

          </section>

          <section class="container light">

            <h1>Parce que nous sommes surveillé par <span class="soft-break"></span>les meilleurs.</h1>
            <p>Firma entreprend annuellement des audits de son processus financier consolidé. Les déclarations sont remplies par <i>PricewaterhouseCoopers LLP.</i></p>
            <p>Firma maintient une assurance des institutions financières qui inclut une couverture étendue contre les pertes causées par le vol, le cambriolage et/ou la disparition d’argent ou de titres. Nous utilisons <i>Lloyd Sadd Insurance Brokers Ltd</i>. comme courtier et <i>QBE Services Inc.</i> souscrite par <i>Lloyd’s of London</i> comme notre assureur.</p>

            {{> content/fr-ca/certificates }}

          </section>

        </div>
      </div>

    </div>

  {{/content}}
{{/extend}}