{{#extend 'layout' id='contact' class='interior nosidebar' lang='fr-ca' }}
{{#content 'body' }}

<div class="main-content container">

  {{> keyline }}

  <div class="page-content">

    <section class="container light">

      <h1>Contactez-nous</h1>

      <div class="contact-row">

        <div class="col office-contact-container">
          {{> content/fr-ca/contact-info }}
        </div>

        <div class="col contact-form-container">
          <h2>Découvrez comment Firma peut aider <span class="nobr">votre entreprise.</span></h2>
          {{> content/fr-ca/contact-form formId='contact-page-form' }}
          {{> content/fr-ca/contact-complete }}
        </div>

      </div>

    </section>

  </div>

</div>

{{/content}}
{{/extend}}