{{#extend 'layout' id='cookie' class='interior nosidebar' lang='fr-ca' }}
{{#content 'body' }}

<div class="main-content container">

  {{> keyline }}

  <div class="page-content">

    <section class="container light">
      <h1>Politique relative aux témoins</h1>

      <h2>Témoins</h2>


      <p>Pour permettre à ce site de fonctionner correctement, nous installons parfois sur votre appareil de petits fichiers de données appelés « témoins ».</p>


      <h2>Qu’est-ce qu’un témoin?</h2>


      <p>Un témoin est un petit fichier-texte qu’un site Web stocke sur votre ordinateur ou sur votre appareil mobile lorsque vous visitez le site. Il permet au site Web de garder en mémoire vos activités et vos préférences (notamment l’ouverture de sessions, la langue, la taille des polices et autres préférences d’affichage) sur une période déterminée; vous n’avez donc pas à les saisir de nouveau lors de vos visites ultérieures du site ou lors de la navigation entre ses diverses pages.</p>


      <h2>Comment utilisons-nous les témoins?</h2>


      <p>Les témoins nous aident à compiler, de manière agrégée, des données sur le nombre de consultations du site et sur les interactions avec le site, de sorte que nous puissions à l’avenir offrir des expériences améliorées et de meilleurs outils. Nous avons parfois recours à des tiers fournisseurs de services pour nous aider à mieux comprendre les habitudes des internautes qui visitent notre site. Vos renseignements personnels vous identifiant ne seront pas vendus, échangés, ni transmis à de tierces parties sans votre consentement préalable. Toutefois, les renseignements qui ne peuvent être associés personnellement aux visiteurs peuvent être partagés avec des tiers à des fins commerciales, publicitaires ou autres.</p>


      <h2>Comment exercer un contrôle sur les témoins</h2>


      <p>Vous pouvez exercer un contrôle sur les témoins ou les supprimer, à votre gré. Vous pouvez supprimer tous les témoins qui sont déjà sur votre ordinateur et vous pouvez configurer la plupart des navigateurs pour en empêcher l’installation. Dans un tel cas toutefois, vous pourriez devoir régler manuellement certaines préférences chaque fois où vous visiterez un site, et certains services et fonctionnalités pourraient ne pas fonctionner.</p>


    </section>

  </div>

</div>

{{/content}}
{{/extend}}