{{#extend 'layout' id='environment' class='interior nosidebar' lang='fr-ca' }}
{{#content 'body' }}

<div class="main-content container">

  {{> keyline }}

  <div class="page-content">

    <section class="container light">

      <h1>Politique environnementale</h1>

      <p>FIRMA Corporation Cambiste s’engage à protéger l’environnement en faisant la promotion d’un lieu de travail sécuritaire, sain et sans danger pour l’environnement. FIRMA Corporation Cambiste respecte toutes les législations environnementales pertinentes en vigueur au meilleur de sa capacité et sensibilise son personnel aux processus de préservation de l’environnement.</p>

      <p>Les objectifs suivants de la Déclaration environnementale représentent notre engagement pour notre système de gestion environnementale :</p>

      <ul>
        <li>Autant que possible nous conservons l’eau et le papier et nous recyclons les bouteilles de plastique, les conserves, le carton et le papier par des moyens appropriés et conformément aux lois et règlements sur les renseignements personnels.</li>
        <li>Nous nous efforçons continuellement de réduire notre consommation d’énergie pour réduire les émissions de gaz à effet de serre. FIRMA Corporation Cambiste utilise plusieurs appareils pour économiser l’énergie pour les équipements et l’éclairage dans tous ses bureaux.</li>
        <li>À cause de la nature de notre entreprise, FIRMA Corporation Cambiste utilise du papier dans le cadre de ses transactions quotidiennes.</li>
      </ul>

      <p>Pour minimiser son empreinte écologique, FIRMA Corporation Cambiste s’engage à protéger l’environnement et commandite la forêt amazonienne en danger par des contributions au programme Cool Earth Amazon Rain Forest Program.</p>

      <p>FIRMA Corporation Cambiste est un fier partisan d’une gamme d’organisations caritatives et de programmes liés à la conservation de l’environnement. L’un de ces programmes comprend des laissez-passer pour les transports publics subventionnés pour les employés qui empruntent les transports publics pour se rendre au travail à tous les jours. Ce programme est ouvert à tous les employés du bureau chef afin de les encourager à emprunter les transports publics et pour aider à réduire les gaz à effet de serre.</p>

      <p>Notre politique environnementale est révisée à tous les trimestres, mise à jour si nécessaire et distribuée via nos bulletins d’information internes et externes.</p>

      <p>FIRMA Corporation Cambiste estime recevoir des commentaires à propos de sa politique environnementale de ses employés, de ses clients et du grand public. Si vous aimeriez partager vos idées sur la façon de protéger l’environnement, veuillez nous contacter à l’adresse <a href="mailto:info@firmafx.com">info@firmafx.com</a>.</p>

      <p>
        <a href="https://firmafx.ca/media/40110/Certificate%20of%20Environmental%20Accomplishment.pdf" target="_blank">Certificate of Environmental Accomplishment</a>
      </p>

    </section>

  </div>

</div>

{{/content}}
{{/extend}}