{{#extend 'layout' id='e-commerce' parentId='blog' pageTitle='E-commerce' class='blog-post content-pages' lang='fr-ca'}}

  {{#content 'meta' }}
    <meta name="description" content="Looking for a challenging and rewarding career, see how FIRMA may be the right match for you.">
    <meta name="keywords" content="Careers, Jobs, Bonus Incentives, International payments, currency specialists, Firma, Business, World, Currency Exchange, Specialist, Foreign Deposit, Positive work environment, Canada, Partnerships and Affiliates, energetic people" />
  {{/content}}

  {{#content 'body' }}
    <div class="main-content container">
      <div class="page-content">

        {{> hero-secondary image='/images/blog/blog4-header.jpg' spriteId='access-fr' append='fr' }}

        <section class="container light blog-content">

          <h3>14 septembre 2016</h3>
          <h1>Pourquoi faire affaire avec la Chine est très important.</h1>
          <p>Non seulement la Chine est l’un des plus grands pays sur la planète, mais c’est aussi celui qui a connu la plus grande croissance économique durant la dernière décennie, produisant 50 % des biens dans le monde. Il est presque impossible d’envisager une croissance à l’international sans penser à la Chine à titre de partenaire commercial, tout particulièrement au Canada. En plus d’être une superpuissance manufacturière, la Chine est le deuxième marché en importance pour les exportations du Canada, après les États-Unis. Et en considérant tous ces facteurs, il est facile de comprendre pourquoi il faut voir grand pour devenir grand.</p>

          <h2>Devise extraterritoriale ou territoriale : qu’est-ce qui est échangeable?</h2>

          <p>Alors que le Renminbi est la monnaie officielle de la République populaire de Chine, le Yuan, CNY en appellation abrégée, est essentiellement la même chose (un peu comme le sterling britannique et la livre qui se rapportent tous deux à la devise anglaise). Ce qui circule sur le continent n’est pas autorisé à quitter le pays. Donc, un autre Yuan a été créé : le Yuan CNH extraterritorial (offshore), qui est, heureusement, échangeable. Alors que plusieurs fournisseurs chinois acceptent effectivement le Dollar américain, ce qui ajoute un niveau de complexité à leur tâche. Fait important, en ayant accès à des Yuans offshore ou onshore, vous pouvez négocier de meilleurs prix avec les fournisseurs.</p>

          <h2>L’argent ne traverse pas toujours les frontières. </h2>

          <p>Alors, le commerce avec la Chine représente un énorme potentiel pour votre entreprise. Super. Et après? Comme nous venons juste de le découvrir, la devise chinoise est un petit peu plus compliquée. La réglementation intérieure sur les devises vise à empêcher la sortie de territoire du Renminbi, donc pour exploiter complètement le potentiel d’échanges internationaux avec la Chine, vous devez trouver des solutions pour payer et être payé aux meilleurs taux. C’est là qu’un spécialiste en devise peut vous permettre de gagner temps et argent. </p>

          <h2>Un bon conseil peut aider votre entreprise à prendre la bonne direction.</h2>

          <p>Croître à l’international en gardant la Chine en tête constitue une énorme opportunité d’affaires. Une possibilité que la plupart des petites et moyennes entreprises n’exploitent pas ou craignent de le faire. Travailler avec un spécialiste en paiements internationaux et devises vous donnera la confiance nécessaire pour élargir vos horizons et chercher de nouvelles occasions d’affaires lucratives. Chez Firma Corporation Cambiste, vous trouverez tout ce dont vous avez besoin pour réussir au sein de l’économie mondiale d’aujourd’hui. Vous obtiendrez les meilleurs conseils venant de gens qui ont votre intérêt à cœur, peu importe la taille de votre entreprise.</p>

          {{> blog-social }}

        </section>
      </div>

    </div>
  {{/content}}
{{/extend}}