{{#extend 'layout' id='home' country='Canada' lang='fr-ca' }}
  {{#content 'body' }}

    <div class="main-content">

      <div class="hero-set">
        {{#> hero image='/images/hero/image-01.jpg' spriteId='simple' className='slide1' append='fr' active=true }}
          Nous gérons et effectuons le suivi de tous les paiements internationaux et échanges de devises compliqués, de manière à ce que vous tiriez le maximum de votre temps et de votre argent. C’est aussi simple que ça.
        {{/hero}}

        {{#> hero image='/images/hero/image-02.jpg' spriteId='growth' className='slide2' append='fr' }}
          Nous savons comment maintenir la croissance des entreprises. C’est en simplifiant la circulation de leur argent à l’étranger. À vous de découvrir ce potentiel de croissance.
        {{/hero}}

        {{#> hero image='/images/hero/image-03.jpg' spriteId='oneonone' className='slide3' append='fr' }}
          Nous prenons le temps d’apprendre à vous connaître ainsi que les objectifs à long terme de votre entreprise pour assurer que vous ayez toujours le contrôle total.
        {{/hero}}

        {{#> hero image='/images/hero/image-04.jpg' spriteId='everywhere' className='slide4' append='fr' }}
          Peu importe où vous voulez faire des affaires, nous y sommes déjà.
        {{/hero}}
      </div>

      <section class="intro-section container light">
        <div class="intro-copy-container">
          <h1>
            Nous croyons que faire des affaires au delà des frontières peut être moins complexe.
          </h1>
          <p>
            Nous aidons les entreprises qui ont une visée internationale à croître. Ce qui signifie que nous gérons le mouvement de l’argent de votre entreprise à l’étranger dans la devise appropriée au meilleur moment, à <span class="nobr">chaque fois.</span>
          </p>
        </div>
        <div class="youtube-container">
          <a href="https://www.youtube.com/embed/RE9nUSdJClE" class="cta-button play-trailer-button" data-toggle="modal" data-target="#videoModal" data-thevideo="https://www.youtube.com/embed/RE9nUSdJClE"> <img src="/images/video-cta.gif" width="270" /></a><div><a href="https://www.youtube.com/embed/RE9nUSdJClE" class="cta-button play-trailer-button" data-toggle="modal" data-target="#videoModal" data-thevideo="https://www.youtube.com/embed/RE9nUSdJClE"> <span class="link">Découvrez comment</span></a></div>
        </div>
      </section>

      <section class="quotes container-fluid">

        <div class="quotes-wrapper">

          <div class="quotes-list">
            <div class="quote-item intro">
              <div class="content dark">
                <h1>Nous sommes <span class="soft-break"></span>des spécialistes.</h1>
                <p>
                  Un spécialiste attitré de Firma peut optimiser le temps et les ressources de votre entreprise en s’occupant personnellement de vos paiements internationaux et échanges de devises partout <span class="nobr">au monde.</span>
                </p>
              </div>
            </div>

            {{!-- quote contents from templates/content/fr-ca/quotes.hbs --}}
            {{> content/fr-ca/quotes }}

          </div>

        </div>

        <div class="mobile-quotes-container"></div>

      </section>

      <section class="services container light">
        <div class="services-content">
          <div class="intro">
            <h1>Nous faisons de <span class="soft-break mobile"></span>vous notre priorité.</h1>
            <p>
              Parce que nous sommes complètement dévoués et à votre service. C’est pourquoi nous prenons le temps de connaître votre entreprise un peu mieux. Après tout, la décision finale vous appartient toujours.
            </p>
          </div>
          <ul class="services-list">
            <li class="service-item">
              <img src="/images/icons/international-payments.svg" class="service-icon" />
              <h3>Paiements internationaux</h3>
              <p>Nous simplifions le déplacement de votre argent en utilisant les réseaux les plus sécuritaires, dotés des technologies les plus récentes. </p>
            </li>
            <li class="service-item">
              <img src="/images/icons/currency-exchange.svg" class="service-icon" />
              <h3>Échange de devises</h3>
              <p>Il n’existe que deux devises : le temps et l’argent. Nous vous aidons à tirer le maximum des deux.</p>
            </li>
            <li class="cta explore">
              <a href="services.html" class="link">
                <span>Découvrez tous nos services</span>
              </a>
            </li>
          </ul>
        </div>
      </section>

    </div>


{{> content/video }}
  {{/content}}
{{/extend}}
