{{#extend 'layout' id='locations' class='interior nosidebar' lang='fr-ca' }}
{{#content 'body' }}

<div class="main-content container">

  {{> keyline }}

  <div class="page-content">

    <section class="container light">
      <h1>Nos emplacements</h1>
      <ul class="locations-list accordion">
        {{!-- data from data/locations.json --}}
        {{#each this.locations}}
          {{#each this}}

            {{!-- output CA locations only --}}
            {{#equal @key 'ca' }}
              {{#each this.regions}}
                {{> location-item this fr=true }}
              {{/each}}
            {{/equal}}
          {{/each}}
        {{/each}}
      </ul>
    </section>

    <section class="container light">
      <h1>Sites internationaux</h1>
      <ul class="locations-list accordion">
        {{!-- data from data/locations.json --}}
        {{#each this.locations}}
          {{#each this}}

            {{!-- output INT locations only --}}
            {{#equal @key 'int' }}
              {{#each this.regions}}
                {{> location-item this fr=true }}
              {{/each}}
            {{/equal}}
          {{/each}}
        {{/each}}
      </ul>
    </section>

  </div>

</div>

{{/content}}
{{/extend}}