{{#extend 'layout' id='management' parentId='company' pageTitle='Our Team' class='interior content-pages' lang='fr-ca' }}

  {{#content 'meta' }}
    <meta name="description" content="See who makes FIRMA a leader">
    <meta name="keywords" content="Foreign Exchange team, International payments, Firma, Business, World, Business, Currency Exchange, Specialist, Foreign Deposit, Foreign Currency, Currency, Canada, Market Orders, Forward Contacts, Partnerships and Affiliates, Tuition Payments, Foreign Real Estate, Spot Orders" />
  {{/content}}

  {{#content 'body' }}
    <div class="main-content container">

      <div class="row-sidebar">
        <div class="sidebar"></div>
        <div class="page-content">

          {{> hero-secondary image='/images/company/background-management.jpg' spriteId='engagement' append='fr' }}

          <section class="container light">
            <h1>Rencontrez notre équipe  <span class="soft-break mobile"></span>de gestion.
              </h1>

            <ul class="team-list accordion">

              {{#> team-item name='Dave Dominy' title='Directeur Général' class="team-1" }}
                <p>
                  Dave Dominy s’est joint à Firma en juin 2014 comme directeur général, apportant à l’entreprise une expertise et une expérience considérables dans le domaine des finances. Il a passé une quinzaine d’années à occuper diverses fonctions de cadre supérieur dans le secteur des services bancaires et d’investissement pour une banque à charte canadienne, et huit ans comme directeur général d’une société d’investissement dans l’ouest du Canada. En tant que directeur général d’un organisme de réglementation provincial, il a directement participé à l’adoption de nouvelles normes en matière de liquidités et de capital pour les coopératives d’épargne et de crédit. De 1999 à 2003, il a été directeur général d’une société ouverte de taille moyenne œuvrant dans le domaine des services pétroliers et, avant cela, a été directeur financier d’une société ouverte à forte capitalisation de traitement et de transport de gaz.
                </p>
                <p>
                  Durant sa longue carrière d’administrateur, M. Dominy a siégé au conseil d’administration de divers organismes à but non lucratif, d’entreprises privées et ouvertes et de sociétés d’État. Il occupe actuellement les fonctions de vice-président et administrateur du Collège Norquest, de président du comité d’audit et administrateur de Chandos Construction LP, d’administrateur de l’Alberta Insurance Council, de président de 3D Capital Inc. et d’instructeur au programme de gouvernance de l’Alberta School of Business pour les petites et moyennes entreprises.
                </p>
                <p>
                  Il contribue activement à de nombreux organismes de bienfaisance locaux, tout récemment comme président de la Stollery Children’s Hospital Foundation à Edmonton.
                </p>
                <p>
                  M. Dominy est titulaire d’une maîtrise en gestion de la J.L. Kellogg School of Business de Chicago et d’un baccalauréat en mathématiques de l’Université de Winnipeg, en plus d’avoir suivi le Cours sur le commerce des valeurs mobilières au Canada et de détenir le titre IAS.A de l’Institut des administrateurs de sociétés du Canada.
                </p>
              {{/team-item}}

              {{#> team-item name='Michael Oshry' title='Président' class="team-2" }}
                <p>
                  Michael a entamé sa carrière en démarrant une variété d'entreprises locales dans les secteurs de la vente au détail, de l'hôtellerie et des services aux entreprises. Cofondateur de FIRMA Corporation Cambiste en 1998, il a été l'un des deux lauréats du Grand Prix de l’Entrepreneur Ernst & Young en 2007.
                </p>
                <p>
                  Michael a été élu pour représenter le quartier 5 au sein du conseil municipal d'Edmonton en octobre 2013. Il a ainsi siégé à une variété de comités et de conseils et a contribué à diverses initiatives, notamment à titre de membre du City Manager and City Auditor Performance Evaluation Committee, de président du Transportation Committee, de membre du Licence and Community Standards Appeal Board et de représentant au sein d'Edmonton Northlands, de l’Emerging Economy Initiative et de l'<a href="http://www.edmontonpolicecommission.com/" target="_blank">Edmonton Police Commission</a>.
                </p>
                <p>
                  Auparavant, il a également été membre du conseil d'administration de la section albertaine de la Young Presidents' Organization (YPO) et a siégé à divers conseils d'administration d'autres organismes à but non lucratif.
                </p>
                <p>
                  Michael est marié et le fier père de deux enfants.
                </p>
              {{/team-item}}

              {{#> team-item name='James Devenish' title='Directeur général des ventes' }}
                <p>
                  James est arrivé chez Firma Corporation Cambiste avec plus de 17 ans d’expérience dans le secteur de la finance. Avant de se joindre à Firma en 2011, il a occupé des postes avec la Western Union Business Solutions (anciennement Custom House) et HSBC Financial Canada, où il a perfectionné ses qualités d’opérateur et de vendeur en traitant autant avec des clients internationaux que nationaux.
                </p>
                <p>
                  Depuis qu’il s’est joint à Firma, James a constamment démontré sa passion à livrer des résultats en matière de bénéfices en se concentrant sur le développement d’équipes très performantes, la gestion des ventes et la planification stratégique. De nombreuses ventes, la croissance de l’entreprise et plusieurs réalisations rentables tout au long de sa carrière sont des exemples de son succès.
                </p>
                <p>
                  En tant que directeur général des ventes, James concentre ses efforts à développer de nouvelles occasions d’affaires et s’assure que le commerce international continue de fournir une expérience de ventes et de services de qualité supérieure à tous les clients. Son expérience et ses connaissances de l’industrie ainsi que  ses forces en leadership, développement de talents et prestation de programmes font de lui le choix idéal pour diriger nos équipes de vente à l’international.
                </p>
              {{/team-item}}

              {{#> team-item name='Alex Eadie, CPA, CMA, CAMS' title='Directeur général des finances' }}
                <p>
                  Alex Eadie, comptable en management accrédité (CMA) et spécialiste certifié en anti-blanchiment d’argent (CAMS), a plus 12 ans d’expérience en tant que cadre dans le domaine. Récemment, en tant que comptable en chef et directeur général, Alex a dirigé la croissance rapide d’une entreprise chef de file en matière d’intégration logicielle.
                </p>
                <p>
                  Pour améliorer le côté compétitif de l’entreprise, Alex apporte son esprit professionnel et créatif afin de promouvoir de saines pratiques commerciales avec une spécialité marquée pour les techniques de gestion. Le flair financier d’Alex, sa vision stratégique et son approche collaborative pour implanter une variété d’initiatives sont essentiels au maintien de la croissance internationale actuelle de Firma Corporation Cambiste.
                </p>
              {{/team-item}}

              {{#> team-item name='Brad Clark, BComm, BSc' title='Directeur général des opérations' }}
                <p>
                  Brad Clark est arrivé chez FIRMA Corporation Cambiste avec plus de huit ans d’expérience en gestion des opérations. Il détient un baccalauréat en commerce de l’Université d’Alberta et un baccalauréat en science des mathématiques. Les aptitudes de Brad en communication et en leadership, de pair avec sa capacité à bien travailler sous pression, ont contribué en grande partie à son succès.
                </p>
                <p>
                  Avant d’être avec FIRMA Corporation Cambiste, Brad était le directeur général du plus important fournisseur d’impression commerciale de l’Ouest canadien, une division de l’une des plus importantes corporations internationales en médias imprimés. Durant ces années, Brad a été identifié comme l’un des 75 employés au plus grand potentiel en Amérique du Nord et a reçu une formation et développement de carrière dans le cadre du Programme leadership, excellence et développement.
                </p>
                <p>
                  En tant que directeur général des opérations, Brad coordonne et gère une équipe diversifiée de professionnels, incluant les services de technologie de l’information,  les communications et le personnel de négociation. Le dévouement et la persévérance de Brad aident à la croissance stratégique de l’entreprise et soutiennent les composantes opérationnelles essentielles au succès continu de FIRMA Corporation Cambiste.
                </p>
              {{/team-item}}

              {{#> team-item name='Chris Brockbank' title='Directeur général du marketing' }}
                <p>
                  Chris apporte près de 30 ans d’expérience en marketing à l’équipe de FIRMA Corporation Cambiste. Les expériences précédentes de Chris comprennent des postes de directeur général du marketing chez Sears Canada, Moneris, Just Energy et Sun/Québecor Media. De plus, Chris a également occupé des postes importants en marketing chez Sirius Canada, Bell/Bell Wireless et Nortel Networks.
                </p>
                <p>
                  En plus de ses vastes connaissances et de son expérience, Chris est également professeur à l’Université de Toronto où il enseigne la gestion de marque dans un programme de formation continue.
                </p>
                <p>
                  En tant que directeur général du marketing, Chris va rechercher, implanter et découvrir des moyens de pousser la marque, les produits et les services de Firma à un autre niveau. Il sait comment mettre de l’avant notre avantage concurrentiel dans le marché afin de propulser Firma vers une croissance accrue à l’international.
                </p>
              {{/team-item}}

              {{#> team-item name='Gordon Wollenberg, BCom, CHRP' title='Directeur général talent' }}
                <p>
                  Gordon Wollenberg s’est joint à Firma en mars 2013 avec plus de 20 ans d’expérience en ressources humaines. Il détient un baccalauréat en commerce de l’Université d’Alberta et a obtenu son titre de conseiller en ressources humaines agréé auprès du HRIA.
                </p>
                <p>
                  Avant de se joindre à Firma, Gordon était directeur des ressources humaines pour une importante entreprise de construction canadienne. Il a précédemment travaillé avec la ville d’Edmonton, le gouvernement de l’Alberta, ATB et le Catholic School Board.
                </p>
                <p>
                  En tant que directeur général talent, Gordon est responsable de l’ensemble des opérations entourant les ressources humaines chez Firma. Gordon et son équipe se concentrent sur le recrutement d’individus de haut calibre, ainsi que sur des initiatives d’apprentissage et de perfectionnement qui assurent la performance et le succès continu de Firma.
                </p>
              {{/team-item}}

            </ul>
          </section>

        </div>
      </div>

    </div>
  {{/content}}
{{/extend}}