{{#extend 'layout' id='privacy' class='interior nosidebar' lang='fr-ca' }}
{{#content 'body' }}

<div class="main-content container">

  {{> keyline }}

  <div class="page-content">

    <section class="container light">

      <h1>Politique sur la confidentialité</h1>

      <p>FIRMA Corporation Cambiste s'engage à protéger les renseignements personnels et confidentiels qui lui sont confiés par ses clients. Les renseignements personnels et confidentiels s'entendent de l'information concernant une personne ou une société identifiable, ce qui peut inclure le nom, l'adresse, le numéro de téléphone, un numéro d'identification, de l'information financière, etc., sur une personne ou une société.</p>


      <h2>Collecte de renseignements personnels et confidentiels</h2>

      <p>FIRMA Corporation Cambiste ne recueille que les renseignements qui lui sont nécessaires pour procurer des services de qualité supérieure aux clients. Cela inclut les renseignements nécessaires pour :</p>

      <ul>
        <li>Établir une relation personnelle avec chaque client</li>
        <li>Offrir efficacement (soit en personne ou par voie électronique) les produits et services demandés</li>
        <li>Fournir l'information spécifique sur le marché approprié selon les besoins de chaque client</li>
        <li>Faire un suivi auprès des clients pour déterminer leur degré de satisfaction quant aux produits et services</li>
        <li>Notifier les clients des activités d'intérêt à venir</li>
        <li>Accorder des crédits</li>
        <li>Répondre aux exigences réglementaires.</li>
      </ul>

      <p>FIRMA Corporation Cambiste recueille normalement des renseignements sur les clients directement auprès de ses clients. FIRMA Corporation Cambiste peut recueillir des renseignements sur les clients d'autres personnes avec le consentement du client ou tel qu'autorisé par la Loi.</p>

      <p>FIRMA Corporation Cambiste informe ses clients des fins pour lesquelles elle recueille les renseignements personnels, avant ou au moment de recueillir ces renseignements. L'exception à cette règle est lorsque le client propose de l'information volontairement pour une fin évidente (dans ce cas, le consentement du client est supposé) ou dans des circonstances particulières où la collecte, l'utilisation ou la divulgation sans consentement est autorisée ou exigée par la Loi.</p>

      <p>FIRMA Corporation Cambiste peut demander le consentement de ses clients à certaines fins, mais peut ne pas être en mesure de fournir certains services si le client n'est pas disposé à consentir à la collecte, à l'utilisation ou à la divulgation de certains renseignements. Lorsque le consentement explicite du client est nécessaire, FIRMA Corporation Cambiste demandera normalement aux clients de fournir un consentement verbal (à savoir, en personne, par téléphone), par écrit (à savoir, en signant un formulaire de consentement, en cochant une case sur un formulaire) ou par voie électronique (à savoir, en cliquant sur un bouton).</p>

      <p>Un client peut retirer son consentement à l'utilisation et à la divulgation des renseignements personnels en tout temps, à moins que ces renseignements personnels ne soient nécessaires pour que FIRMA Corporation Cambiste puisse remplir ses obligations légales. FIRMA Corporation Cambiste respectera votre décision, mais peut ne pas être en mesure de vous offrir certains produits et services si elle ne possède pas les renseignements personnels nécessaires.</p>

      <p>FIRMA Corporation Cambiste peut recueillir, utiliser ou divulguer les renseignements personnels et confidentiels des clients sans consentement seulement si la Loi l'autorise. Par exemple, FIRMA Corporation Cambiste peut ne pas demander de consentement lorsque la collecte, l'utilisation ou la divulgation est raisonnable aux fins d'une enquête ou d'une procédure judiciaire; par exemple, dans le cas du recouvrement d'une créance en souffrance, dans une situation d'urgence qui met en danger la vie, la santé ou la sécurité, ou lorsque les renseignements personnels sont extraits d'un annuaire téléphonique public.</p>


      <h2>Utilisation des renseignements confidentiels</h2>

      <p>FIRMA Corporation Cambiste utilise et divulgue des renseignements sur les clients seulement aux fins auxquelles les renseignements ont été recueillis, sauf dans les cas autorisés par la Loi. Par exemple, FIRMA Corporation Cambiste peut utiliser les coordonnées du client pour s'assurer qu’il reçoit le meilleur service possible. La Loi permet aussi à FIRMA Corporation Cambiste d'utiliser ces coordonnées aux fins du recouvrement d'une créance en souffrance, le cas échéant.</p>

      <p>FIRMA Corporation Cambiste ne ménage aucun effort raisonnable pour s'assurer que les renseignements sur le client sont exacts et complets. FIRMA Corporation Cambiste compte sur le client pour qu'il l'avise de tout changement lié à ses renseignements qui peut influer sur sa relation avec FIRMA Corporation Cambiste. Dans certains cas, FIRMA Corporation Cambiste peut exiger une demande de correction par écrit.</p>


      <h2>Sécurité</h2>

      <p>FIRMA Corporation Cambiste protège les renseignements sur les clients d'une manière appropriée en raison de la confidentialité de l'information et tel que requis par les lois en vigueur. Les renseignements sur les clients sont enregistrés en format électronique, dans un système informatique hautement sécurisé qui ne peut être consulté que par des personnes à l'emploi de FIRMA Corporation Cambiste. Les documents papier sont stockés dans une installation d’entreposage protégée et conservés aussi longtemps que la Loi l'exige. FIRMA Corporation Cambiste ne ménage aucun effort raisonnable pour prévenir toute perte, mauvaise utilisation, divulgation ou modification des renseignements personnels, ainsi que tout accès non autorisé à de tels renseignements. Le maintien de la sécurité des renseignements personnels et confidentiels est d'une importance capitale pour FIRMA Corporation Cambiste.</p>

      <p>FIRMA Corporation Cambiste utilise des mesures de sécurité appropriées pour détruire les renseignements sur les clients, incluant le déchiquetage des dossiers papier et la suppression définitive des documents électroniques. FIRMA Corporation Cambiste conserve les renseignements personnels des clients aussi longtemps qu'il est raisonnable pour atteindre les fins auxquelles les renseignements ont été recueillis, ou à des fins juridiques ou commerciales.</p>


      <h2>Droits d'accès</h2>

      <p>Les clients de FIRMA Corporation Cambiste ont un droit d'accès à leurs propres renseignements personnels stockés dans un dossier sous la garde ou le contrôle de FIRMA Corporation Cambiste, sous réserve de certaines exceptions. Par exemple, FIRMA Corporation Cambiste peut refuser de fournir l’accès à de l'information qui pourrait révéler des renseignements personnels concernant une autre personne ou société. L'accès peut également être refusé si l'information est privilégiée ou se trouve dans des dossiers de médiation.</p>

      <p>Si FIRMA Corporation Cambiste refuse d'accéder à une demande en tout ou en partie, elle en fournira les raisons. Dans certains cas, lorsque des exceptions à l'accès s'appliquent, FIRMA Corporation Cambiste peut retenir l'information en cause et fournir au client le reste du dossier.</p>

      <p>Bien que FIRMA Corporation Cambiste s'efforce de répondre à chaque demande aussitôt que possible, la récupération des renseignements peut prendre jusqu'à 45 jours. FIRMA Corporation Cambiste peut imputer des frais raisonnables pour fournir les renseignements, mais non pour apporter une correction. FIRMA Corporation Cambiste vous informera de tout frais pouvant s'appliquer avant de commencer à traiter votre demande.</p>

      <p>Si vous avez des questions ou des préoccupations au sujet de toute collecte, utilisation ou divulgation de renseignements personnels par FIRMA Corporation Cambiste, ou d'une demande d'accès à vos renseignements personnels, veuillez communiquer avec votre FIRMA Corporation Cambiste local.</p>

    </section>

  </div>

</div>

{{/content}}
{{/extend}}