/// Vertical center align - relative
@mixin vertical-center-relative() {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

/// Vertical center align - absolute
@mixin vertical-center-absolute() {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

/* Keyframes for the slide-in and slide-out */
@keyframes slideIn {
  from { transform: translateY(20em); }
  to { transform: translateY(0); }
}
@keyframes slideOut {
  from { transform: translateY(0); }
  to { transform: translateY(-20em); }
}

@mixin slideAnimation() {
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@mixin slideIn($delay: 0) {
  animation: slideIn ease-in 1;
  @include slideAnimation;
  transform: translateY(0);
}

@mixin slideOut($delay: 0) {
  animation: slideOut ease-in 1;
  @include slideAnimation;
  transform: translateY(-20em);
}

@mixin firmaIcon() {
  font-family: 'firma-icons';
  font-size: .5em;
  margin-left: .75em;
  position: relative;
  top: -0.25em;
  border: 0;
}

@mixin firmaSymbol($icon) {
  @if $icon == playvideo {
    content: '\e903';
  }
  @if $icon == quote {
    content: '\e900';
  }
  @if $icon == close {
    content: '\e907';
  }
  @if $icon == cross {
    content: '\ea0f';
  }
  @if $icon == cross {
    content: '\ea0f';
  }
  @if $icon == chevron-right {
    content: '\e905';
  }
  @if $icon == chevron-down {
    content: '\e908';
  }
  @if $icon == plus {
    content: '\ea0a';
  }
  @if $icon == minus {
    content: '\ea0b';
  }
}

@mixin accordionIcon($state) {
  @include firmaIcon();
  @include accordionSymbol($state);
}

@mixin accordionSymbol($state) {
  @if $state == closed {
    content: '\ea0a';
  }
  @if $state == open {
    content: '\ea0b';
  }
}