$icon-font-path: '../fonts/';

/// Fonts
$main-body-font: 'circular', Helvetica, Arial, sans-serif;
$secondary-font: Georgia, "Times new Roman", serif;
$icon-font: 'firma-icons';

/// Colours
$black: #000000;
$white: #ffffff;
$grey: #5c5c5c;
$blue: #0099ff;
$firma-purple: #633a94;
$firma-blue: #00abdf;

$nav-link-color: rgba($white, .5);
$nav-link-color-dark: rgba($black, .5);
$lighten-grey: lighten($black, 90%);
$background-grey: lighten($black, 96%);

/// Sizes
$header-height: 6em;
$footer-height: 11em;
$content-padding: 2.5em;
$content-padding-vertical: 3.125em;

// Styles
$item-shadow: 0px 0px 5px 0px rgba($lighten-grey, 0.7);
$nav-shadow: 0px 0px 75px 25px rgba(0,0,0,0.5);