.access {
    //display: block;
    //overflow: hidden;
    background-repeat: no-repeat;
    background-image: url("../../images/handwriting-sprites/access.png");
    background-size: 873px 491px;
    width: 104px;
    height: 48px;
    margin-bottom:.9em;
    @include media-breakpoint-down(sm) { // Phablet and below
        margin-bottom:.4em;
    }
    
    &.frame_00000 {
        background-position: -655px -393px;
        width: 108px;
        height: 48px;
    }

    &.frame_00001 {
        background-position: -764px -344px;
        width: 108px;
        height: 48px;
    }

    &.frame_00002 {
        background-position: -655px -344px;
        width: 108px;
        height: 48px;
    }

    &.frame_00003 {
        background-position: -764px -295px;
        width: 108px;
        height: 48px;
    }

    &.frame_00004 {
        background-position: -655px -295px;
        width: 108px;
        height: 48px;
    }

    &.frame_00005 {
        background-position: -546px -442px;
        width: 108px;
        height: 48px;
    }

    &.frame_00006 {
        background-position: -546px -393px;
        width: 108px;
        height: 48px;
    }

    &.frame_00007 {
        background-position: -546px -344px;
        width: 108px;
        height: 48px;
    }

    &.frame_00008 {
        background-position: -546px -295px;
        width: 108px;
        height: 48px;
    }

    &.frame_00009 {
        background-position: -764px -246px;
        width: 108px;
        height: 48px;
    }

    &.frame_00010 {
        background-position: -655px -246px;
        width: 108px;
        height: 48px;
    }

    &.frame_00011 {
        background-position: -546px -246px;
        width: 108px;
        height: 48px;
    }

    &.frame_00012 {
        background-position: -764px -197px;
        width: 108px;
        height: 48px;
    }

    &.frame_00013 {
        background-position: -655px -197px;
        width: 108px;
        height: 48px;
    }

    &.frame_00014 {
        background-position: -546px -197px;
        width: 108px;
        height: 48px;
    }

    &.frame_00015 {
        background-position: -437px -442px;
        width: 108px;
        height: 48px;
    }

    &.frame_00016 {
        background-position: -437px -393px;
        width: 108px;
        height: 48px;
    }

    &.frame_00017 {
        background-position: -437px -344px;
        width: 108px;
        height: 48px;
    }

    &.frame_00018 {
        background-position: -437px -295px;
        width: 108px;
        height: 48px;
    }

    &.frame_00019 {
        background-position: -437px -295px;
        width: 108px;
        height: 48px;
    }

    &.frame_00020 {
        background-position: -437px -295px;
        width: 108px;
        height: 48px;
    }

    &.frame_00021 {
        background-position: -437px -246px;
        width: 108px;
        height: 48px;
    }

    &.frame_00022 {
        background-position: -437px -197px;
        width: 108px;
        height: 48px;
    }

    &.frame_00023 {
        background-position: -764px -148px;
        width: 108px;
        height: 48px;
    }

    &.frame_00024 {
        background-position: -655px -148px;
        width: 108px;
        height: 48px;
    }

    &.frame_00025 {
        background-position: -546px -148px;
        width: 108px;
        height: 48px;
    }

    &.frame_00026 {
        background-position: -437px -148px;
        width: 108px;
        height: 48px;
    }

    &.frame_00027 {
        background-position: -764px -99px;
        width: 108px;
        height: 48px;
    }

    &.frame_00028 {
        background-position: -655px -99px;
        width: 108px;
        height: 48px;
    }

    &.frame_00029 {
        background-position: -546px -99px;
        width: 108px;
        height: 48px;
    }

    &.frame_00030 {
        background-position: -437px -99px;
        width: 108px;
        height: 48px;
    }

    &.frame_00031 {
        background-position: -328px -442px;
        width: 108px;
        height: 48px;
    }

    &.frame_00032 {
        background-position: -328px -393px;
        width: 108px;
        height: 48px;
    }

    &.frame_00033 {
        background-position: -328px -344px;
        width: 108px;
        height: 48px;
    }

    &.frame_00034 {
        background-position: -328px -295px;
        width: 108px;
        height: 48px;
    }

    &.frame_00035 {
        background-position: -328px -246px;
        width: 108px;
        height: 48px;
    }

    &.frame_00036 {
        background-position: -328px -197px;
        width: 108px;
        height: 48px;
    }

    &.frame_00037 {
        background-position: -328px -148px;
        width: 108px;
        height: 48px;
    }

    &.frame_00038 {
        background-position: -328px -99px;
        width: 108px;
        height: 48px;
    }

    &.frame_00039 {
        background-position: -764px -50px;
        width: 108px;
        height: 48px;
    }

    &.frame_00040 {
        background-position: -655px -50px;
        width: 108px;
        height: 48px;
    }

    &.frame_00041 {
        background-position: -546px -50px;
        width: 108px;
        height: 48px;
    }

    &.frame_00042 {
        background-position: -437px -50px;
        width: 108px;
        height: 48px;
    }

    &.frame_00043 {
        background-position: -328px -50px;
        width: 108px;
        height: 48px;
    }

    &.frame_00044 {
        background-position: -764px -1px;
        width: 108px;
        height: 48px;
    }

    &.frame_00045 {
        background-position: -655px -1px;
        width: 108px;
        height: 48px;
    }

    &.frame_00046 {
        background-position: -546px -1px;
        width: 108px;
        height: 48px;
    }

    &.frame_00047 {
        background-position: -437px -1px;
        width: 108px;
        height: 48px;
    }

    &.frame_00048 {
        background-position: -328px -1px;
        width: 108px;
        height: 48px;
    }

    &.frame_00049 {
        background-position: -219px -442px;
        width: 108px;
        height: 48px;
    }

    &.frame_00050 {
        background-position: -219px -393px;
        width: 108px;
        height: 48px;
    }

    &.frame_00051 {
        background-position: -219px -344px;
        width: 108px;
        height: 48px;
    }

    &.frame_00052 {
        background-position: -219px -295px;
        width: 108px;
        height: 48px;
    }

    &.frame_00053 {
        background-position: -219px -246px;
        width: 108px;
        height: 48px;
    }

    &.frame_00054 {
        background-position: -219px -197px;
        width: 108px;
        height: 48px;
    }

    &.frame_00055 {
        background-position: -219px -148px;
        width: 108px;
        height: 48px;
    }

    &.frame_00056 {
        background-position: -219px -99px;
        width: 108px;
        height: 48px;
    }

    &.frame_00057 {
        background-position: -219px -50px;
        width: 108px;
        height: 48px;
    }

    &.frame_00058 {
        background-position: -219px -1px;
        width: 108px;
        height: 48px;
    }

    &.frame_00059 {
        background-position: -110px -442px;
        width: 108px;
        height: 48px;
    }

    &.frame_00060 {
        background-position: -110px -393px;
        width: 108px;
        height: 48px;
    }

    &.frame_00061 {
        background-position: -110px -344px;
        width: 108px;
        height: 48px;
    }

    &.frame_00062 {
        background-position: -110px -295px;
        width: 108px;
        height: 48px;
    }

    &.frame_00063 {
        background-position: -110px -246px;
        width: 108px;
        height: 48px;
    }

    &.frame_00064 {
        background-position: -110px -197px;
        width: 108px;
        height: 48px;
    }

    &.frame_00065 {
        background-position: -110px -148px;
        width: 108px;
        height: 48px;
    }

    &.frame_00066 {
        background-position: -110px -99px;
        width: 108px;
        height: 48px;
    }

    &.frame_00067 {
        background-position: -110px -50px;
        width: 108px;
        height: 48px;
    }

    &.frame_00068 {
        background-position: -110px -1px;
        width: 108px;
        height: 48px;
    }

    &.frame_00069 {
        background-position: -1px -442px;
        width: 108px;
        height: 48px;
    }

    &.frame_00070 {
        background-position: -1px -393px;
        width: 108px;
        height: 48px;
    }

    &.frame_00071 {
        background-position: -1px -344px;
        width: 108px;
        height: 48px;
    }

    &.frame_00072 {
        background-position: -1px -295px;
        width: 108px;
        height: 48px;
    }

    &.frame_00073 {
        background-position: -1px -246px;
        width: 108px;
        height: 48px;
    }

    &.frame_00074 {
        background-position: -1px -197px;
        width: 108px;
        height: 48px;
    }

    &.frame_00075 {
        background-position: -1px -148px;
        width: 108px;
        height: 48px;
    }

    &.frame_00076 {
        background-position: -1px -99px;
        width: 108px;
        height: 48px;
    }

    &.frame_00077 {
        background-position: -1px -50px;
        width: 108px;
        height: 48px;
    }

    &.frame_00078 {
        background-position: -1px -1px;
        width: 108px;
        height: 48px;
    }

    &.frame_00079 {
        background-position: -1px -1px;
        width: 108px;
        height: 48px;
    }

    &.frame_00080 {
        background-position: -1px -1px;
        width: 108px;
        height: 48px;
    }

}
