

.access-fr {
    display: block;
    overflow: hidden;
    background-repeat: no-repeat;
    background-image: url("../../images/handwriting-sprites/fr/access.png");
    background-size: 1024px 330px;
    width: 93px;
    height: 46px;
    margin-bottom: .9em;
    @include media-breakpoint-down(sm) { // Phablet and below
        margin-bottom:.6em;
    }

    &.frame_00000 {
        background-position: -931px -283px;
        width: 92px;
        height: 46px;
    }

    &.frame_00001 {
        background-position: -838px -283px;
        width: 92px;
        height: 46px;
    }

    &.frame_00002 {
        background-position: -931px -236px;
        width: 92px;
        height: 46px;
    }

    &.frame_00003 {
        background-position: -838px -236px;
        width: 92px;
        height: 46px;
    }

    &.frame_00004 {
        background-position: -931px -189px;
        width: 92px;
        height: 46px;
    }

    &.frame_00005 {
        background-position: -838px -189px;
        width: 92px;
        height: 46px;
    }

    &.frame_00006 {
        background-position: -745px -283px;
        width: 92px;
        height: 46px;
    }

    &.frame_00007 {
        background-position: -745px -236px;
        width: 92px;
        height: 46px;
    }

    &.frame_00008 {
        background-position: -745px -189px;
        width: 92px;
        height: 46px;
    }

    &.frame_00009 {
        background-position: -931px -142px;
        width: 92px;
        height: 46px;
    }

    &.frame_00010 {
        background-position: -838px -142px;
        width: 92px;
        height: 46px;
    }

    &.frame_00011 {
        background-position: -745px -142px;
        width: 92px;
        height: 46px;
    }

    &.frame_00012 {
        background-position: -931px -95px;
        width: 92px;
        height: 46px;
    }

    &.frame_00013 {
        background-position: -838px -95px;
        width: 92px;
        height: 46px;
    }

    &.frame_00014 {
        background-position: -745px -95px;
        width: 92px;
        height: 46px;
    }

    &.frame_00015 {
        background-position: -652px -283px;
        width: 92px;
        height: 46px;
    }

    &.frame_00016 {
        background-position: -652px -236px;
        width: 92px;
        height: 46px;
    }

    &.frame_00017 {
        background-position: -652px -189px;
        width: 92px;
        height: 46px;
    }

    &.frame_00018 {
        background-position: -652px -142px;
        width: 92px;
        height: 46px;
    }

    &.frame_00019 {
        background-position: -652px -142px;
        width: 92px;
        height: 46px;
    }

    &.frame_00020 {
        background-position: -652px -142px;
        width: 92px;
        height: 46px;
    }

    &.frame_00021 {
        background-position: -652px -95px;
        width: 92px;
        height: 46px;
    }

    &.frame_00022 {
        background-position: -931px -48px;
        width: 92px;
        height: 46px;
    }

    &.frame_00023 {
        background-position: -838px -48px;
        width: 92px;
        height: 46px;
    }

    &.frame_00024 {
        background-position: -745px -48px;
        width: 92px;
        height: 46px;
    }

    &.frame_00025 {
        background-position: -652px -48px;
        width: 92px;
        height: 46px;
    }

    &.frame_00026 {
        background-position: -931px -1px;
        width: 92px;
        height: 46px;
    }

    &.frame_00027 {
        background-position: -838px -1px;
        width: 92px;
        height: 46px;
    }

    &.frame_00028 {
        background-position: -745px -1px;
        width: 92px;
        height: 46px;
    }

    &.frame_00029 {
        background-position: -652px -1px;
        width: 92px;
        height: 46px;
    }

    &.frame_00030 {
        background-position: -559px -283px;
        width: 92px;
        height: 46px;
    }

    &.frame_00031 {
        background-position: -559px -236px;
        width: 92px;
        height: 46px;
    }

    &.frame_00032 {
        background-position: -559px -189px;
        width: 92px;
        height: 46px;
    }

    &.frame_00033 {
        background-position: -559px -142px;
        width: 92px;
        height: 46px;
    }

    &.frame_00034 {
        background-position: -559px -95px;
        width: 92px;
        height: 46px;
    }

    &.frame_00035 {
        background-position: -559px -48px;
        width: 92px;
        height: 46px;
    }

    &.frame_00036 {
        background-position: -559px -1px;
        width: 92px;
        height: 46px;
    }

    &.frame_00037 {
        background-position: -466px -283px;
        width: 92px;
        height: 46px;
    }

    &.frame_00038 {
        background-position: -466px -236px;
        width: 92px;
        height: 46px;
    }

    &.frame_00039 {
        background-position: -466px -189px;
        width: 92px;
        height: 46px;
    }

    &.frame_00040 {
        background-position: -466px -142px;
        width: 92px;
        height: 46px;
    }

    &.frame_00041 {
        background-position: -466px -95px;
        width: 92px;
        height: 46px;
    }

    &.frame_00042 {
        background-position: -466px -48px;
        width: 92px;
        height: 46px;
    }

    &.frame_00043 {
        background-position: -466px -1px;
        width: 92px;
        height: 46px;
    }

    &.frame_00044 {
        background-position: -373px -283px;
        width: 92px;
        height: 46px;
    }

    &.frame_00045 {
        background-position: -373px -236px;
        width: 92px;
        height: 46px;
    }

    &.frame_00046 {
        background-position: -373px -189px;
        width: 92px;
        height: 46px;
    }

    &.frame_00047 {
        background-position: -373px -142px;
        width: 92px;
        height: 46px;
    }

    &.frame_00048 {
        background-position: -373px -95px;
        width: 92px;
        height: 46px;
    }

    &.frame_00049 {
        background-position: -373px -48px;
        width: 92px;
        height: 46px;
    }

    &.frame_00050 {
        background-position: -373px -1px;
        width: 92px;
        height: 46px;
    }

    &.frame_00051 {
        background-position: -280px -283px;
        width: 92px;
        height: 46px;
    }

    &.frame_00052 {
        background-position: -280px -236px;
        width: 92px;
        height: 46px;
    }

    &.frame_00053 {
        background-position: -280px -189px;
        width: 92px;
        height: 46px;
    }

    &.frame_00054 {
        background-position: -280px -142px;
        width: 92px;
        height: 46px;
    }

    &.frame_00055 {
        background-position: -280px -95px;
        width: 92px;
        height: 46px;
    }

    &.frame_00056 {
        background-position: -280px -48px;
        width: 92px;
        height: 46px;
    }

    &.frame_00057 {
        background-position: -280px -1px;
        width: 92px;
        height: 46px;
    }

    &.frame_00058 {
        background-position: -187px -283px;
        width: 92px;
        height: 46px;
    }

    &.frame_00059 {
        background-position: -187px -236px;
        width: 92px;
        height: 46px;
    }

    &.frame_00060 {
        background-position: -187px -189px;
        width: 92px;
        height: 46px;
    }

    &.frame_00061 {
        background-position: -187px -142px;
        width: 92px;
        height: 46px;
    }

    &.frame_00062 {
        background-position: -187px -95px;
        width: 92px;
        height: 46px;
    }

    &.frame_00063 {
        background-position: -187px -48px;
        width: 92px;
        height: 46px;
    }

    &.frame_00064 {
        background-position: -187px -1px;
        width: 92px;
        height: 46px;
    }

    &.frame_00065 {
        background-position: -94px -283px;
        width: 92px;
        height: 46px;
    }

    &.frame_00066 {
        background-position: -94px -236px;
        width: 92px;
        height: 46px;
    }

    &.frame_00067 {
        background-position: -94px -189px;
        width: 92px;
        height: 46px;
    }

    &.frame_00068 {
        background-position: -94px -142px;
        width: 92px;
        height: 46px;
    }

    &.frame_00069 {
        background-position: -94px -95px;
        width: 92px;
        height: 46px;
    }

    &.frame_00070 {
        background-position: -94px -48px;
        width: 92px;
        height: 46px;
    }

    &.frame_00071 {
        background-position: -94px -1px;
        width: 92px;
        height: 46px;
    }

    &.frame_00072 {
        background-position: -1px -283px;
        width: 92px;
        height: 46px;
    }

    &.frame_00073 {
        background-position: -1px -236px;
        width: 92px;
        height: 46px;
    }

    &.frame_00074 {
        background-position: -1px -189px;
        width: 92px;
        height: 46px;
    }

    &.frame_00075 {
        background-position: -1px -142px;
        width: 92px;
        height: 46px;
    }

    &.frame_00076 {
        background-position: -1px -95px;
        width: 92px;
        height: 46px;
    }

    &.frame_00077 {
        background-position: -1px -48px;
        width: 92px;
        height: 46px;
    }

    &.frame_00078 {
        background-position: -1px -1px;
        width: 92px;
        height: 46px;
    }

    &.frame_00079 {
        background-position: -1px -1px;
        width: 92px;
        height: 46px;
    }

    &.frame_00080 {
        background-position: -1px -1px;
        width: 92px;
        height: 46px;
    }

}
