.aspiration {
  &:lang(fr-ca) {
    background-image: url(../../images/handwriting-sprites/fr/aspiration.png);
    background-size: 786px 871px;
    width: 156px;
    height: 57px;
    margin-bottom: .2em; // additional padding required for text with small decenders

    &.frame_00000 {
      background-position: -629px -813px;
    }

    &.frame_00001 {
      background-position: -472px -813px;
    }

    &.frame_00002 {
      background-position: -629px -755px;
    }

    &.frame_00003 {
      background-position: -472px -755px;
    }

    &.frame_00004 {
      background-position: -629px -697px;
    }

    &.frame_00005 {
      background-position: -472px -697px;
    }

    &.frame_00006 {
      background-position: -629px -639px;
    }

    &.frame_00007 {
      background-position: -472px -639px;
    }

    &.frame_00008 {
      background-position: -315px -813px;
    }

    &.frame_00009 {
      background-position: -315px -755px;
    }

    &.frame_00010 {
      background-position: -315px -697px;
    }

    &.frame_00011 {
      background-position: -315px -639px;
    }

    &.frame_00012 {
      background-position: -629px -581px;
    }

    &.frame_00013 {
      background-position: -472px -581px;
    }

    &.frame_00014 {
      background-position: -315px -581px;
    }

    &.frame_00015 {
      background-position: -629px -523px;
    }

    &.frame_00016 {
      background-position: -629px -523px;
    }

    &.frame_00017 {
      background-position: -629px -523px;
    }

    &.frame_00018 {
      background-position: -629px -523px;
    }

    &.frame_00019 {
      background-position: -629px -523px;
    }

    &.frame_00020 {
      background-position: -629px -523px;
    }

    &.frame_00021 {
      background-position: -472px -523px;
    }

    &.frame_00022 {
      background-position: -315px -523px;
    }

    &.frame_00023 {
      background-position: -629px -465px;
    }

    &.frame_00024 {
      background-position: -472px -465px;
    }

    &.frame_00025 {
      background-position: -315px -465px;
    }

    &.frame_00026 {
      background-position: -158px -813px;
    }

    &.frame_00027 {
      background-position: -158px -755px;
    }

    &.frame_00028 {
      background-position: -158px -697px;
    }

    &.frame_00029 {
      background-position: -158px -639px;
    }

    &.frame_00030 {
      background-position: -158px -581px;
    }

    &.frame_00031 {
      background-position: -158px -523px;
    }

    &.frame_00032 {
      background-position: -158px -465px;
    }

    &.frame_00033 {
      background-position: -629px -407px;
    }

    &.frame_00034 {
      background-position: -472px -407px;
    }

    &.frame_00035 {
      background-position: -315px -407px;
    }

    &.frame_00036 {
      background-position: -158px -407px;
    }

    &.frame_00037 {
      background-position: -629px -349px;
    }

    &.frame_00038 {
      background-position: -472px -349px;
    }

    &.frame_00039 {
      background-position: -315px -349px;
    }

    &.frame_00040 {
      background-position: -158px -349px;
    }

    &.frame_00041 {
      background-position: -629px -291px;
    }

    &.frame_00042 {
      background-position: -472px -291px;
    }

    &.frame_00043 {
      background-position: -315px -291px;
    }

    &.frame_00044 {
      background-position: -158px -291px;
    }

    &.frame_00045 {
      background-position: -1px -813px;
    }

    &.frame_00046 {
      background-position: -1px -755px;
    }

    &.frame_00047 {
      background-position: -1px -697px;
    }

    &.frame_00048 {
      background-position: -1px -639px;
    }

    &.frame_00049 {
      background-position: -1px -581px;
    }

    &.frame_00050 {
      background-position: -1px -523px;
    }

    &.frame_00051 {
      background-position: -1px -465px;
    }

    &.frame_00052 {
      background-position: -1px -407px;
    }

    &.frame_00053 {
      background-position: -1px -349px;
    }

    &.frame_00054 {
      background-position: -1px -291px;
    }

    &.frame_00055 {
      background-position: -629px -233px;
    }

    &.frame_00056 {
      background-position: -472px -233px;
    }

    &.frame_00057 {
      background-position: -315px -233px;
    }

    &.frame_00058 {
      background-position: -158px -233px;
    }

    &.frame_00059 {
      background-position: -1px -233px;
    }

    &.frame_00060 {
      background-position: -629px -175px;
    }

    &.frame_00061 {
      background-position: -472px -175px;
    }

    &.frame_00062 {
      background-position: -315px -175px;
    }

    &.frame_00063 {
      background-position: -158px -175px;
    }

    &.frame_00064 {
      background-position: -1px -175px;
    }

    &.frame_00065 {
      background-position: -629px -117px;
    }

    &.frame_00066 {
      background-position: -629px -117px;
    }

    &.frame_00067 {
      background-position: -472px -117px;
    }

    &.frame_00068 {
      background-position: -315px -117px;
    }

    &.frame_00069 {
      background-position: -158px -117px;
    }

    &.frame_00070 {
      background-position: -1px -117px;
    }

    &.frame_00071 {
      background-position: -629px -59px;
    }

    &.frame_00072 {
      background-position: -472px -59px;
    }

    &.frame_00073 {
      background-position: -315px -59px;
    }

    &.frame_00074 {
      background-position: -158px -59px;
    }

    &.frame_00075 {
      background-position: -1px -59px;
    }

    &.frame_00076 {
      background-position: -629px -1px;
    }

    &.frame_00077 {
      background-position: -472px -1px;
    }

    &.frame_00078 {
      background-position: -315px -1px;
    }

    &.frame_00079 {
      background-position: -158px -1px;
    }

    &.frame_00080 {
      background-position: -1px -1px;
    }

  }
}
