.clarity {
  &:lang(fr-ca) {
    background-image: url(../../images/handwriting-sprites/fr/clarity.png);
    background-size: 967px 761px;
    width: 160px;
    height: 57px;

    &.frame_00000 {
      background-position: -806px -644px;
    }

    &.frame_00001 {
      background-position: -645px -644px;
    }

    &.frame_00002 {
      background-position: -806px -586px;
    }

    &.frame_00003 {
      background-position: -645px -586px;
    }

    &.frame_00004 {
      background-position: -806px -527px;
    }

    &.frame_00005 {
      background-position: -645px -527px;
    }

    &.frame_00006 {
      background-position: -484px -703px;
    }

    &.frame_00007 {
      background-position: -484px -644px;
    }

    &.frame_00008 {
      background-position: -484px -586px;
    }

    &.frame_00009 {
      background-position: -484px -527px;
    }

    &.frame_00010 {
      background-position: -806px -469px;
    }

    &.frame_00011 {
      background-position: -645px -469px;
    }

    &.frame_00012 {
      background-position: -484px -469px;
    }

    &.frame_00013 {
      background-position: -806px -410px;
    }

    &.frame_00014 {
      background-position: -645px -410px;
    }

    &.frame_00015 {
      background-position: -484px -410px;
    }

    &.frame_00016 {
      background-position: -484px -410px;
    }

    &.frame_00017 {
      background-position: -484px -410px;
    }

    &.frame_00018 {
      background-position: -484px -410px;
    }

    &.frame_00019 {
      background-position: -484px -410px;
    }

    &.frame_00020 {
      background-position: -484px -410px;
    }

    &.frame_00021 {
      background-position: -806px -352px;
    }

    &.frame_00022 {
      background-position: -645px -352px;
    }

    &.frame_00023 {
      background-position: -484px -352px;
    }

    &.frame_00024 {
      background-position: -323px -703px;
    }

    &.frame_00025 {
      background-position: -323px -644px;
    }

    &.frame_00026 {
      background-position: -323px -586px;
    }

    &.frame_00027 {
      background-position: -323px -527px;
    }

    &.frame_00028 {
      background-position: -323px -469px;
    }

    &.frame_00029 {
      background-position: -323px -410px;
    }

    &.frame_00030 {
      background-position: -323px -352px;
    }

    &.frame_00031 {
      background-position: -806px -293px;
    }

    &.frame_00032 {
      background-position: -645px -293px;
    }

    &.frame_00033 {
      background-position: -484px -293px;
    }

    &.frame_00034 {
      background-position: -323px -293px;
    }

    &.frame_00035 {
      background-position: -806px -235px;
    }

    &.frame_00036 {
      background-position: -645px -235px;
    }

    &.frame_00037 {
      background-position: -484px -235px;
    }

    &.frame_00038 {
      background-position: -323px -235px;
    }

    &.frame_00039 {
      background-position: -806px -176px;
    }

    &.frame_00040 {
      background-position: -645px -176px;
    }

    &.frame_00041 {
      background-position: -484px -176px;
    }

    &.frame_00042 {
      background-position: -323px -176px;
    }

    &.frame_00043 {
      background-position: -162px -703px;
    }

    &.frame_00044 {
      background-position: -162px -644px;
    }

    &.frame_00045 {
      background-position: -162px -586px;
    }

    &.frame_00046 {
      background-position: -162px -527px;
    }

    &.frame_00047 {
      background-position: -162px -469px;
    }

    &.frame_00048 {
      background-position: -162px -410px;
    }

    &.frame_00049 {
      background-position: -162px -352px;
    }

    &.frame_00050 {
      background-position: -162px -293px;
    }

    &.frame_00051 {
      background-position: -162px -235px;
    }

    &.frame_00052 {
      background-position: -162px -176px;
    }

    &.frame_00053 {
      background-position: -806px -118px;
    }

    &.frame_00054 {
      background-position: -645px -118px;
    }

    &.frame_00055 {
      background-position: -484px -118px;
    }

    &.frame_00056 {
      background-position: -323px -118px;
    }

    &.frame_00057 {
      background-position: -162px -118px;
    }

    &.frame_00058 {
      background-position: -806px -59px;
    }

    &.frame_00059 {
      background-position: -645px -59px;
    }

    &.frame_00060 {
      background-position: -484px -59px;
    }

    &.frame_00061 {
      background-position: -323px -59px;
    }

    &.frame_00062 {
      background-position: -162px -59px;
    }

    &.frame_00063 {
      background-position: -806px -1px;
    }

    &.frame_00064 {
      background-position: -645px -1px;
    }

    &.frame_00065 {
      background-position: -484px -1px;
    }

    &.frame_00066 {
      background-position: -323px -1px;
    }

    &.frame_00067 {
      background-position: -162px -1px;
    }

    &.frame_00068 {
      background-position: -1px -703px;
    }

    &.frame_00069 {
      background-position: -1px -644px;
    }

    &.frame_00070 {
      background-position: -1px -586px;
    }

    &.frame_00071 {
      background-position: -1px -527px;
    }

    &.frame_00072 {
      background-position: -1px -469px;
    }

    &.frame_00073 {
      background-position: -1px -410px;
    }

    &.frame_00074 {
      background-position: -1px -352px;
    }

    &.frame_00075 {
      background-position: -1px -293px;
    }

    &.frame_00076 {
      background-position: -1px -235px;
    }

    &.frame_00077 {
      background-position: -1px -176px;
    }

    &.frame_00078 {
      background-position: -1px -118px;
    }

    &.frame_00079 {
      background-position: -1px -59px;
    }

    &.frame_00080 {
      background-position: -1px -1px;
    }
  }
}
