.clarity {
  background-image: url("../../images/handwriting-sprites/clarity.png");
  background-size: 953px 641px;
  width: 118px;
  height: 63px;

  &.frame_00000 {
    background-position: -834px -577px;
  }

  &.frame_00001 {
    background-position: -715px -577px;
  }

  &.frame_00002 {
    background-position: -834px -513px;
  }

  &.frame_00003 {
    background-position: -715px -513px;
  }

  &.frame_00004 {
    background-position: -834px -449px;
  }

  &.frame_00005 {
    background-position: -715px -449px;
  }

  &.frame_00006 {
    background-position: -596px -577px;
  }

  &.frame_00007 {
    background-position: -596px -513px;
  }

  &.frame_00008 {
    background-position: -596px -449px;
  }

  &.frame_00009 {
    background-position: -834px -385px;
  }

  &.frame_00010 {
    background-position: -715px -385px;
  }

  &.frame_00011 {
    background-position: -596px -385px;
  }

  &.frame_00012 {
    background-position: -834px -321px;
  }

  &.frame_00013 {
    background-position: -715px -321px;
  }

  &.frame_00014 {
    background-position: -596px -321px;
  }

  &.frame_00015 {
    background-position: -477px -577px;
  }

  &.frame_00016 {
    background-position: -477px -513px;
  }

  &.frame_00017 {
    background-position: -477px -449px;
  }

  &.frame_00018 {
    background-position: -477px -385px;
  }

  &.frame_00019 {
    background-position: -477px -321px;
  }

  &.frame_00020 {
    background-position: -477px -321px;
  }

  &.frame_00021 {
    background-position: -834px -257px;
  }

  &.frame_00022 {
    background-position: -715px -257px;
  }

  &.frame_00023 {
    background-position: -596px -257px;
  }

  &.frame_00024 {
    background-position: -477px -257px;
  }

  &.frame_00025 {
    background-position: -834px -193px;
  }

  &.frame_00026 {
    background-position: -715px -193px;
  }

  &.frame_00027 {
    background-position: -596px -193px;
  }

  &.frame_00028 {
    background-position: -477px -193px;
  }

  &.frame_00029 {
    background-position: -358px -577px;
  }

  &.frame_00030 {
    background-position: -358px -513px;
  }

  &.frame_00031 {
    background-position: -358px -449px;
  }

  &.frame_00032 {
    background-position: -358px -385px;
  }

  &.frame_00033 {
    background-position: -358px -321px;
  }

  &.frame_00034 {
    background-position: -358px -257px;
  }

  &.frame_00035 {
    background-position: -358px -193px;
  }

  &.frame_00036 {
    background-position: -834px -129px;
  }

  &.frame_00037 {
    background-position: -715px -129px;
  }

  &.frame_00038 {
    background-position: -596px -129px;
  }

  &.frame_00039 {
    background-position: -477px -129px;
  }

  &.frame_00040 {
    background-position: -358px -129px;
  }

  &.frame_00041 {
    background-position: -834px -65px;
  }

  &.frame_00042 {
    background-position: -715px -65px;
  }

  &.frame_00043 {
    background-position: -596px -65px;
  }

  &.frame_00044 {
    background-position: -477px -65px;
  }

  &.frame_00045 {
    background-position: -358px -65px;
  }

  &.frame_00046 {
    background-position: -239px -577px;
  }

  &.frame_00047 {
    background-position: -239px -513px;
  }

  &.frame_00048 {
    background-position: -239px -449px;
  }

  &.frame_00049 {
    background-position: -239px -385px;
  }

  &.frame_00050 {
    background-position: -239px -321px;
  }

  &.frame_00051 {
    background-position: -239px -257px;
  }

  &.frame_00052 {
    background-position: -239px -193px;
  }

  &.frame_00053 {
    background-position: -239px -129px;
  }

  &.frame_00054 {
    background-position: -239px -65px;
  }

  &.frame_00055 {
    background-position: -834px -1px;
  }

  &.frame_00056 {
    background-position: -715px -1px;
  }

  &.frame_00057 {
    background-position: -596px -1px;
  }

  &.frame_00058 {
    background-position: -477px -1px;
  }

  &.frame_00059 {
    background-position: -358px -1px;
  }

  &.frame_00060 {
    background-position: -239px -1px;
  }

  &.frame_00061 {
    background-position: -120px -577px;
  }

  &.frame_00062 {
    background-position: -120px -513px;
  }

  &.frame_00063 {
    background-position: -120px -449px;
  }

  &.frame_00064 {
    background-position: -120px -385px;
  }

  &.frame_00065 {
    background-position: -120px -321px;
  }

  &.frame_00066 {
    background-position: -120px -257px;
  }

  &.frame_00067 {
    background-position: -120px -193px;
  }

  &.frame_00068 {
    background-position: -120px -129px;
  }

  &.frame_00069 {
    background-position: -120px -65px;
  }

  &.frame_00070 {
    background-position: -120px -1px;
  }

  &.frame_00071 {
    background-position: -1px -577px;
  }

  &.frame_00072 {
    background-position: -1px -513px;
  }

  &.frame_00073 {
    background-position: -1px -449px;
  }

  &.frame_00074 {
    background-position: -1px -385px;
  }

  &.frame_00075 {
    background-position: -1px -321px;
  }

  &.frame_00076 {
    background-position: -1px -257px;
  }

  &.frame_00077 {
    background-position: -1px -193px;
  }

  &.frame_00078 {
    background-position: -1px -129px;
  }

  &.frame_00079 {
    background-position: -1px -65px;
  }

  &.frame_00080 {
    background-position: -1px -1px;
  }

}
