.diligence {
  &:lang(fr-ca) {
    background-image: url(../../images/handwriting-sprites/fr/diligence.png);
    background-size: 621px 989px;
    width: 154px;
    height: 51px;
    margin-bottom: .6em; // additional padding required for text without any decenders

    &.frame_00000 {
      background-position: -311px -937px;
    }

    &.frame_00001 {
      background-position: -466px -885px;
    }

    &.frame_00002 {
      background-position: -311px -885px;
    }

    &.frame_00003 {
      background-position: -466px -833px;
    }

    &.frame_00004 {
      background-position: -311px -833px;
    }

    &.frame_00005 {
      background-position: -466px -781px;
    }

    &.frame_00006 {
      background-position: -311px -781px;
    }

    &.frame_00007 {
      background-position: -156px -937px;
    }

    &.frame_00008 {
      background-position: -156px -885px;
    }

    &.frame_00009 {
      background-position: -156px -833px;
    }

    &.frame_00010 {
      background-position: -156px -781px;
    }

    &.frame_00011 {
      background-position: -466px -729px;
    }

    &.frame_00012 {
      background-position: -311px -729px;
    }

    &.frame_00013 {
      background-position: -156px -729px;
    }

    &.frame_00014 {
      background-position: -466px -677px;
    }

    &.frame_00015 {
      background-position: -311px -677px;
    }

    &.frame_00016 {
      background-position: -311px -677px;
    }

    &.frame_00017 {
      background-position: -311px -677px;
    }

    &.frame_00018 {
      background-position: -311px -677px;
    }

    &.frame_00019 {
      background-position: -311px -677px;
    }

    &.frame_00020 {
      background-position: -311px -677px;
    }

    &.frame_00021 {
      background-position: -156px -677px;
    }

    &.frame_00022 {
      background-position: -466px -625px;
    }

    &.frame_00023 {
      background-position: -311px -625px;
    }

    &.frame_00024 {
      background-position: -156px -625px;
    }

    &.frame_00025 {
      background-position: -1px -937px;
    }

    &.frame_00026 {
      background-position: -1px -885px;
    }

    &.frame_00027 {
      background-position: -1px -833px;
    }

    &.frame_00028 {
      background-position: -1px -781px;
    }

    &.frame_00029 {
      background-position: -1px -729px;
    }

    &.frame_00030 {
      background-position: -1px -677px;
    }

    &.frame_00031 {
      background-position: -1px -625px;
    }

    &.frame_00032 {
      background-position: -466px -573px;
    }

    &.frame_00033 {
      background-position: -311px -573px;
    }

    &.frame_00034 {
      background-position: -156px -573px;
    }

    &.frame_00035 {
      background-position: -1px -573px;
    }

    &.frame_00036 {
      background-position: -466px -521px;
    }

    &.frame_00037 {
      background-position: -311px -521px;
    }

    &.frame_00038 {
      background-position: -156px -521px;
    }

    &.frame_00039 {
      background-position: -1px -521px;
    }

    &.frame_00040 {
      background-position: -466px -469px;
    }

    &.frame_00041 {
      background-position: -311px -469px;
    }

    &.frame_00042 {
      background-position: -156px -469px;
    }

    &.frame_00043 {
      background-position: -1px -469px;
    }

    &.frame_00044 {
      background-position: -466px -417px;
    }

    &.frame_00045 {
      background-position: -311px -417px;
    }

    &.frame_00046 {
      background-position: -156px -417px;
    }

    &.frame_00047 {
      background-position: -1px -417px;
    }

    &.frame_00048 {
      background-position: -466px -365px;
    }

    &.frame_00049 {
      background-position: -311px -365px;
    }

    &.frame_00050 {
      background-position: -156px -365px;
    }

    &.frame_00051 {
      background-position: -1px -365px;
    }

    &.frame_00052 {
      background-position: -466px -313px;
    }

    &.frame_00053 {
      background-position: -311px -313px;
    }

    &.frame_00054 {
      background-position: -156px -313px;
    }

    &.frame_00055 {
      background-position: -1px -313px;
    }

    &.frame_00056 {
      background-position: -466px -261px;
    }

    &.frame_00057 {
      background-position: -311px -261px;
    }

    &.frame_00058 {
      background-position: -156px -261px;
    }

    &.frame_00059 {
      background-position: -1px -261px;
    }

    &.frame_00060 {
      background-position: -466px -209px;
    }

    &.frame_00061 {
      background-position: -311px -209px;
    }

    &.frame_00062 {
      background-position: -156px -209px;
    }

    &.frame_00063 {
      background-position: -1px -209px;
    }

    &.frame_00064 {
      background-position: -466px -157px;
    }

    &.frame_00065 {
      background-position: -311px -157px;
    }

    &.frame_00066 {
      background-position: -156px -157px;
    }

    &.frame_00067 {
      background-position: -1px -157px;
    }

    &.frame_00068 {
      background-position: -466px -105px;
    }

    &.frame_00069 {
      background-position: -311px -105px;
    }

    &.frame_00070 {
      background-position: -156px -105px;
    }

    &.frame_00071 {
      background-position: -1px -105px;
    }

    &.frame_00072 {
      background-position: -466px -53px;
    }

    &.frame_00073 {
      background-position: -311px -53px;
    }

    &.frame_00074 {
      background-position: -156px -53px;
    }

    &.frame_00075 {
      background-position: -1px -53px;
    }

    &.frame_00076 {
      background-position: -466px -1px;
    }

    &.frame_00077 {
      background-position: -311px -1px;
    }

    &.frame_00078 {
      background-position: -156px -1px;
    }

    &.frame_00079 {
      background-position: -1px -1px;
    }

    &.frame_00080 {
      background-position: -1px -1px;
    }
  }
}
