.diligence {
  background-image: url(../../images/handwriting-sprites/diligence.png);
  background-size: 961px 897px;
  width: 159px;
  height: 63px;

  &.frame_00000 {
    background-position: -801px -705px;
  }

  &.frame_00001 {
    background-position: -641px -705px;
  }

  &.frame_00002 {
    background-position: -801px -641px;
  }

  &.frame_00003 {
    background-position: -641px -641px;
  }

  &.frame_00004 {
    background-position: -481px -833px;
  }

  &.frame_00005 {
    background-position: -481px -769px;
  }

  &.frame_00006 {
    background-position: -481px -705px;
  }

  &.frame_00007 {
    background-position: -481px -641px;
  }

  &.frame_00008 {
    background-position: -801px -577px;
  }

  &.frame_00009 {
    background-position: -641px -577px;
  }

  &.frame_00010 {
    background-position: -481px -577px;
  }

  &.frame_00011 {
    background-position: -801px -513px;
  }

  &.frame_00012 {
    background-position: -641px -513px;
  }

  &.frame_00013 {
    background-position: -481px -513px;
  }

  &.frame_00014 {
    background-position: -321px -833px;
  }

  &.frame_00015 {
    background-position: -321px -769px;
  }

  &.frame_00016 {
    background-position: -321px -705px;
  }

  &.frame_00017 {
    background-position: -321px -641px;
  }

  &.frame_00018 {
    background-position: -321px -577px;
  }

  &.frame_00019 {
    background-position: -321px -513px;
  }

  &.frame_00020 {
    background-position: -321px -513px;
  }

  &.frame_00021 {
    background-position: -801px -449px;
  }

  &.frame_00022 {
    background-position: -641px -449px;
  }

  &.frame_00023 {
    background-position: -481px -449px;
  }

  &.frame_00024 {
    background-position: -321px -449px;
  }

  &.frame_00025 {
    background-position: -801px -385px;
  }

  &.frame_00026 {
    background-position: -641px -385px;
  }

  &.frame_00027 {
    background-position: -481px -385px;
  }

  &.frame_00028 {
    background-position: -321px -385px;
  }

  &.frame_00029 {
    background-position: -801px -321px;
  }

  &.frame_00030 {
    background-position: -641px -321px;
  }

  &.frame_00031 {
    background-position: -481px -321px;
  }

  &.frame_00032 {
    background-position: -321px -321px;
  }

  &.frame_00033 {
    background-position: -161px -833px;
  }

  &.frame_00034 {
    background-position: -161px -769px;
  }

  &.frame_00035 {
    background-position: -161px -705px;
  }

  &.frame_00036 {
    background-position: -161px -641px;
  }

  &.frame_00037 {
    background-position: -161px -577px;
  }

  &.frame_00038 {
    background-position: -161px -513px;
  }

  &.frame_00039 {
    background-position: -161px -449px;
  }

  &.frame_00040 {
    background-position: -161px -385px;
  }

  &.frame_00041 {
    background-position: -161px -321px;
  }

  &.frame_00042 {
    background-position: -801px -257px;
  }

  &.frame_00043 {
    background-position: -641px -257px;
  }

  &.frame_00044 {
    background-position: -481px -257px;
  }

  &.frame_00045 {
    background-position: -321px -257px;
  }

  &.frame_00046 {
    background-position: -161px -257px;
  }

  &.frame_00047 {
    background-position: -801px -193px;
  }

  &.frame_00048 {
    background-position: -641px -193px;
  }

  &.frame_00049 {
    background-position: -481px -193px;
  }

  &.frame_00050 {
    background-position: -321px -193px;
  }

  &.frame_00051 {
    background-position: -161px -193px;
  }

  &.frame_00052 {
    background-position: -1px -833px;
  }

  &.frame_00053 {
    background-position: -1px -769px;
  }

  &.frame_00054 {
    background-position: -1px -705px;
  }

  &.frame_00055 {
    background-position: -1px -641px;
  }

  &.frame_00056 {
    background-position: -1px -577px;
  }

  &.frame_00057 {
    background-position: -1px -513px;
  }

  &.frame_00058 {
    background-position: -1px -449px;
  }

  &.frame_00059 {
    background-position: -1px -385px;
  }

  &.frame_00060 {
    background-position: -1px -321px;
  }

  &.frame_00061 {
    background-position: -1px -257px;
  }

  &.frame_00062 {
    background-position: -1px -193px;
  }

  &.frame_00063 {
    background-position: -801px -129px;
  }

  &.frame_00064 {
    background-position: -641px -129px;
  }

  &.frame_00065 {
    background-position: -481px -129px;
  }

  &.frame_00066 {
    background-position: -321px -129px;
  }

  &.frame_00067 {
    background-position: -161px -129px;
  }

  &.frame_00068 {
    background-position: -1px -129px;
  }

  &.frame_00069 {
    background-position: -801px -65px;
  }

  &.frame_00070 {
    background-position: -641px -65px;
  }

  &.frame_00071 {
    background-position: -481px -65px;
  }

  &.frame_00072 {
    background-position: -321px -65px;
  }

  &.frame_00073 {
    background-position: -161px -65px;
  }

  &.frame_00074 {
    background-position: -1px -65px;
  }

  &.frame_00075 {
    background-position: -801px -1px;
  }

  &.frame_00076 {
    background-position: -641px -1px;
  }

  &.frame_00077 {
    background-position: -481px -1px;
  }

  &.frame_00078 {
    background-position: -321px -1px;
  }

  &.frame_00079 {
    background-position: -161px -1px;
  }

  &.frame_00080 {
    background-position: -1px -1px;
  }

}
