.engagement {
  background-image: url(../../images/handwriting-sprites/engagement.png);
  background-size: 901px 977px;
  width: 179px;
  height: 60px;

  &.frame_00000 {
    background-position: -721px -916px;
  }

  &.frame_00001 {
    background-position: -541px -916px;
  }

  &.frame_00002 {
    background-position: -721px -855px;
  }

  &.frame_00003 {
    background-position: -541px -855px;
  }

  &.frame_00004 {
    background-position: -721px -794px;
  }

  &.frame_00005 {
    background-position: -541px -794px;
  }

  &.frame_00006 {
    background-position: -721px -733px;
  }

  &.frame_00007 {
    background-position: -541px -733px;
  }

  &.frame_00008 {
    background-position: -361px -916px;
  }

  &.frame_00009 {
    background-position: -361px -855px;
  }

  &.frame_00010 {
    background-position: -361px -794px;
  }

  &.frame_00011 {
    background-position: -361px -733px;
  }

  &.frame_00012 {
    background-position: -721px -672px;
  }

  &.frame_00013 {
    background-position: -541px -672px;
  }

  &.frame_00014 {
    background-position: -361px -672px;
  }

  &.frame_00015 {
    background-position: -721px -611px;
  }

  &.frame_00016 {
    background-position: -541px -611px;
  }

  &.frame_00017 {
    background-position: -361px -611px;
  }

  &.frame_00018 {
    background-position: -721px -550px;
  }

  &.frame_00019 {
    background-position: -541px -550px;
  }

  &.frame_00020 {
    background-position: -541px -550px;
  }

  &.frame_00021 {
    background-position: -361px -550px;
  }

  &.frame_00022 {
    background-position: -181px -916px;
  }

  &.frame_00023 {
    background-position: -181px -855px;
  }

  &.frame_00024 {
    background-position: -181px -794px;
  }

  &.frame_00025 {
    background-position: -181px -733px;
  }

  &.frame_00026 {
    background-position: -181px -672px;
  }

  &.frame_00027 {
    background-position: -181px -611px;
  }

  &.frame_00028 {
    background-position: -181px -550px;
  }

  &.frame_00029 {
    background-position: -721px -489px;
  }

  &.frame_00030 {
    background-position: -541px -489px;
  }

  &.frame_00031 {
    background-position: -361px -489px;
  }

  &.frame_00032 {
    background-position: -181px -489px;
  }

  &.frame_00033 {
    background-position: -721px -428px;
  }

  &.frame_00034 {
    background-position: -541px -428px;
  }

  &.frame_00035 {
    background-position: -361px -428px;
  }

  &.frame_00036 {
    background-position: -181px -428px;
  }

  &.frame_00037 {
    background-position: -721px -367px;
  }

  &.frame_00038 {
    background-position: -541px -367px;
  }

  &.frame_00039 {
    background-position: -361px -367px;
  }

  &.frame_00040 {
    background-position: -181px -367px;
  }

  &.frame_00041 {
    background-position: -1px -916px;
  }

  &.frame_00042 {
    background-position: -1px -855px;
  }

  &.frame_00043 {
    background-position: -1px -794px;
  }

  &.frame_00044 {
    background-position: -1px -733px;
  }

  &.frame_00045 {
    background-position: -1px -672px;
  }

  &.frame_00046 {
    background-position: -1px -611px;
  }

  &.frame_00047 {
    background-position: -1px -550px;
  }

  &.frame_00048 {
    background-position: -1px -489px;
  }

  &.frame_00049 {
    background-position: -1px -428px;
  }

  &.frame_00050 {
    background-position: -1px -367px;
  }

  &.frame_00051 {
    background-position: -721px -306px;
  }

  &.frame_00052 {
    background-position: -541px -306px;
  }

  &.frame_00053 {
    background-position: -361px -306px;
  }

  &.frame_00054 {
    background-position: -181px -306px;
  }

  &.frame_00055 {
    background-position: -1px -306px;
  }

  &.frame_00056 {
    background-position: -721px -245px;
  }

  &.frame_00057 {
    background-position: -541px -245px;
  }

  &.frame_00058 {
    background-position: -361px -245px;
  }

  &.frame_00059 {
    background-position: -181px -245px;
  }

  &.frame_00060 {
    background-position: -1px -245px;
  }

  &.frame_00061 {
    background-position: -721px -184px;
  }

  &.frame_00062 {
    background-position: -541px -184px;
  }

  &.frame_00063 {
    background-position: -361px -184px;
  }

  &.frame_00064 {
    background-position: -181px -184px;
  }

  &.frame_00065 {
    background-position: -1px -184px;
  }

  &.frame_00066 {
    background-position: -721px -123px;
  }

  &.frame_00067 {
    background-position: -541px -123px;
  }

  &.frame_00068 {
    background-position: -361px -123px;
  }

  &.frame_00069 {
    background-position: -181px -123px;
  }

  &.frame_00070 {
    background-position: -1px -123px;
  }

  &.frame_00071 {
    background-position: -721px -62px;
  }

  &.frame_00072 {
    background-position: -541px -62px;
  }

  &.frame_00073 {
    background-position: -361px -62px;
  }

  &.frame_00074 {
    background-position: -181px -62px;
  }

  &.frame_00075 {
    background-position: -1px -62px;
  }

  &.frame_00076 {
    background-position: -721px -1px;
  }

  &.frame_00077 {
    background-position: -541px -1px;
  }

  &.frame_00078 {
    background-position: -361px -1px;
  }

  &.frame_00079 {
    background-position: -181px -1px;
  }

  &.frame_00080 {
    background-position: -1px -1px;
  }

}
