.everywhere {
  background-image: url(../../images/handwriting-sprites/everywhere.png);
  background-size: 916px 1009px;
  width: 182px;
  height: 62px;

  &.frame_00000 {
    background-position: -733px -946px;
  }

  &.frame_00001 {
    background-position: -550px -946px;
  }

  &.frame_00002 {
    background-position: -733px -883px;
  }

  &.frame_00003 {
    background-position: -550px -883px;
  }

  &.frame_00004 {
    background-position: -733px -820px;
  }

  &.frame_00005 {
    background-position: -550px -820px;
  }

  &.frame_00006 {
    background-position: -733px -757px;
  }

  &.frame_00007 {
    background-position: -550px -757px;
  }

  &.frame_00008 {
    background-position: -367px -946px;
  }

  &.frame_00009 {
    background-position: -367px -883px;
  }

  &.frame_00010 {
    background-position: -367px -820px;
  }

  &.frame_00011 {
    background-position: -367px -757px;
  }

  &.frame_00012 {
    background-position: -733px -694px;
  }

  &.frame_00013 {
    background-position: -550px -694px;
  }

  &.frame_00014 {
    background-position: -367px -694px;
  }

  &.frame_00015 {
    background-position: -733px -631px;
  }

  &.frame_00016 {
    background-position: -550px -631px;
  }

  &.frame_00017 {
    background-position: -367px -631px;
  }

  &.frame_00018 {
    background-position: -733px -568px;
  }

  &.frame_00019 {
    background-position: -550px -568px;
  }

  &.frame_00020 {
    background-position: -550px -568px;
  }

  &.frame_00021 {
    background-position: -367px -568px;
  }

  &.frame_00022 {
    background-position: -184px -946px;
  }

  &.frame_00023 {
    background-position: -184px -883px;
  }

  &.frame_00024 {
    background-position: -184px -820px;
  }

  &.frame_00025 {
    background-position: -184px -757px;
  }

  &.frame_00026 {
    background-position: -184px -694px;
  }

  &.frame_00027 {
    background-position: -184px -631px;
  }

  &.frame_00028 {
    background-position: -184px -568px;
  }

  &.frame_00029 {
    background-position: -733px -505px;
  }

  &.frame_00030 {
    background-position: -550px -505px;
  }

  &.frame_00031 {
    background-position: -367px -505px;
  }

  &.frame_00032 {
    background-position: -184px -505px;
  }

  &.frame_00033 {
    background-position: -733px -442px;
  }

  &.frame_00034 {
    background-position: -550px -442px;
  }

  &.frame_00035 {
    background-position: -367px -442px;
  }

  &.frame_00036 {
    background-position: -184px -442px;
  }

  &.frame_00037 {
    background-position: -733px -379px;
  }

  &.frame_00038 {
    background-position: -550px -379px;
  }

  &.frame_00039 {
    background-position: -367px -379px;
  }

  &.frame_00040 {
    background-position: -184px -379px;
  }

  &.frame_00041 {
    background-position: -1px -946px;
  }

  &.frame_00042 {
    background-position: -1px -883px;
  }

  &.frame_00043 {
    background-position: -1px -820px;
  }

  &.frame_00044 {
    background-position: -1px -757px;
  }

  &.frame_00045 {
    background-position: -1px -694px;
  }

  &.frame_00046 {
    background-position: -1px -631px;
  }

  &.frame_00047 {
    background-position: -1px -568px;
  }

  &.frame_00048 {
    background-position: -1px -505px;
  }

  &.frame_00049 {
    background-position: -1px -442px;
  }

  &.frame_00050 {
    background-position: -1px -379px;
  }

  &.frame_00051 {
    background-position: -733px -316px;
  }

  &.frame_00052 {
    background-position: -550px -316px;
  }

  &.frame_00053 {
    background-position: -367px -316px;
  }

  &.frame_00054 {
    background-position: -184px -316px;
  }

  &.frame_00055 {
    background-position: -1px -316px;
  }

  &.frame_00056 {
    background-position: -733px -253px;
  }

  &.frame_00057 {
    background-position: -550px -253px;
  }

  &.frame_00058 {
    background-position: -367px -253px;
  }

  &.frame_00059 {
    background-position: -184px -253px;
  }

  &.frame_00060 {
    background-position: -1px -253px;
  }

  &.frame_00061 {
    background-position: -733px -190px;
  }

  &.frame_00062 {
    background-position: -550px -190px;
  }

  &.frame_00063 {
    background-position: -367px -190px;
  }

  &.frame_00064 {
    background-position: -184px -190px;
  }

  &.frame_00065 {
    background-position: -1px -190px;
  }

  &.frame_00066 {
    background-position: -733px -127px;
  }

  &.frame_00067 {
    background-position: -550px -127px;
  }

  &.frame_00068 {
    background-position: -367px -127px;
  }

  &.frame_00069 {
    background-position: -184px -127px;
  }

  &.frame_00070 {
    background-position: -1px -127px;
  }

  &.frame_00071 {
    background-position: -733px -64px;
  }

  &.frame_00072 {
    background-position: -550px -64px;
  }

  &.frame_00073 {
    background-position: -367px -64px;
  }

  &.frame_00074 {
    background-position: -184px -64px;
  }

  &.frame_00075 {
    background-position: -1px -64px;
  }

  &.frame_00076 {
    background-position: -733px -1px;
  }

  &.frame_00077 {
    background-position: -550px -1px;
  }

  &.frame_00078 {
    background-position: -367px -1px;
  }

  &.frame_00079 {
    background-position: -184px -1px;
  }

  &.frame_00080 {
    background-position: -1px -1px;
  }

}
