.globalcommunity {
  background-image: url(../../images/handwriting-sprites/globalcommunity.png);
  background-size: 877px 463px;
  width: 145px;
  height: 32px;

  &.frame_00000 {
    background-position: -731px -364px;
  }

  &.frame_00001 {
    background-position: -585px -364px;
  }

  &.frame_00002 {
    background-position: -731px -331px;
  }

  &.frame_00003 {
    background-position: -585px -331px;
  }

  &.frame_00004 {
    background-position: -731px -298px;
  }

  &.frame_00005 {
    background-position: -585px -298px;
  }

  &.frame_00006 {
    background-position: -731px -265px;
  }

  &.frame_00007 {
    background-position: -585px -265px;
  }

  &.frame_00008 {
    background-position: -439px -430px;
  }

  &.frame_00009 {
    background-position: -439px -397px;
  }

  &.frame_00010 {
    background-position: -439px -364px;
  }

  &.frame_00011 {
    background-position: -439px -331px;
  }

  &.frame_00012 {
    background-position: -439px -298px;
  }

  &.frame_00013 {
    background-position: -439px -265px;
  }

  &.frame_00014 {
    background-position: -731px -232px;
  }

  &.frame_00015 {
    background-position: -585px -232px;
  }

  &.frame_00016 {
    background-position: -439px -232px;
  }

  &.frame_00017 {
    background-position: -731px -199px;
  }

  &.frame_00018 {
    background-position: -585px -199px;
  }

  &.frame_00019 {
    background-position: -439px -199px;
  }

  &.frame_00020 {
    background-position: -439px -199px;
  }

  &.frame_00021 {
    background-position: -731px -166px;
  }

  &.frame_00022 {
    background-position: -585px -166px;
  }

  &.frame_00023 {
    background-position: -439px -166px;
  }

  &.frame_00024 {
    background-position: -731px -133px;
  }

  &.frame_00025 {
    background-position: -585px -133px;
  }

  &.frame_00026 {
    background-position: -439px -133px;
  }

  &.frame_00027 {
    background-position: -293px -430px;
  }

  &.frame_00028 {
    background-position: -293px -397px;
  }

  &.frame_00029 {
    background-position: -293px -364px;
  }

  &.frame_00030 {
    background-position: -293px -331px;
  }

  &.frame_00031 {
    background-position: -293px -298px;
  }

  &.frame_00032 {
    background-position: -293px -265px;
  }

  &.frame_00033 {
    background-position: -293px -232px;
  }

  &.frame_00034 {
    background-position: -293px -199px;
  }

  &.frame_00035 {
    background-position: -293px -166px;
  }

  &.frame_00036 {
    background-position: -293px -133px;
  }

  &.frame_00037 {
    background-position: -731px -100px;
  }

  &.frame_00038 {
    background-position: -585px -100px;
  }

  &.frame_00039 {
    background-position: -439px -100px;
  }

  &.frame_00040 {
    background-position: -293px -100px;
  }

  &.frame_00041 {
    background-position: -731px -67px;
  }

  &.frame_00042 {
    background-position: -585px -67px;
  }

  &.frame_00043 {
    background-position: -439px -67px;
  }

  &.frame_00044 {
    background-position: -293px -67px;
  }

  &.frame_00045 {
    background-position: -731px -34px;
  }

  &.frame_00046 {
    background-position: -585px -34px;
  }

  &.frame_00047 {
    background-position: -439px -34px;
  }

  &.frame_00048 {
    background-position: -293px -34px;
  }

  &.frame_00049 {
    background-position: -731px -1px;
  }

  &.frame_00050 {
    background-position: -585px -1px;
  }

  &.frame_00051 {
    background-position: -439px -1px;
  }

  &.frame_00052 {
    background-position: -293px -1px;
  }

  &.frame_00053 {
    background-position: -147px -430px;
  }

  &.frame_00054 {
    background-position: -147px -397px;
  }

  &.frame_00055 {
    background-position: -147px -364px;
  }

  &.frame_00056 {
    background-position: -147px -331px;
  }

  &.frame_00057 {
    background-position: -147px -298px;
  }

  &.frame_00058 {
    background-position: -147px -265px;
  }

  &.frame_00059 {
    background-position: -147px -232px;
  }

  &.frame_00060 {
    background-position: -147px -199px;
  }

  &.frame_00061 {
    background-position: -147px -166px;
  }

  &.frame_00062 {
    background-position: -147px -133px;
  }

  &.frame_00063 {
    background-position: -147px -100px;
  }

  &.frame_00064 {
    background-position: -147px -67px;
  }

  &.frame_00065 {
    background-position: -147px -34px;
  }

  &.frame_00066 {
    background-position: -147px -1px;
  }

  &.frame_00067 {
    background-position: -1px -430px;
  }

  &.frame_00068 {
    background-position: -1px -397px;
  }

  &.frame_00069 {
    background-position: -1px -364px;
  }

  &.frame_00070 {
    background-position: -1px -331px;
  }

  &.frame_00071 {
    background-position: -1px -298px;
  }

  &.frame_00072 {
    background-position: -1px -265px;
  }

  &.frame_00073 {
    background-position: -1px -232px;
  }

  &.frame_00074 {
    background-position: -1px -199px;
  }

  &.frame_00075 {
    background-position: -1px -166px;
  }

  &.frame_00076 {
    background-position: -1px -133px;
  }

  &.frame_00077 {
    background-position: -1px -100px;
  }

  &.frame_00078 {
    background-position: -1px -67px;
  }

  &.frame_00079 {
    background-position: -1px -34px;
  }

  &.frame_00080 {
    background-position: -1px -1px;
  }

}
