.globalcommunity {
  &:lang(fr-ca) {
    background-image: url(../../images/handwriting-sprites/fr/globalcommunity.png);
    background-size: 801px 501px;
    width: 199px;
    height: 24px;
    margin-bottom: .9em; // additional padding required for text without any descenders

    &.frame_00000 {
      background-position: -601px -476px;
    }

    &.frame_00001 {
      background-position: -401px -476px;
    }

    &.frame_00002 {
      background-position: -601px -451px;
    }

    &.frame_00003 {
      background-position: -401px -451px;
    }

    &.frame_00004 {
      background-position: -601px -426px;
    }

    &.frame_00005 {
      background-position: -401px -426px;
    }

    &.frame_00006 {
      background-position: -601px -401px;
    }

    &.frame_00007 {
      background-position: -401px -401px;
    }

    &.frame_00008 {
      background-position: -601px -376px;
    }

    &.frame_00009 {
      background-position: -401px -376px;
    }

    &.frame_00010 {
      background-position: -601px -351px;
    }

    &.frame_00011 {
      background-position: -401px -351px;
    }

    &.frame_00012 {
      background-position: -601px -326px;
    }

    &.frame_00013 {
      background-position: -401px -326px;
    }

    &.frame_00014 {
      background-position: -601px -301px;
    }

    &.frame_00015 {
      background-position: -401px -301px;
    }

    &.frame_00016 {
      background-position: -601px -276px;
    }

    &.frame_00017 {
      background-position: -401px -276px;
    }

    &.frame_00018 {
      background-position: -201px -476px;
    }

    &.frame_00019 {
      background-position: -201px -451px;
    }

    &.frame_00020 {
      background-position: -201px -451px;
    }

    &.frame_00021 {
      background-position: -201px -426px;
    }

    &.frame_00022 {
      background-position: -201px -401px;
    }

    &.frame_00023 {
      background-position: -201px -376px;
    }

    &.frame_00024 {
      background-position: -201px -351px;
    }

    &.frame_00025 {
      background-position: -201px -326px;
    }

    &.frame_00026 {
      background-position: -201px -301px;
    }

    &.frame_00027 {
      background-position: -201px -276px;
    }

    &.frame_00028 {
      background-position: -601px -251px;
    }

    &.frame_00029 {
      background-position: -401px -251px;
    }

    &.frame_00030 {
      background-position: -201px -251px;
    }

    &.frame_00031 {
      background-position: -601px -226px;
    }

    &.frame_00032 {
      background-position: -401px -226px;
    }

    &.frame_00033 {
      background-position: -201px -226px;
    }

    &.frame_00034 {
      background-position: -601px -201px;
    }

    &.frame_00035 {
      background-position: -401px -201px;
    }

    &.frame_00036 {
      background-position: -201px -201px;
    }

    &.frame_00037 {
      background-position: -601px -176px;
    }

    &.frame_00038 {
      background-position: -401px -176px;
    }

    &.frame_00039 {
      background-position: -201px -176px;
    }

    &.frame_00040 {
      background-position: -601px -151px;
    }

    &.frame_00041 {
      background-position: -401px -151px;
    }

    &.frame_00042 {
      background-position: -201px -151px;
    }

    &.frame_00043 {
      background-position: -601px -126px;
    }

    &.frame_00044 {
      background-position: -401px -126px;
    }

    &.frame_00045 {
      background-position: -201px -126px;
    }

    &.frame_00046 {
      background-position: -601px -101px;
    }

    &.frame_00047 {
      background-position: -401px -101px;
    }

    &.frame_00048 {
      background-position: -201px -101px;
    }

    &.frame_00049 {
      background-position: -601px -76px;
    }

    &.frame_00050 {
      background-position: -401px -76px;
    }

    &.frame_00051 {
      background-position: -201px -76px;
    }

    &.frame_00052 {
      background-position: -1px -476px;
    }

    &.frame_00053 {
      background-position: -1px -451px;
    }

    &.frame_00054 {
      background-position: -1px -426px;
    }

    &.frame_00055 {
      background-position: -1px -401px;
    }

    &.frame_00056 {
      background-position: -1px -376px;
    }

    &.frame_00057 {
      background-position: -1px -351px;
    }

    &.frame_00058 {
      background-position: -1px -326px;
    }

    &.frame_00059 {
      background-position: -1px -301px;
    }

    &.frame_00060 {
      background-position: -1px -276px;
    }

    &.frame_00061 {
      background-position: -1px -251px;
    }

    &.frame_00062 {
      background-position: -1px -226px;
    }

    &.frame_00063 {
      background-position: -1px -201px;
    }

    &.frame_00064 {
      background-position: -1px -176px;
    }

    &.frame_00065 {
      background-position: -1px -151px;
    }

    &.frame_00066 {
      background-position: -1px -126px;
    }

    &.frame_00067 {
      background-position: -1px -101px;
    }

    &.frame_00068 {
      background-position: -1px -76px;
    }

    &.frame_00069 {
      background-position: -601px -51px;
    }

    &.frame_00070 {
      background-position: -401px -51px;
    }

    &.frame_00071 {
      background-position: -201px -51px;
    }

    &.frame_00072 {
      background-position: -1px -51px;
    }

    &.frame_00073 {
      background-position: -601px -26px;
    }

    &.frame_00074 {
      background-position: -401px -26px;
    }

    &.frame_00075 {
      background-position: -201px -26px;
    }

    &.frame_00076 {
      background-position: -1px -26px;
    }

    &.frame_00077 {
      background-position: -601px -1px;
    }

    &.frame_00078 {
      background-position: -401px -1px;
    }

    &.frame_00079 {
      background-position: -201px -1px;
    }

    &.frame_00080 {
      background-position: -1px -1px;
    }
  }
}
