.growth {
  &:lang(fr-ca) {
    background-image: url(../../images/handwriting-sprites/fr/growth.png);
    background-size: 637px 875px;
    width: 158px;
    height: 45px;
    margin-bottom: .9em; // additional padding required for text without any ascenders

    &.frame_00000 {
      background-position: -478px -829px;
    }

    &.frame_00001 {
      background-position: -319px -829px;
    }

    &.frame_00002 {
      background-position: -478px -783px;
    }

    &.frame_00003 {
      background-position: -319px -783px;
    }

    &.frame_00004 {
      background-position: -478px -737px;
    }

    &.frame_00005 {
      background-position: -319px -737px;
    }

    &.frame_00006 {
      background-position: -478px -691px;
    }

    &.frame_00007 {
      background-position: -319px -691px;
    }

    &.frame_00008 {
      background-position: -478px -645px;
    }

    &.frame_00009 {
      background-position: -319px -645px;
    }

    &.frame_00010 {
      background-position: -160px -829px;
    }

    &.frame_00011 {
      background-position: -160px -783px;
    }

    &.frame_00012 {
      background-position: -160px -737px;
    }

    &.frame_00013 {
      background-position: -160px -691px;
    }

    &.frame_00014 {
      background-position: -160px -645px;
    }

    &.frame_00015 {
      background-position: -478px -599px;
    }

    &.frame_00016 {
      background-position: -478px -599px;
    }

    &.frame_00017 {
      background-position: -478px -599px;
    }

    &.frame_00018 {
      background-position: -478px -599px;
    }

    &.frame_00019 {
      background-position: -478px -599px;
    }

    &.frame_00020 {
      background-position: -478px -599px;
    }

    &.frame_00021 {
      background-position: -319px -599px;
    }

    &.frame_00022 {
      background-position: -160px -599px;
    }

    &.frame_00023 {
      background-position: -478px -553px;
    }

    &.frame_00024 {
      background-position: -319px -553px;
    }

    &.frame_00025 {
      background-position: -160px -553px;
    }

    &.frame_00026 {
      background-position: -478px -507px;
    }

    &.frame_00027 {
      background-position: -319px -507px;
    }

    &.frame_00028 {
      background-position: -160px -507px;
    }

    &.frame_00029 {
      background-position: -1px -829px;
    }

    &.frame_00030 {
      background-position: -1px -783px;
    }

    &.frame_00031 {
      background-position: -1px -737px;
    }

    &.frame_00032 {
      background-position: -1px -691px;
    }

    &.frame_00033 {
      background-position: -1px -645px;
    }

    &.frame_00034 {
      background-position: -1px -599px;
    }

    &.frame_00035 {
      background-position: -1px -553px;
    }

    &.frame_00036 {
      background-position: -1px -507px;
    }

    &.frame_00037 {
      background-position: -478px -461px;
    }

    &.frame_00038 {
      background-position: -319px -461px;
    }

    &.frame_00039 {
      background-position: -160px -461px;
    }

    &.frame_00040 {
      background-position: -1px -461px;
    }

    &.frame_00041 {
      background-position: -478px -415px;
    }

    &.frame_00042 {
      background-position: -319px -415px;
    }

    &.frame_00043 {
      background-position: -160px -415px;
    }

    &.frame_00044 {
      background-position: -1px -415px;
    }

    &.frame_00045 {
      background-position: -478px -369px;
    }

    &.frame_00046 {
      background-position: -319px -369px;
    }

    &.frame_00047 {
      background-position: -160px -369px;
    }

    &.frame_00048 {
      background-position: -1px -369px;
    }

    &.frame_00049 {
      background-position: -478px -323px;
    }

    &.frame_00050 {
      background-position: -319px -323px;
    }

    &.frame_00051 {
      background-position: -160px -323px;
    }

    &.frame_00052 {
      background-position: -1px -323px;
    }

    &.frame_00053 {
      background-position: -478px -277px;
    }

    &.frame_00054 {
      background-position: -319px -277px;
    }

    &.frame_00055 {
      background-position: -160px -277px;
    }

    &.frame_00056 {
      background-position: -1px -277px;
    }

    &.frame_00057 {
      background-position: -478px -231px;
    }

    &.frame_00058 {
      background-position: -319px -231px;
    }

    &.frame_00059 {
      background-position: -160px -231px;
    }

    &.frame_00060 {
      background-position: -1px -231px;
    }

    &.frame_00061 {
      background-position: -478px -185px;
    }

    &.frame_00062 {
      background-position: -319px -185px;
    }

    &.frame_00063 {
      background-position: -160px -185px;
    }

    &.frame_00064 {
      background-position: -1px -185px;
    }

    &.frame_00065 {
      background-position: -478px -139px;
    }

    &.frame_00066 {
      background-position: -319px -139px;
    }

    &.frame_00067 {
      background-position: -160px -139px;
    }

    &.frame_00068 {
      background-position: -1px -139px;
    }

    &.frame_00069 {
      background-position: -478px -93px;
    }

    &.frame_00070 {
      background-position: -319px -93px;
    }

    &.frame_00071 {
      background-position: -160px -93px;
    }

    &.frame_00072 {
      background-position: -1px -93px;
    }

    &.frame_00073 {
      background-position: -478px -47px;
    }

    &.frame_00074 {
      background-position: -319px -47px;
    }

    &.frame_00075 {
      background-position: -160px -47px;
    }

    &.frame_00076 {
      background-position: -1px -47px;
    }

    &.frame_00077 {
      background-position: -478px -1px;
    }

    &.frame_00078 {
      background-position: -319px -1px;
    }

    &.frame_00079 {
      background-position: -160px -1px;
    }

    &.frame_00080 {
      background-position: -1px -1px;
    }
  }
}
