.more-fr {
 
    background-image: url("../../images/handwriting-sprites/fr/more.png");
    background-size: 881px 481px;
    width: 87px;
    height: 59px;
  margin-bottom: -.1em;
  @include media-breakpoint-up(md) { // Tablet and above
    margin-bottom: .4em;
  }
    
    &.frame_00000 {
        background-position: -705px -421px;
        
        
    }

    &.frame_00001 {
        background-position: -793px -361px;
        
        
    }

    &.frame_00002 {
        background-position: -705px -361px;
        
        
    }

    &.frame_00003 {
        background-position: -793px -301px;
        
        
    }

    &.frame_00004 {
        background-position: -705px -301px;
        
        
    }

    &.frame_00005 {
        background-position: -617px -421px;
        
        
    }

    &.frame_00006 {
        background-position: -617px -361px;
        
        
    }

    &.frame_00007 {
        background-position: -617px -301px;
        
        
    }

    &.frame_00008 {
        background-position: -793px -241px;
        
        
    }

    &.frame_00009 {
        background-position: -705px -241px;
        
        
    }

    &.frame_00010 {
        background-position: -617px -241px;
        
        
    }

    &.frame_00011 {
        background-position: -529px -421px;
        
        
    }

    &.frame_00012 {
        background-position: -529px -361px;
        
        
    }

    &.frame_00013 {
        background-position: -529px -301px;
        
        
    }

    &.frame_00014 {
        background-position: -529px -241px;
        
        
    }

    &.frame_00015 {
        background-position: -793px -181px;
        
        
    }

    &.frame_00016 {
        background-position: -705px -181px;
        
        
    }

    &.frame_00017 {
        background-position: -617px -181px;
        
        
    }

    &.frame_00018 {
        background-position: -529px -181px;
        
        
    }

    &.frame_00019 {
        background-position: -529px -181px;
        
        
    }

    &.frame_00020 {
        background-position: -529px -181px;
        
        
    }

    &.frame_00021 {
        background-position: -793px -121px;
        
        
    }

    &.frame_00022 {
        background-position: -705px -121px;
        
        
    }

    &.frame_00023 {
        background-position: -617px -121px;
        
        
    }

    &.frame_00024 {
        background-position: -529px -121px;
        
        
    }

    &.frame_00025 {
        background-position: -441px -421px;
        
        
    }

    &.frame_00026 {
        background-position: -441px -361px;
        
        
    }

    &.frame_00027 {
        background-position: -441px -301px;
        
        
    }

    &.frame_00028 {
        background-position: -441px -241px;
        
        
    }

    &.frame_00029 {
        background-position: -441px -181px;
        
        
    }

    &.frame_00030 {
        background-position: -441px -121px;
        
        
    }

    &.frame_00031 {
        background-position: -793px -61px;
        
        
    }

    &.frame_00032 {
        background-position: -705px -61px;
        
        
    }

    &.frame_00033 {
        background-position: -617px -61px;
        
        
    }

    &.frame_00034 {
        background-position: -529px -61px;
        
        
    }

    &.frame_00035 {
        background-position: -441px -61px;
        
        
    }

    &.frame_00036 {
        background-position: -353px -421px;
        
        
    }

    &.frame_00037 {
        background-position: -353px -361px;
        
        
    }

    &.frame_00038 {
        background-position: -353px -301px;
        
        
    }

    &.frame_00039 {
        background-position: -353px -241px;
        
        
    }

    &.frame_00040 {
        background-position: -353px -181px;
        
        
    }

    &.frame_00041 {
        background-position: -353px -121px;
        
        
    }

    &.frame_00042 {
        background-position: -353px -61px;
        
        
    }

    &.frame_00043 {
        background-position: -793px -1px;
        
        
    }

    &.frame_00044 {
        background-position: -705px -1px;
        
        
    }

    &.frame_00045 {
        background-position: -617px -1px;
        
        
    }

    &.frame_00046 {
        background-position: -529px -1px;
        
        
    }

    &.frame_00047 {
        background-position: -441px -1px;
        
        
    }

    &.frame_00048 {
        background-position: -353px -1px;
        
        
    }

    &.frame_00049 {
        background-position: -265px -421px;
        
        
    }

    &.frame_00050 {
        background-position: -265px -361px;
        
        
    }

    &.frame_00051 {
        background-position: -265px -301px;
        
        
    }

    &.frame_00052 {
        background-position: -265px -241px;
        
        
    }

    &.frame_00053 {
        background-position: -265px -181px;
        
        
    }

    &.frame_00054 {
        background-position: -265px -121px;
        
        
    }

    &.frame_00055 {
        background-position: -265px -61px;
        
        
    }

    &.frame_00056 {
        background-position: -265px -1px;
        
        
    }

    &.frame_00057 {
        background-position: -177px -421px;
        
        
    }

    &.frame_00058 {
        background-position: -177px -361px;
        
        
    }

    &.frame_00059 {
        background-position: -177px -301px;
        
        
    }

    &.frame_00060 {
        background-position: -177px -241px;
        
        
    }

    &.frame_00061 {
        background-position: -177px -181px;
        
        
    }

    &.frame_00062 {
        background-position: -177px -121px;
        
        
    }

    &.frame_00063 {
        background-position: -177px -61px;
        
        
    }

    &.frame_00064 {
        background-position: -177px -1px;
        
        
    }

    &.frame_00065 {
        background-position: -89px -421px;
        
        
    }

    &.frame_00066 {
        background-position: -89px -361px;
        
        
    }

    &.frame_00067 {
        background-position: -89px -301px;
        
        
    }

    &.frame_00068 {
        background-position: -89px -241px;
        
        
    }

    &.frame_00069 {
        background-position: -89px -181px;
        
        
    }

    &.frame_00070 {
        background-position: -89px -121px;
        
        
    }

    &.frame_00071 {
        background-position: -89px -61px;
        
        
    }

    &.frame_00072 {
        background-position: -89px -1px;
        
        
    }

    &.frame_00073 {
        background-position: -1px -421px;
        
        
    }

    &.frame_00074 {
        background-position: -1px -361px;
        
        
    }

    &.frame_00075 {
        background-position: -1px -301px;
        
        
    }

    &.frame_00076 {
        background-position: -1px -241px;
        
        
    }

    &.frame_00077 {
        background-position: -1px -181px;
        
        
    }

    &.frame_00078 {
        background-position: -1px -121px;
        
        
    }

    &.frame_00079 {
        background-position: -1px -61px;
        
        
    }

    &.frame_00080 {
        background-position: -1px -1px;
        
        
    }

}
