.more {
  background-image: url("../../images/handwriting-sprites/more.png");
  background-size: 649px 491px;
  width: 80px;
  height: 48px;
  margin-bottom: .4em;
  @include media-breakpoint-up(md) { // Tablet and above
    margin-bottom: .9em;
  }

  &.frame_00000 {
    background-position: -568px -393px;
  }

  &.frame_00001 {
    background-position: -487px -393px;
  }

  &.frame_00002 {
    background-position: -568px -344px;
  }

  &.frame_00003 {
    background-position: -487px -344px;
  }

  &.frame_00004 {
    background-position: -406px -442px;
  }

  &.frame_00005 {
    background-position: -406px -393px;
  }

  &.frame_00006 {
    background-position: -406px -344px;
  }

  &.frame_00007 {
    background-position: -568px -295px;
  }

  &.frame_00008 {
    background-position: -487px -295px;
  }

  &.frame_00009 {
    background-position: -406px -295px;
  }

  &.frame_00010 {
    background-position: -568px -246px;
  }

  &.frame_00011 {
    background-position: -487px -246px;
  }

  &.frame_00012 {
    background-position: -406px -246px;
  }

  &.frame_00013 {
    background-position: -325px -442px;
  }

  &.frame_00014 {
    background-position: -325px -393px;
  }

  &.frame_00015 {
    background-position: -325px -344px;
  }

  &.frame_00016 {
    background-position: -325px -295px;
  }

  &.frame_00017 {
    background-position: -325px -246px;
  }

  &.frame_00018 {
    background-position: -325px -246px;
  }

  &.frame_00019 {
    background-position: -325px -246px;
  }

  &.frame_00020 {
    background-position: -325px -246px;
  }

  &.frame_00021 {
    background-position: -568px -197px;
  }

  &.frame_00022 {
    background-position: -487px -197px;
  }

  &.frame_00023 {
    background-position: -406px -197px;
  }

  &.frame_00024 {
    background-position: -325px -197px;
  }

  &.frame_00025 {
    background-position: -244px -442px;
  }

  &.frame_00026 {
    background-position: -244px -393px;
  }

  &.frame_00027 {
    background-position: -244px -344px;
  }

  &.frame_00028 {
    background-position: -244px -295px;
  }

  &.frame_00029 {
    background-position: -244px -246px;
  }

  &.frame_00030 {
    background-position: -244px -197px;
  }

  &.frame_00031 {
    background-position: -568px -148px;
  }

  &.frame_00032 {
    background-position: -487px -148px;
  }

  &.frame_00033 {
    background-position: -406px -148px;
  }

  &.frame_00034 {
    background-position: -325px -148px;
  }

  &.frame_00035 {
    background-position: -244px -148px;
  }

  &.frame_00036 {
    background-position: -568px -99px;
  }

  &.frame_00037 {
    background-position: -487px -99px;
  }

  &.frame_00038 {
    background-position: -406px -99px;
  }

  &.frame_00039 {
    background-position: -325px -99px;
  }

  &.frame_00040 {
    background-position: -244px -99px;
  }

  &.frame_00041 {
    background-position: -163px -442px;
  }

  &.frame_00042 {
    background-position: -163px -393px;
  }

  &.frame_00043 {
    background-position: -163px -344px;
  }

  &.frame_00044 {
    background-position: -163px -295px;
  }

  &.frame_00045 {
    background-position: -163px -246px;
  }

  &.frame_00046 {
    background-position: -163px -197px;
  }

  &.frame_00047 {
    background-position: -163px -148px;
  }

  &.frame_00048 {
    background-position: -163px -99px;
  }

  &.frame_00049 {
    background-position: -568px -50px;
  }

  &.frame_00050 {
    background-position: -487px -50px;
  }

  &.frame_00051 {
    background-position: -406px -50px;
  }

  &.frame_00052 {
    background-position: -325px -50px;
  }

  &.frame_00053 {
    background-position: -244px -50px;
  }

  &.frame_00054 {
    background-position: -163px -50px;
  }

  &.frame_00055 {
    background-position: -568px -1px;
  }

  &.frame_00056 {
    background-position: -487px -1px;
  }

  &.frame_00057 {
    background-position: -406px -1px;
  }

  &.frame_00058 {
    background-position: -325px -1px;
  }

  &.frame_00059 {
    background-position: -244px -1px;
  }

  &.frame_00060 {
    background-position: -163px -1px;
  }

  &.frame_00061 {
    background-position: -82px -442px;
  }

  &.frame_00062 {
    background-position: -82px -393px;
  }

  &.frame_00063 {
    background-position: -82px -344px;
  }

  &.frame_00064 {
    background-position: -82px -295px;
  }

  &.frame_00065 {
    background-position: -82px -246px;
  }

  &.frame_00066 {
    background-position: -82px -197px;
  }

  &.frame_00067 {
    background-position: -82px -148px;
  }

  &.frame_00068 {
    background-position: -82px -99px;
  }

  &.frame_00069 {
    background-position: -82px -50px;
  }

  &.frame_00070 {
    background-position: -82px -1px;
  }

  &.frame_00071 {
    background-position: -1px -442px;
  }

  &.frame_00072 {
    background-position: -1px -393px;
  }

  &.frame_00073 {
    background-position: -1px -344px;
  }

  &.frame_00074 {
    background-position: -1px -295px;
  }

  &.frame_00075 {
    background-position: -1px -246px;
  }

  &.frame_00076 {
    background-position: -1px -197px;
  }

  &.frame_00077 {
    background-position: -1px -148px;
  }

  &.frame_00078 {
    background-position: -1px -99px;
  }

  &.frame_00079 {
    background-position: -1px -50px;
  }

  &.frame_00080 {
    background-position: -1px -1px;
  }

}
