.oneonone {
  background-image: url(../../images/handwriting-sprites/oneonone.png);
  background-size: 673px 941px;
  width: 167px;
  height: 46px;
  margin-bottom: .9em; // additional padding required for text without any decenders

  &.frame_00000 {
    background-position: -505px -894px;
  }

  &.frame_00001 {
    background-position: -337px -894px;
  }

  &.frame_00002 {
    background-position: -505px -847px;
  }

  &.frame_00003 {
    background-position: -337px -847px;
  }

  &.frame_00004 {
    background-position: -505px -800px;
  }

  &.frame_00005 {
    background-position: -337px -800px;
  }

  &.frame_00006 {
    background-position: -505px -753px;
  }

  &.frame_00007 {
    background-position: -337px -753px;
  }

  &.frame_00008 {
    background-position: -505px -706px;
  }

  &.frame_00009 {
    background-position: -337px -706px;
  }

  &.frame_00010 {
    background-position: -169px -894px;
  }

  &.frame_00011 {
    background-position: -169px -847px;
  }

  &.frame_00012 {
    background-position: -169px -800px;
  }

  &.frame_00013 {
    background-position: -169px -753px;
  }

  &.frame_00014 {
    background-position: -169px -706px;
  }

  &.frame_00015 {
    background-position: -505px -659px;
  }

  &.frame_00016 {
    background-position: -337px -659px;
  }

  &.frame_00017 {
    background-position: -169px -659px;
  }

  &.frame_00018 {
    background-position: -505px -612px;
  }

  &.frame_00019 {
    background-position: -337px -612px;
  }

  &.frame_00020 {
    background-position: -337px -612px;
  }

  &.frame_00021 {
    background-position: -169px -612px;
  }

  &.frame_00022 {
    background-position: -505px -565px;
  }

  &.frame_00023 {
    background-position: -337px -565px;
  }

  &.frame_00024 {
    background-position: -169px -565px;
  }

  &.frame_00025 {
    background-position: -505px -518px;
  }

  &.frame_00026 {
    background-position: -337px -518px;
  }

  &.frame_00027 {
    background-position: -169px -518px;
  }

  &.frame_00028 {
    background-position: -1px -894px;
  }

  &.frame_00029 {
    background-position: -1px -847px;
  }

  &.frame_00030 {
    background-position: -1px -800px;
  }

  &.frame_00031 {
    background-position: -1px -753px;
  }

  &.frame_00032 {
    background-position: -1px -706px;
  }

  &.frame_00033 {
    background-position: -1px -659px;
  }

  &.frame_00034 {
    background-position: -1px -612px;
  }

  &.frame_00035 {
    background-position: -1px -565px;
  }

  &.frame_00036 {
    background-position: -1px -518px;
  }

  &.frame_00037 {
    background-position: -505px -471px;
  }

  &.frame_00038 {
    background-position: -337px -471px;
  }

  &.frame_00039 {
    background-position: -169px -471px;
  }

  &.frame_00040 {
    background-position: -1px -471px;
  }

  &.frame_00041 {
    background-position: -505px -424px;
  }

  &.frame_00042 {
    background-position: -337px -424px;
  }

  &.frame_00043 {
    background-position: -169px -424px;
  }

  &.frame_00044 {
    background-position: -1px -424px;
  }

  &.frame_00045 {
    background-position: -505px -377px;
  }

  &.frame_00046 {
    background-position: -337px -377px;
  }

  &.frame_00047 {
    background-position: -169px -377px;
  }

  &.frame_00048 {
    background-position: -1px -377px;
  }

  &.frame_00049 {
    background-position: -505px -330px;
  }

  &.frame_00050 {
    background-position: -337px -330px;
  }

  &.frame_00051 {
    background-position: -169px -330px;
  }

  &.frame_00052 {
    background-position: -1px -330px;
  }

  &.frame_00053 {
    background-position: -505px -283px;
  }

  &.frame_00054 {
    background-position: -337px -283px;
  }

  &.frame_00055 {
    background-position: -169px -283px;
  }

  &.frame_00056 {
    background-position: -1px -283px;
  }

  &.frame_00057 {
    background-position: -505px -236px;
  }

  &.frame_00058 {
    background-position: -337px -236px;
  }

  &.frame_00059 {
    background-position: -169px -236px;
  }

  &.frame_00060 {
    background-position: -1px -236px;
  }

  &.frame_00061 {
    background-position: -505px -189px;
  }

  &.frame_00062 {
    background-position: -337px -189px;
  }

  &.frame_00063 {
    background-position: -169px -189px;
  }

  &.frame_00064 {
    background-position: -1px -189px;
  }

  &.frame_00065 {
    background-position: -505px -142px;
  }

  &.frame_00066 {
    background-position: -337px -142px;
  }

  &.frame_00067 {
    background-position: -169px -142px;
  }

  &.frame_00068 {
    background-position: -1px -142px;
  }

  &.frame_00069 {
    background-position: -505px -95px;
  }

  &.frame_00070 {
    background-position: -337px -95px;
  }

  &.frame_00071 {
    background-position: -169px -95px;
  }

  &.frame_00072 {
    background-position: -1px -95px;
  }

  &.frame_00073 {
    background-position: -505px -48px;
  }

  &.frame_00074 {
    background-position: -337px -48px;
  }

  &.frame_00075 {
    background-position: -169px -48px;
  }

  &.frame_00076 {
    background-position: -1px -48px;
  }

  &.frame_00077 {
    background-position: -505px -1px;
  }

  &.frame_00078 {
    background-position: -337px -1px;
  }

  &.frame_00079 {
    background-position: -169px -1px;
  }

  &.frame_00080 {
    background-position: -1px -1px;
  }

}
