.oneonone {
  &:lang(fr-ca) {
    background-image: url(../../images/handwriting-sprites/fr/oneonone.png);
    background-size: 928px 265px;
    width: 131px;
    height: 23px;
    margin-bottom: .9em; // additional padding required for text without any descenders

    &.frame_00000 {
      background-position: -796px -241px;
    }

    &.frame_00001 {
      background-position: -663px -241px;
    }

    &.frame_00002 {
      background-position: -796px -217px;
    }

    &.frame_00003 {
      background-position: -663px -217px;
    }

    &.frame_00004 {
      background-position: -796px -193px;
    }

    &.frame_00005 {
      background-position: -663px -193px;
    }

    &.frame_00006 {
      background-position: -796px -169px;
    }

    &.frame_00007 {
      background-position: -663px -169px;
    }

    &.frame_00008 {
      background-position: -796px -145px;
    }

    &.frame_00009 {
      background-position: -663px -145px;
    }

    &.frame_00010 {
      background-position: -796px -121px;
    }

    &.frame_00011 {
      background-position: -663px -121px;
    }

    &.frame_00012 {
      background-position: -796px -97px;
    }

    &.frame_00013 {
      background-position: -663px -97px;
    }

    &.frame_00014 {
      background-position: -531px -241px;
    }

    &.frame_00015 {
      background-position: -531px -217px;
    }

    &.frame_00016 {
      background-position: -531px -193px;
    }

    &.frame_00017 {
      background-position: -531px -193px;
    }

    &.frame_00018 {
      background-position: -531px -193px;
    }

    &.frame_00019 {
      background-position: -531px -193px;
    }

    &.frame_00020 {
      background-position: -531px -193px;
    }

    &.frame_00021 {
      background-position: -531px -169px;
    }

    &.frame_00022 {
      background-position: -531px -145px;
    }

    &.frame_00023 {
      background-position: -531px -121px;
    }

    &.frame_00024 {
      background-position: -531px -97px;
    }

    &.frame_00025 {
      background-position: -796px -73px;
    }

    &.frame_00026 {
      background-position: -663px -73px;
    }

    &.frame_00027 {
      background-position: -531px -73px;
    }

    &.frame_00028 {
      background-position: -796px -49px;
    }

    &.frame_00029 {
      background-position: -663px -49px;
    }

    &.frame_00030 {
      background-position: -531px -49px;
    }

    &.frame_00031 {
      background-position: -796px -25px;
    }

    &.frame_00032 {
      background-position: -663px -25px;
    }

    &.frame_00033 {
      background-position: -531px -25px;
    }

    &.frame_00034 {
      background-position: -796px -1px;
    }

    &.frame_00035 {
      background-position: -663px -1px;
    }

    &.frame_00036 {
      background-position: -531px -1px;
    }

    &.frame_00037 {
      background-position: -398px -241px;
    }

    &.frame_00038 {
      background-position: -398px -217px;
    }

    &.frame_00039 {
      background-position: -398px -193px;
    }

    &.frame_00040 {
      background-position: -398px -169px;
    }

    &.frame_00041 {
      background-position: -398px -145px;
    }

    &.frame_00042 {
      background-position: -398px -121px;
    }

    &.frame_00043 {
      background-position: -398px -97px;
    }

    &.frame_00044 {
      background-position: -398px -73px;
    }

    &.frame_00045 {
      background-position: -398px -49px;
    }

    &.frame_00046 {
      background-position: -398px -25px;
    }

    &.frame_00047 {
      background-position: -398px -1px;
    }

    &.frame_00048 {
      background-position: -266px -241px;
    }

    &.frame_00049 {
      background-position: -266px -217px;
    }

    &.frame_00050 {
      background-position: -266px -193px;
    }

    &.frame_00051 {
      background-position: -266px -169px;
    }

    &.frame_00052 {
      background-position: -266px -145px;
    }

    &.frame_00053 {
      background-position: -266px -121px;
    }

    &.frame_00054 {
      background-position: -266px -97px;
    }

    &.frame_00055 {
      background-position: -266px -73px;
    }

    &.frame_00056 {
      background-position: -266px -49px;
    }

    &.frame_00057 {
      background-position: -266px -25px;
    }

    &.frame_00058 {
      background-position: -266px -1px;
    }

    &.frame_00059 {
      background-position: -133px -241px;
    }

    &.frame_00060 {
      background-position: -133px -217px;
    }

    &.frame_00061 {
      background-position: -133px -193px;
    }

    &.frame_00062 {
      background-position: -133px -169px;
    }

    &.frame_00063 {
      background-position: -133px -145px;
    }

    &.frame_00064 {
      background-position: -133px -121px;
    }

    &.frame_00065 {
      background-position: -133px -97px;
    }

    &.frame_00066 {
      background-position: -133px -73px;
    }

    &.frame_00067 {
      background-position: -133px -49px;
    }

    &.frame_00068 {
      background-position: -133px -25px;
    }

    &.frame_00069 {
      background-position: -133px -1px;
    }

    &.frame_00070 {
      background-position: -1px -241px;
    }

    &.frame_00071 {
      background-position: -1px -217px;
    }

    &.frame_00072 {
      background-position: -1px -193px;
    }

    &.frame_00073 {
      background-position: -1px -169px;
    }

    &.frame_00074 {
      background-position: -1px -145px;
    }

    &.frame_00075 {
      background-position: -1px -121px;
    }

    &.frame_00076 {
      background-position: -1px -97px;
    }

    &.frame_00077 {
      background-position: -1px -73px;
    }

    &.frame_00078 {
      background-position: -1px -49px;
    }

    &.frame_00079 {
      background-position: -1px -25px;
    }

    &.frame_00080 {
      background-position: -1px -1px;
    }
  }
}
