

.planning-fr {

    background-image: url("../../images/handwriting-sprites/fr/planning.png");
    background-size: 941px 833px;
    width: 187px;
    height: 51px;

    
    &.frame_00000 {
        background-position: -753px -781px;
        
        
    }

    &.frame_00001 {
        background-position: -565px -781px;
        
        
    }

    &.frame_00002 {
        background-position: -753px -729px;
        
        
    }

    &.frame_00003 {
        background-position: -565px -729px;
        
        
    }

    &.frame_00004 {
        background-position: -753px -677px;
        
        
    }

    &.frame_00005 {
        background-position: -565px -677px;
        
        
    }

    &.frame_00006 {
        background-position: -753px -625px;
        
        
    }

    &.frame_00007 {
        background-position: -565px -625px;
        
        
    }

    &.frame_00008 {
        background-position: -753px -573px;
        
        
    }

    &.frame_00009 {
        background-position: -565px -573px;
        
        
    }

    &.frame_00010 {
        background-position: -377px -781px;
        
        
    }

    &.frame_00011 {
        background-position: -377px -729px;
        
        
    }

    &.frame_00012 {
        background-position: -377px -677px;
        
        
    }

    &.frame_00013 {
        background-position: -377px -625px;
        
        
    }

    &.frame_00014 {
        background-position: -377px -573px;
        
        
    }

    &.frame_00015 {
        background-position: -753px -521px;
        
        
    }

    &.frame_00016 {
        background-position: -565px -521px;
        
        
    }

    &.frame_00017 {
        background-position: -377px -521px;
        
        
    }

    &.frame_00018 {
        background-position: -753px -469px;
        
        
    }

    &.frame_00019 {
        background-position: -565px -469px;
        
        
    }

    &.frame_00020 {
        background-position: -565px -469px;
        
        
    }

    &.frame_00021 {
        background-position: -377px -469px;
        
        
    }

    &.frame_00022 {
        background-position: -753px -417px;
        
        
    }

    &.frame_00023 {
        background-position: -565px -417px;
        
        
    }

    &.frame_00024 {
        background-position: -377px -417px;
        
        
    }

    &.frame_00025 {
        background-position: -753px -365px;
        
        
    }

    &.frame_00026 {
        background-position: -565px -365px;
        
        
    }

    &.frame_00027 {
        background-position: -377px -365px;
        
        
    }

    &.frame_00028 {
        background-position: -189px -781px;
        
        
    }

    &.frame_00029 {
        background-position: -189px -729px;
        
        
    }

    &.frame_00030 {
        background-position: -189px -677px;
        
        
    }

    &.frame_00031 {
        background-position: -189px -625px;
        
        
    }

    &.frame_00032 {
        background-position: -189px -573px;
        
        
    }

    &.frame_00033 {
        background-position: -189px -521px;
        
        
    }

    &.frame_00034 {
        background-position: -189px -469px;
        
        
    }

    &.frame_00035 {
        background-position: -189px -417px;
        
        
    }

    &.frame_00036 {
        background-position: -189px -365px;
        
        
    }

    &.frame_00037 {
        background-position: -753px -313px;
        
        
    }

    &.frame_00038 {
        background-position: -565px -313px;
        
        
    }

    &.frame_00039 {
        background-position: -377px -313px;
        
        
    }

    &.frame_00040 {
        background-position: -189px -313px;
        
        
    }

    &.frame_00041 {
        background-position: -753px -261px;
        
        
    }

    &.frame_00042 {
        background-position: -565px -261px;
        
        
    }

    &.frame_00043 {
        background-position: -377px -261px;
        
        
    }

    &.frame_00044 {
        background-position: -189px -261px;
        
        
    }

    &.frame_00045 {
        background-position: -753px -209px;
        
        
    }

    &.frame_00046 {
        background-position: -565px -209px;
        
        
    }

    &.frame_00047 {
        background-position: -377px -209px;
        
        
    }

    &.frame_00048 {
        background-position: -189px -209px;
        
        
    }

    &.frame_00049 {
        background-position: -1px -781px;
        
        
    }

    &.frame_00050 {
        background-position: -1px -729px;
        
        
    }

    &.frame_00051 {
        background-position: -1px -677px;
        
        
    }

    &.frame_00052 {
        background-position: -1px -625px;
        
        
    }

    &.frame_00053 {
        background-position: -1px -573px;
        
        
    }

    &.frame_00054 {
        background-position: -1px -521px;
        
        
    }

    &.frame_00055 {
        background-position: -1px -469px;
        
        
    }

    &.frame_00056 {
        background-position: -1px -417px;
        
        
    }

    &.frame_00057 {
        background-position: -1px -365px;
        
        
    }

    &.frame_00058 {
        background-position: -1px -313px;
        
        
    }

    &.frame_00059 {
        background-position: -1px -261px;
        
        
    }

    &.frame_00060 {
        background-position: -1px -209px;
        
        
    }

    &.frame_00061 {
        background-position: -753px -157px;
        
        
    }

    &.frame_00062 {
        background-position: -565px -157px;
        
        
    }

    &.frame_00063 {
        background-position: -377px -157px;
        
        
    }

    &.frame_00064 {
        background-position: -189px -157px;
        
        
    }

    &.frame_00065 {
        background-position: -1px -157px;
        
        
    }

    &.frame_00066 {
        background-position: -753px -105px;
        
        
    }

    &.frame_00067 {
        background-position: -565px -105px;
        
        
    }

    &.frame_00068 {
        background-position: -377px -105px;
        
        
    }

    &.frame_00069 {
        background-position: -189px -105px;
        
        
    }

    &.frame_00070 {
        background-position: -1px -105px;
        
        
    }

    &.frame_00071 {
        background-position: -753px -53px;
        
        
    }

    &.frame_00072 {
        background-position: -565px -53px;
        
        
    }

    &.frame_00073 {
        background-position: -377px -53px;
        
        
    }

    &.frame_00074 {
        background-position: -189px -53px;
        
        
    }

    &.frame_00075 {
        background-position: -1px -53px;
        
        
    }

    &.frame_00076 {
        background-position: -753px -1px;
        
        
    }

    &.frame_00077 {
        background-position: -565px -1px;
        
        
    }

    &.frame_00078 {
        background-position: -377px -1px;
        
        
    }

    &.frame_00079 {
        background-position: -189px -1px;
        
        
    }

    &.frame_00080 {
        background-position: -1px -1px;
        
        
    }

}
