.planning {
    background-image: url("../../images/handwriting-sprites/planning.png");
    background-size: 743px 1009px;
    width:147px;
    height:62px;
    margin-bottom: -.4em;
    @include media-breakpoint-up(md) { // Tablet and above
      margin-bottom: 0em;
    }

    
    &.frame_00000 {
        background-position: -595px -946px;
    }

    &.frame_00001 {
        background-position: -446px -946px;
    }

    &.frame_00002 {
        background-position: -595px -883px;
    }

    &.frame_00003 {
        background-position: -446px -883px;
    }

    &.frame_00004 {
        background-position: -595px -820px;
    }

    &.frame_00005 {
        background-position: -446px -820px;
    }

    &.frame_00006 {
        background-position: -595px -757px;
    }

    &.frame_00007 {
        background-position: -446px -757px;
    }

    &.frame_00008 {
        background-position: -298px -946px;
    }

    &.frame_00009 {
        background-position: -298px -883px; 
    }

    &.frame_00010 {
        background-position: -298px -820px;
        
        
    }

    &.frame_00011 {
        background-position: -298px -757px;
        
        
    }

    &.frame_00012 {
        background-position: -595px -694px;
        
        
    }

    &.frame_00013 {
        background-position: -446px -694px;
        
        
    }

    &.frame_00014 {
        background-position: -298px -694px;
        
        
    }

    &.frame_00015 {
        background-position: -595px -631px;
        
        
    }

    &.frame_00016 {
        background-position: -446px -631px;
        
        
    }

    &.frame_00017 {
        background-position: -298px -631px;
        
        
    }

    &.frame_00018 {
        background-position: -149px -946px;
        
        
    }

    &.frame_00019 {
        background-position: -149px -883px;
        
        
    }

    &.frame_00020 {
        background-position: -149px -883px;
        
        
    }

    &.frame_00021 {
        background-position: -149px -820px;
        
        
    }

    &.frame_00022 {
        background-position: -149px -757px;
        
        
    }

    &.frame_00023 {
        background-position: -149px -694px;
        
        
    }

    &.frame_00024 {
        background-position: -149px -631px;
        
        
    }

    &.frame_00025 {
        background-position: -595px -568px;
        
        
    }

    &.frame_00026 {
        background-position: -446px -568px;
        
        
    }

    &.frame_00027 {
        background-position: -298px -568px;
        
        
    }

    &.frame_00028 {
        background-position: -149px -568px;
        
        
    }

    &.frame_00029 {
        background-position: -595px -505px;
        
        
    }

    &.frame_00030 {
        background-position: -446px -505px;
        
        
    }

    &.frame_00031 {
        background-position: -298px -505px;
        
        
    }

    &.frame_00032 {
        background-position: -149px -505px;
        
        
    }

    &.frame_00033 {
        background-position: -595px -442px;
        
        
    }

    &.frame_00034 {
        background-position: -446px -442px;
        
        
    }

    &.frame_00035 {
        background-position: -298px -442px;
        
        
    }

    &.frame_00036 {
        background-position: -149px -442px;
        
        
    }

    &.frame_00037 {
        background-position: -1px -946px;
        
        
    }

    &.frame_00038 {
        background-position: -1px -883px;
        
        
    }

    &.frame_00039 {
        background-position: -1px -820px;
        
        
    }

    &.frame_00040 {
        background-position: -1px -757px;
        
        
    }

    &.frame_00041 {
        background-position: -1px -694px;
        
        
    }

    &.frame_00042 {
        background-position: -1px -631px;
        
        
    }

    &.frame_00043 {
        background-position: -1px -568px;
        
        
    }

    &.frame_00044 {
        background-position: -1px -505px;
        
        
    }

    &.frame_00045 {
        background-position: -1px -442px;
        
        
    }

    &.frame_00046 {
        background-position: -595px -379px;
        
        
    }

    &.frame_00047 {
        background-position: -446px -379px;
        
        
    }

    &.frame_00048 {
        background-position: -298px -379px;
        
        
    }

    &.frame_00049 {
        background-position: -149px -379px;
        
        
    }

    &.frame_00050 {
        background-position: -1px -379px;
        
        
    }

    &.frame_00051 {
        background-position: -595px -316px;
        
        
    }

    &.frame_00052 {
        background-position: -446px -316px;
        
        
    }

    &.frame_00053 {
        background-position: -298px -316px;
        
        
    }

    &.frame_00054 {
        background-position: -149px -316px;
        
        
    }

    &.frame_00055 {
        background-position: -1px -316px;
        
        
    }

    &.frame_00056 {
        background-position: -595px -253px;
        
        
    }

    &.frame_00057 {
        background-position: -446px -253px;
        
        
    }

    &.frame_00058 {
        background-position: -298px -253px;
        
        
    }

    &.frame_00059 {
        background-position: -149px -253px;
        
        
    }

    &.frame_00060 {
        background-position: -1px -253px;
        
        
    }

    &.frame_00061 {
        background-position: -595px -190px;
        
        
    }

    &.frame_00062 {
        background-position: -446px -190px;
        
        
    }

    &.frame_00063 {
        background-position: -298px -190px;
        
        
    }

    &.frame_00064 {
        background-position: -149px -190px;
        
        
    }

    &.frame_00065 {
        background-position: -1px -190px;
        
        
    }

    &.frame_00066 {
        background-position: -595px -127px;
        
        
    }

    &.frame_00067 {
        background-position: -446px -127px;
        
        
    }

    &.frame_00068 {
        background-position: -298px -127px;
        
        
    }

    &.frame_00069 {
        background-position: -149px -127px;
         
    }

    &.frame_00070 {
        background-position: -1px -127px;
        
    }

    &.frame_00071 {
        background-position: -595px -64px;
        
    }

    &.frame_00072 {
        background-position: -446px -64px;
        
    }

    &.frame_00073 {
        background-position: -298px -64px;
        
    }

    &.frame_00074 {
        background-position: -149px -64px;
        
    }

    &.frame_00075 {
        background-position: -1px -64px;
        
    }

    &.frame_00076 {
        background-position: -595px -1px;
        
    }

    &.frame_00077 {
        background-position: -446px -1px;
        
    }

    &.frame_00078 {
        background-position: -298px -1px;
        
    }

    &.frame_00079 {
        background-position: -149px -1px;
        
    }

    &.frame_00080 {
        background-position: -1px -1px;
        
    }

}
