.secure-fr {

    background-image: url("../../images/handwriting-sprites/fr/secure.png");
    background-size: 521px 1021px;
    width:129px;
    height:50px;
  margin-bottom: .4em;
  @include media-breakpoint-up(md) { // Tablet and above
    margin-bottom: .9em;
  }
    
    &.frame_00000 {
        background-position: -261px -970px;
        
        
    }

    &.frame_00001 {
        background-position: -391px -919px;
        
        
    }

    &.frame_00002 {
        background-position: -261px -919px;
        
        
    }

    &.frame_00003 {
        background-position: -391px -868px;
        
        
    }

    &.frame_00004 {
        background-position: -261px -868px;
        
        
    }

    &.frame_00005 {
        background-position: -391px -817px;
        
        
    }

    &.frame_00006 {
        background-position: -261px -817px;
        
        
    }

    &.frame_00007 {
        background-position: -131px -970px;
        
        
    }

    &.frame_00008 {
        background-position: -131px -919px;
        
        
    }

    &.frame_00009 {
        background-position: -131px -868px;
        
        
    }

    &.frame_00010 {
        background-position: -131px -817px;
        
        
    }

    &.frame_00011 {
        background-position: -391px -766px;
        
        
    }

    &.frame_00012 {
        background-position: -261px -766px;
        
        
    }

    &.frame_00013 {
        background-position: -131px -766px;
        
        
    }

    &.frame_00014 {
        background-position: -391px -715px;
        
        
    }

    &.frame_00015 {
        background-position: -261px -715px;
        
        
    }

    &.frame_00016 {
        background-position: -131px -715px;
        
        
    }

    &.frame_00017 {
        background-position: -391px -664px;
        
        
    }

    &.frame_00018 {
        background-position: -261px -664px;
        
        
    }

    &.frame_00019 {
        background-position: -131px -664px;
        
        
    }

    &.frame_00020 {
        background-position: -131px -664px;
        
        
    }

    &.frame_00021 {
        background-position: -1px -970px;
        
        
    }

    &.frame_00022 {
        background-position: -1px -919px;
        
        
    }

    &.frame_00023 {
        background-position: -1px -868px;
        
        
    }

    &.frame_00024 {
        background-position: -1px -817px;
        
        
    }

    &.frame_00025 {
        background-position: -1px -766px;
        
        
    }

    &.frame_00026 {
        background-position: -1px -715px;
        
        
    }

    &.frame_00027 {
        background-position: -1px -664px;
        
        
    }

    &.frame_00028 {
        background-position: -391px -613px;
        
        
    }

    &.frame_00029 {
        background-position: -261px -613px;
        
        
    }

    &.frame_00030 {
        background-position: -131px -613px;
        
        
    }

    &.frame_00031 {
        background-position: -1px -613px;
        
        
    }

    &.frame_00032 {
        background-position: -391px -562px;
        
        
    }

    &.frame_00033 {
        background-position: -261px -562px;
        
        
    }

    &.frame_00034 {
        background-position: -131px -562px;
        
        
    }

    &.frame_00035 {
        background-position: -1px -562px;
        
        
    }

    &.frame_00036 {
        background-position: -391px -511px;
        
        
    }

    &.frame_00037 {
        background-position: -261px -511px;
        
        
    }

    &.frame_00038 {
        background-position: -131px -511px;
        
        
    }

    &.frame_00039 {
        background-position: -1px -511px;
        
        
    }

    &.frame_00040 {
        background-position: -391px -460px;
        
        
    }

    &.frame_00041 {
        background-position: -261px -460px;
        
        
    }

    &.frame_00042 {
        background-position: -131px -460px;
        
        
    }

    &.frame_00043 {
        background-position: -1px -460px;
        
        
    }

    &.frame_00044 {
        background-position: -391px -409px;
        
        
    }

    &.frame_00045 {
        background-position: -261px -409px;
        
        
    }

    &.frame_00046 {
        background-position: -131px -409px;
        
        
    }

    &.frame_00047 {
        background-position: -1px -409px;
        
        
    }

    &.frame_00048 {
        background-position: -391px -358px;
        
        
    }

    &.frame_00049 {
        background-position: -261px -358px;
        
        
    }

    &.frame_00050 {
        background-position: -131px -358px;
        
        
    }

    &.frame_00051 {
        background-position: -1px -358px;
        
        
    }

    &.frame_00052 {
        background-position: -391px -307px;
        
        
    }

    &.frame_00053 {
        background-position: -261px -307px;
        
        
    }

    &.frame_00054 {
        background-position: -131px -307px;
        
        
    }

    &.frame_00055 {
        background-position: -1px -307px;
        
        
    }

    &.frame_00056 {
        background-position: -391px -256px;
        
        
    }

    &.frame_00057 {
        background-position: -261px -256px;
        
        
    }

    &.frame_00058 {
        background-position: -131px -256px;
        
        
    }

    &.frame_00059 {
        background-position: -1px -256px;
        
        
    }

    &.frame_00060 {
        background-position: -391px -205px;
        
        
    }

    &.frame_00061 {
        background-position: -261px -205px;
        
        
    }

    &.frame_00062 {
        background-position: -131px -205px;
        
        
    }

    &.frame_00063 {
        background-position: -1px -205px;
        
        
    }

    &.frame_00064 {
        background-position: -391px -154px;
        
        
    }

    &.frame_00065 {
        background-position: -261px -154px;
        
        
    }

    &.frame_00066 {
        background-position: -131px -154px;
        
        
    }

    &.frame_00067 {
        background-position: -1px -154px;
        
        
    }

    &.frame_00068 {
        background-position: -391px -103px;
        
        
    }

    &.frame_00069 {
        background-position: -261px -103px;
        
        
    }

    &.frame_00070 {
        background-position: -131px -103px;
        
        
    }

    &.frame_00071 {
        background-position: -1px -103px;
        
        
    }

    &.frame_00072 {
        background-position: -391px -52px;
        
        
    }

    &.frame_00073 {
        background-position: -261px -52px;
        
        
    }

    &.frame_00074 {
        background-position: -131px -52px;
        
        
    }

    &.frame_00075 {
        background-position: -1px -52px;
        
        
    }

    &.frame_00076 {
        background-position: -391px -1px;
        
        
    }

    &.frame_00077 {
        background-position: -261px -1px;
        
        
    }

    &.frame_00078 {
        background-position: -131px -1px;
        
        
    }

    &.frame_00079 {
        background-position: -1px -1px;
        
        
    }

    &.frame_00080 {
        background-position: -1px -1px;
        
        
    }

}
