.secure {
  width: 105px;
  height: 48px;
  background-image: url("../../images/handwriting-sprites/secure.png");
  background-size: 849px 491px;
 margin-bottom: .4em;
  @include media-breakpoint-up(md) { // Tablet and above

    margin-bottom: .9em;
  }


    &.frame_00000 {
        background-position: -743px -393px;
        
        ;
    }

    &.frame_00001 {
        background-position: -637px -393px;
        
        ;
    }

    &.frame_00002 {
        background-position: -743px -344px;
        
        ;
    }

    &.frame_00003 {
        background-position: -637px -344px;
        
        ;
    }

    &.frame_00004 {
        background-position: -743px -295px;
        
        ;
    }

    &.frame_00005 {
        background-position: -637px -295px;
        
        ;
    }

    &.frame_00006 {
        background-position: -531px -442px;
        
        ;
    }

    &.frame_00007 {
        background-position: -531px -393px;
        
        ;
    }

    &.frame_00008 {
        background-position: -531px -344px;
        
        ;
    }

    &.frame_00009 {
        background-position: -531px -295px;
        
        ;
    }

    &.frame_00010 {
        background-position: -743px -246px;
        
        ;
    }

    &.frame_00011 {
        background-position: -637px -246px;
        
        ;
    }

    &.frame_00012 {
        background-position: -531px -246px;
        
        ;
    }

    &.frame_00013 {
        background-position: -743px -197px;
        
        ;
    }

    &.frame_00014 {
        background-position: -637px -197px;
        
        ;
    }

    &.frame_00015 {
        background-position: -531px -197px;
        
        ;
    }

    &.frame_00016 {
        background-position: -425px -442px;
        
        ;
    }

    &.frame_00017 {
        background-position: -425px -393px;
        
        ;
    }

    &.frame_00018 {
        background-position: -425px -344px;
        
        ;
    }

    &.frame_00019 {
        background-position: -425px -344px;
        
        ;
    }

    &.frame_00020 {
        background-position: -425px -344px;
        
        ;
    }

    &.frame_00021 {
        background-position: -425px -295px;
        
        ;
    }

    &.frame_00022 {
        background-position: -425px -246px;
        
        ;
    }

    &.frame_00023 {
        background-position: -425px -197px;
        
        ;
    }

    &.frame_00024 {
        background-position: -743px -148px;
        
        ;
    }

    &.frame_00025 {
        background-position: -637px -148px;
        
        ;
    }

    &.frame_00026 {
        background-position: -531px -148px;
        
        ;
    }

    &.frame_00027 {
        background-position: -425px -148px;
        
        ;
    }

    &.frame_00028 {
        background-position: -743px -99px;
        
        ;
    }

    &.frame_00029 {
        background-position: -637px -99px;
        
        ;
    }

    &.frame_00030 {
        background-position: -531px -99px;
        
        ;
    }

    &.frame_00031 {
        background-position: -425px -99px;
        
        ;
    }

    &.frame_00032 {
        background-position: -319px -442px;
        
        ;
    }

    &.frame_00033 {
        background-position: -319px -393px;
        
        ;
    }

    &.frame_00034 {
        background-position: -319px -344px;
        
        ;
    }

    &.frame_00035 {
        background-position: -319px -295px;
        
        ;
    }

    &.frame_00036 {
        background-position: -319px -246px;
        
        ;
    }

    &.frame_00037 {
        background-position: -319px -197px;
        
        ;
    }

    &.frame_00038 {
        background-position: -319px -148px;
        
        ;
    }

    &.frame_00039 {
        background-position: -319px -99px;
        
        ;
    }

    &.frame_00040 {
        background-position: -743px -50px;
        
        ;
    }

    &.frame_00041 {
        background-position: -637px -50px;
        
        ;
    }

    &.frame_00042 {
        background-position: -531px -50px;
        
        ;
    }

    &.frame_00043 {
        background-position: -425px -50px;
        
        ;
    }

    &.frame_00044 {
        background-position: -319px -50px;
        
        ;
    }

    &.frame_00045 {
        background-position: -743px -1px;
        
        ;
    }

    &.frame_00046 {
        background-position: -637px -1px;
        
        ;
    }

    &.frame_00047 {
        background-position: -531px -1px;
        
        ;
    }

    &.frame_00048 {
        background-position: -425px -1px;
        
        ;
    }

    &.frame_00049 {
        background-position: -319px -1px;
        
        ;
    }

    &.frame_00050 {
        background-position: -213px -442px;
        
        ;
    }

    &.frame_00051 {
        background-position: -213px -393px;
        
        ;
    }

    &.frame_00052 {
        background-position: -213px -344px;
        
        ;
    }

    &.frame_00053 {
        background-position: -213px -295px;
        
        ;
    }

    &.frame_00054 {
        background-position: -213px -246px;
        
        ;
    }

    &.frame_00055 {
        background-position: -213px -197px;
        
        ;
    }

    &.frame_00056 {
        background-position: -213px -148px;
        
        ;
    }

    &.frame_00057 {
        background-position: -213px -99px;
        
        ;
    }

    &.frame_00058 {
        background-position: -213px -50px;
        
        ;
    }

    &.frame_00059 {
        background-position: -213px -1px;
        
        ;
    }

    &.frame_00060 {
        background-position: -107px -442px;
        
        ;
    }

    &.frame_00061 {
        background-position: -107px -393px;
        
        ;
    }

    &.frame_00062 {
        background-position: -107px -344px;
        
        ;
    }

    &.frame_00063 {
        background-position: -107px -295px;
        
        ;
    }

    &.frame_00064 {
        background-position: -107px -246px;
        
        ;
    }

    &.frame_00065 {
        background-position: -107px -197px;
        
        ;
    }

    &.frame_00066 {
        background-position: -107px -148px;
        
        ;
    }

    &.frame_00067 {
        background-position: -107px -99px;
        
        ;
    }

    &.frame_00068 {
        background-position: -107px -50px;
        
        ;
    }

    &.frame_00069 {
        background-position: -107px -1px;
        
        ;
    }

    &.frame_00070 {
        background-position: -1px -442px;
        
        ;
    }

    &.frame_00071 {
        background-position: -1px -393px;
        
        ;
    }

    &.frame_00072 {
        background-position: -1px -344px;
        
        ;
    }

    &.frame_00073 {
        background-position: -1px -295px;
        
        ;
    }

    &.frame_00074 {
        background-position: -1px -246px;
        
        ;
    }

    &.frame_00075 {
        background-position: -1px -197px;
        
        ;
    }

    &.frame_00076 {
        background-position: -1px -148px;
        
        ;
    }

    &.frame_00077 {
        background-position: -1px -99px;
        
        ;
    }

    &.frame_00078 {
        background-position: -1px -50px;
        
        ;
    }

    &.frame_00079 {
        background-position: -1px -1px;
        
        ;
    }

    &.frame_00080 {
        background-position: -1px -1px;
        
        ;
    }

}
