.simple {
  background-image: url(../../images/handwriting-sprites/simple.png);
  background-size: 929px 631px;
  width: 115px;
  height: 62px;

  &.frame_00000 {
    background-position: -697px -568px;
  }

  &.frame_00001 {
    background-position: -813px -505px;
  }

  &.frame_00002 {
    background-position: -697px -505px;
  }

  &.frame_00003 {
    background-position: -813px -442px;
  }

  &.frame_00004 {
    background-position: -697px -442px;
  }

  &.frame_00005 {
    background-position: -581px -568px;
  }

  &.frame_00006 {
    background-position: -581px -505px;
  }

  &.frame_00007 {
    background-position: -581px -442px;
  }

  &.frame_00008 {
    background-position: -813px -379px;
  }

  &.frame_00009 {
    background-position: -697px -379px;
  }

  &.frame_00010 {
    background-position: -581px -379px;
  }

  &.frame_00011 {
    background-position: -813px -316px;
  }

  &.frame_00012 {
    background-position: -697px -316px;
  }

  &.frame_00013 {
    background-position: -581px -316px;
  }

  &.frame_00014 {
    background-position: -465px -568px;
  }

  &.frame_00015 {
    background-position: -465px -505px;
  }

  &.frame_00016 {
    background-position: -465px -442px;
  }

  &.frame_00017 {
    background-position: -465px -379px;
  }

  &.frame_00018 {
    background-position: -465px -316px;
  }

  &.frame_00019 {
    background-position: -465px -316px;
  }

  &.frame_00020 {
    background-position: -465px -316px;
  }

  &.frame_00021 {
    background-position: -813px -253px;
  }

  &.frame_00022 {
    background-position: -697px -253px;
  }

  &.frame_00023 {
    background-position: -581px -253px;
  }

  &.frame_00024 {
    background-position: -465px -253px;
  }

  &.frame_00025 {
    background-position: -813px -190px;
  }

  &.frame_00026 {
    background-position: -697px -190px;
  }

  &.frame_00027 {
    background-position: -581px -190px;
  }

  &.frame_00028 {
    background-position: -465px -190px;
  }

  &.frame_00029 {
    background-position: -349px -568px;
  }

  &.frame_00030 {
    background-position: -349px -505px;
  }

  &.frame_00031 {
    background-position: -349px -442px;
  }

  &.frame_00032 {
    background-position: -349px -379px;
  }

  &.frame_00033 {
    background-position: -349px -316px;
  }

  &.frame_00034 {
    background-position: -349px -253px;
  }

  &.frame_00035 {
    background-position: -349px -190px;
  }

  &.frame_00036 {
    background-position: -813px -127px;
  }

  &.frame_00037 {
    background-position: -697px -127px;
  }

  &.frame_00038 {
    background-position: -581px -127px;
  }

  &.frame_00039 {
    background-position: -465px -127px;
  }

  &.frame_00040 {
    background-position: -349px -127px;
  }

  &.frame_00041 {
    background-position: -813px -64px;
  }

  &.frame_00042 {
    background-position: -697px -64px;
  }

  &.frame_00043 {
    background-position: -581px -64px;
  }

  &.frame_00044 {
    background-position: -465px -64px;
  }

  &.frame_00045 {
    background-position: -349px -64px;
  }

  &.frame_00046 {
    background-position: -233px -568px;
  }

  &.frame_00047 {
    background-position: -233px -505px;
  }

  &.frame_00048 {
    background-position: -233px -442px;
  }

  &.frame_00049 {
    background-position: -233px -379px;
  }

  &.frame_00050 {
    background-position: -233px -316px;
  }

  &.frame_00051 {
    background-position: -233px -253px;
  }

  &.frame_00052 {
    background-position: -233px -190px;
  }

  &.frame_00053 {
    background-position: -233px -127px;
  }

  &.frame_00054 {
    background-position: -233px -64px;
  }

  &.frame_00055 {
    background-position: -813px -1px;
  }

  &.frame_00056 {
    background-position: -697px -1px;
  }

  &.frame_00057 {
    background-position: -581px -1px;
  }

  &.frame_00058 {
    background-position: -465px -1px;
  }

  &.frame_00059 {
    background-position: -349px -1px;
  }

  &.frame_00060 {
    background-position: -233px -1px;
  }

  &.frame_00061 {
    background-position: -117px -568px;
  }

  &.frame_00062 {
    background-position: -117px -505px;
  }

  &.frame_00063 {
    background-position: -117px -442px;
  }

  &.frame_00064 {
    background-position: -117px -379px;
  }

  &.frame_00065 {
    background-position: -117px -316px;
  }

  &.frame_00066 {
    background-position: -117px -253px;
  }

  &.frame_00067 {
    background-position: -117px -190px;
  }

  &.frame_00068 {
    background-position: -117px -127px;
  }

  &.frame_00069 {
    background-position: -117px -64px;
  }

  &.frame_00070 {
    background-position: -117px -1px;
  }

  &.frame_00071 {
    background-position: -1px -568px;
  }

  &.frame_00072 {
    background-position: -1px -505px;
  }

  &.frame_00073 {
    background-position: -1px -442px;
  }

  &.frame_00074 {
    background-position: -1px -379px;
  }

  &.frame_00075 {
    background-position: -1px -316px;
  }

  &.frame_00076 {
    background-position: -1px -253px;
  }

  &.frame_00077 {
    background-position: -1px -190px;
  }

  &.frame_00078 {
    background-position: -1px -127px;
  }

  &.frame_00079 {
    background-position: -1px -64px;
  }

  &.frame_00080 {
    background-position: -1px -1px;
  }

}
