.simple {
  &:lang(fr-ca) {
    background-image: url(../../images/handwriting-sprites/fr/simple.png);
    background-size: 1003px 768px;
    width: 166px;
    height: 58px;

    &.frame_00000 {
      background-position: -836px -650px;;
    }

    &.frame_00001 {
      background-position: -669px -650px;;
    }

    &.frame_00002 {
      background-position: -836px -591px;;
    }

    &.frame_00003 {
      background-position: -669px -591px;;
    }

    &.frame_00004 {
      background-position: -836px -532px;;
    }

    &.frame_00005 {
      background-position: -669px -532px;;
    }

    &.frame_00006 {
      background-position: -502px -709px;;
    }

    &.frame_00007 {
      background-position: -502px -650px;;
    }

    &.frame_00008 {
      background-position: -502px -591px;;
    }

    &.frame_00009 {
      background-position: -502px -532px;;
    }

    &.frame_00010 {
      background-position: -836px -473px;;
    }

    &.frame_00011 {
      background-position: -669px -473px;;
    }

    &.frame_00012 {
      background-position: -502px -473px;;
    }

    &.frame_00013 {
      background-position: -836px -414px;;
    }

    &.frame_00014 {
      background-position: -669px -414px;;
    }

    &.frame_00015 {
      background-position: -502px -414px;;
    }

    &.frame_00016 {
      background-position: -502px -414px;;
    }

    &.frame_00017 {
      background-position: -502px -414px;;
    }

    &.frame_00018 {
      background-position: -502px -414px;;
    }

    &.frame_00019 {
      background-position: -502px -414px;;
    }

    &.frame_00020 {
      background-position: -502px -414px;;
    }

    &.frame_00021 {
      background-position: -836px -355px;;
    }

    &.frame_00022 {
      background-position: -669px -355px;;
    }

    &.frame_00023 {
      background-position: -502px -355px;;
    }

    &.frame_00024 {
      background-position: -335px -709px;;
    }

    &.frame_00025 {
      background-position: -335px -650px;;
    }

    &.frame_00026 {
      background-position: -335px -591px;;
    }

    &.frame_00027 {
      background-position: -335px -532px;;
    }

    &.frame_00028 {
      background-position: -335px -473px;;
    }

    &.frame_00029 {
      background-position: -335px -414px;;
    }

    &.frame_00030 {
      background-position: -335px -355px;;
    }

    &.frame_00031 {
      background-position: -836px -296px;;
    }

    &.frame_00032 {
      background-position: -669px -296px;;
    }

    &.frame_00033 {
      background-position: -502px -296px;;
    }

    &.frame_00034 {
      background-position: -335px -296px;;
    }

    &.frame_00035 {
      background-position: -836px -237px;;
    }

    &.frame_00036 {
      background-position: -669px -237px;;
    }

    &.frame_00037 {
      background-position: -502px -237px;;
    }

    &.frame_00038 {
      background-position: -335px -237px;;
    }

    &.frame_00039 {
      background-position: -836px -178px;;
    }

    &.frame_00040 {
      background-position: -669px -178px;;
    }

    &.frame_00041 {
      background-position: -502px -178px;;
    }

    &.frame_00042 {
      background-position: -335px -178px;;
    }

    &.frame_00043 {
      background-position: -168px -709px;;
    }

    &.frame_00044 {
      background-position: -168px -650px;;
    }

    &.frame_00045 {
      background-position: -168px -591px;;
    }

    &.frame_00046 {
      background-position: -168px -532px;;
    }

    &.frame_00047 {
      background-position: -168px -473px;;
    }

    &.frame_00048 {
      background-position: -168px -414px;;
    }

    &.frame_00049 {
      background-position: -168px -355px;;
    }

    &.frame_00050 {
      background-position: -168px -296px;;
    }

    &.frame_00051 {
      background-position: -168px -237px;;
    }

    &.frame_00052 {
      background-position: -168px -178px;;
    }

    &.frame_00053 {
      background-position: -836px -119px;;
    }

    &.frame_00054 {
      background-position: -669px -119px;;
    }

    &.frame_00055 {
      background-position: -502px -119px;;
    }

    &.frame_00056 {
      background-position: -335px -119px;;
    }

    &.frame_00057 {
      background-position: -168px -119px;;
    }

    &.frame_00058 {
      background-position: -836px -60px;;
    }

    &.frame_00059 {
      background-position: -669px -60px;;
    }

    &.frame_00060 {
      background-position: -502px -60px;;
    }

    &.frame_00061 {
      background-position: -335px -60px;;
    }

    &.frame_00062 {
      background-position: -168px -60px;;
    }

    &.frame_00063 {
      background-position: -836px -1px;;
    }

    &.frame_00064 {
      background-position: -669px -1px;;
    }

    &.frame_00065 {
      background-position: -502px -1px;;
    }

    &.frame_00066 {
      background-position: -335px -1px;;
    }

    &.frame_00067 {
      background-position: -168px -1px;;
    }

    &.frame_00068 {
      background-position: -1px -709px;;
    }

    &.frame_00069 {
      background-position: -1px -650px;;
    }

    &.frame_00070 {
      background-position: -1px -591px;;
    }

    &.frame_00071 {
      background-position: -1px -532px;;
    }

    &.frame_00072 {
      background-position: -1px -473px;;
    }

    &.frame_00073 {
      background-position: -1px -414px;;
    }

    &.frame_00074 {
      background-position: -1px -355px;;
    }

    &.frame_00075 {
      background-position: -1px -296px;;
    }

    &.frame_00076 {
      background-position: -1px -237px;;
    }

    &.frame_00077 {
      background-position: -1px -178px;;
    }

    &.frame_00078 {
      background-position: -1px -119px;;
    }

    &.frame_00079 {
      background-position: -1px -60px;;
    }

    &.frame_00080 {
      background-position: -1px -1px;;
    }
  }
}
