<h2>Address and Phone</h2>

<div class="office-contact">
  <ul class="contact-info">
    <li class="location collapse in">

      <h3 class="office-name">London</h3>

      <div class="office-item-container" itemscope itemtype="http://schema.org/Organization">

        <address itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
          <div class="office-name">
            <span itemprop="name">{{#if overrideName}}{{overrideName}}{{else}}FIRMA Foreign Exchange Corporation{{/if}}</span>{{#if division}} {{ division }}{{/if}}
          </div>
          <span itemprop="streetAddress">25 Worship Street</span><br/>
          <span itemprop="addressLocality">London</span>,
          <span itemprop="postalCode">EC2A 2DX</span>
          <br/><span itemprop="addressCountry">United Kingdom</span>
        </address>

        <div class="contact-details">
          <abbr title="Telephone">T:</abbr><!--
          --><span itemprop="telephone">44 (207) 253-7183</span><br/>
          <abbr title="Toll-Free Telephone">T:</abbr><!--
          --><span itemprop="telephone">44 (800) 008-6200 (toll free)</span><br/>
          <abbr title="Fax">F:</abbr><!--
          --><span itemprop="faxNumber">44 (207) 336-7239 (eFax)</span><br/>
          <abbr title="eFax">F:</abbr><!--
          --><span itemprop="faxNumber">44 (207) 785-9250</span> (eFax)<br/>
        </div>

      </div>
    </li>
  </ul>
</div>