<div class="container">
  <a href="#" class="firma-icon">
    {{> svg/firma-symbol }}
  </a>
  <ul class="nav nav-inline">
    <li class="nav-item">
      <a class="nav-link" href="careers.html">Careers</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="privacy.html">Privacy Policy</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="cookie.html">Cookie Policy</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="environment.html">Environmental Policy</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="contact.html">Find an Office</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/media/40194/firma_16-17_bond_cert_-_uk.PDF" target="blank">Certificate of Insurance</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="contact.html">Contact Us</a>
    </li>
    <li class="nav-item copyright">
      <span>&copy;2016 FIRMA Foreign Exchange Corporation</span>
    </li>
  </ul>
</div>

<div class="container">
  <p class="disclaimer">
    FIRMA Foreign Exchange Corporation (UK) Ltd. (Firma) is incorporated in the United Kingdom and is a direct
    subsidiary of FIRMA Foreign Exchange Corporation Ltd. based in Edmonton Alberta, Canada. Firma is registered under
    the Money Laundering Regulations with HM Revenue & Customs as a bureau de change, and as a money transmitter, with
    registration number 1235789. Firma is also an Authorized Payment Institution with the Financial Conduct Authority
    under the Payment Services Regulations 2009 (PSRs) with number 541034.
  </p>
</div>