<h1 class="contact-headline">
  <button class="headline-cta">
    {{> svg/contact-icon-no-phone }}
    Learn how Firma can <span class="soft-break mobile"></span>help
    <span class="nobr">your business.</span>
  </button>
</h1>
{{> content/en-gb/contact-form }}
{{> content/contact-complete }}