.accordion {
  margin: 0;
  padding: 0;

  .accordion-item {
    list-style-type: none;
    border-top: 1px solid transparent;

    .accordion-heading {
      margin-bottom: 1.5em;
    }
    .accordion-link {
      display: block;
      padding: 0 0 .5em 0;
      color: $gray-light;
      border-bottom: 0.14em solid $gray-light;

      &:after {
        @include accordionIcon(closed);
      }
    }
    .accordion-contents {
      @include clearfix();
    }

    // "in" state overrides
    &.in {
      padding-bottom: $content-padding-vertical;

      .accordion-link {
        color: $firma-purple;
        border-bottom: 0.14em solid $firma-purple;

        &:after {
          @include accordionSymbol(open);
        }
      }
    }
  }
}