.blog-section {
  @include media-breakpoint-down(lg) { // Laptop and below
    max-width: none;
  }
  @include media-breakpoint-up(md) { // Tablet and above
    padding: 0 $content-padding;
  }
  @include media-breakpoint-only(lg) { // Laptop only
    padding: 0 $content-padding * 1.75;
  }
  @include media-breakpoint-only(xl) { // Desktop only
    padding: $grid-gutter-width / 2;
  }

  .services-content {
    @include media-breakpoint-up(md) { // Tablet and above
      box-shadow: $item-shadow;
    }
  }

  // Reset lists
  .blog-list,
  .blog-list li {
    margin: 0;
  }
  .blog-list {
    padding: 0;
    box-shadow: $item-shadow;
    @include make-row(0);
    @include media-breakpoint-up(md) { // Tablet and above
      box-shadow: none;
    }

    li {
      list-style-type: none;
      display: block;
    }
  }
  .service-icon {
    width: auto;
    height: 60px;
    margin-bottom: 1em;
  }
  .blog-item,
  .cta {
    @include make-col();
    @include make-col-span(12);
    padding: $content-padding $content-padding / 2;
    @include media-breakpoint-up(sm) { // Phablet and above
      padding: $content-padding / 2;
    }
    @include media-breakpoint-up(md) { // Tablet and above
      padding: $content-padding-vertical * .75 $content-padding;
    }
    @include media-breakpoint-up(lg) { // Laptop and above
      padding: $content-padding-vertical $content-padding;
    }
  }
  .blog-item,
  .intro {
    border: 1px solid $lighten-grey;
    border-bottom: 0;
  }
  .intro {
    @include media-breakpoint-down(sm) { // Phablet and below
      padding: 0 0 $content-padding;
      border: 0;
    }
    @include media-breakpoint-up(md) { // Tablet and above
      padding: $content-padding-vertical $content-padding;
    }
  }
  .blog-item {
    @include media-breakpoint-up(sm) { // Phablet and above
      @include make-col-span(6);
    }

    & + .blog-item {
    }
    &:nth-child(even) {
      @include media-breakpoint-up(sm) { // Phablet and above
        border-left: 0;
      }
    }
    p {
      @include media-breakpoint-up(md) { // Desktop and above
        max-width: 320px;
      }
      @include media-breakpoint-up(lg) { // Desktop and above
        max-width: 400px;
      }
    }
  }
  .cta {
    padding-top: $content-padding-vertical / 2;
    padding-bottom: $content-padding-vertical / 2;
    font-size: 1em;
    font-weight: 500;
    @include media-breakpoint-up(md) { // Tablet and above
      font-size: 1.06em;
    }
    a {
      color: $white;
      display: inline-block;
      padding-bottom: 1px;
      border-bottom: 1px dotted rgba($white, .4);
      @include media-breakpoint-up(md) { // Tablet and above
        padding-bottom: 5px;
      }
    }
    &.explore {
      background-color: $firma-purple;
    }
  }
}