.blog-post {
  h3 {
    font-size: 1em;

    a {
      color: $firma-purple;
    }
  }
  .hero-secondary {
    width: auto;
    height: auto;
    min-height: 0;
    max-height:500px;
    margin: 0;
    background-color: lighten($grey, 50%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    @include media-breakpoint-down(sm) { // Phablet and below
     // margin-left: $grid-gutter-width / 2;
    }
        @include media-breakpoint-down(xs) { // Phablet and below
     width:110%;
    }

    .contents {
      padding-left: 0;
      height: 320px;
      @include media-breakpoint-down(sm) { // Phablet and below
        height: 200px;
      }
      @include media-breakpoint-up(xl) { // Desktop and above
        padding-bottom: 500px;
        height: 0;
        max-width: none;
      }
    }

    .text {
      bottom: $content-padding / 2;
      @include media-breakpoint-up(md) { // Tablet and above
        bottom: $content-padding;
      }

      .text-firma-equals {
        width: 90px;
        height: auto;
        @include media-breakpoint-up(md) { // Tablet and above
          width: 170px;
        }
      }
      .handwriting {
        display: inline-block;
        width: 200px;
        height: auto;
        position: relative;
        transform-origin: left top;
        top: $grid-gutter-width / 2;
        @include media-breakpoint-up(md) { // Tablet and above
          top: 12px;
          left: .25em;
          transform: scale(1.15);
        }

        &:lang(fr-ca) {
          @include media-breakpoint-up(md) { // Tablet and above
            transform: scale(1.15) translateX(-10px) translateY(-2px);
          }
        }
      }
    }
  }

  .firma-equals {
    @include media-breakpoint-up(xs) { // Phablet and above
      margin-left:15px;
    }
    @include media-breakpoint-up(md) { // Tablet and above
      margin-left:50px;
    }
    @include media-breakpoint-up(xl) { // Desktop and above
      margin-left:200px;
    }

  }
  .blog-content {
      @include media-breakpoint-down(sm) { // Phablet and below
        padding-left:0;
      }
      @include media-breakpoint-up(md) { // Tablet and above
        padding-left:50px;
      }
      @include media-breakpoint-up(xl) { // Desktop and above
        padding-left:200px;
      }
  }
  blockquote {
    color: $firma-purple;
    position: relative;
    padding-left: $content-padding * .9;
    padding-top: 10px;

    &:before {
      @include firmaIcon();
      @include firmaSymbol(quote);
      position: absolute;
      top: 9px;
      left: -16px;
      font-size: 1.25em;
    }
    p {
      color: $firma-purple;
      font-family: $font-family-serif;
      font-size: 1.1em;
    }
    cite {
      color: $black;
      font-style: normal;
      font-size: .9em;
      font-weight: 600;
      position: relative;
      top: -10px;
    }
  }

  #header {
    .navbar {
      .main-nav {
        @include media-breakpoint-up(md) { // Tablet and above
          margin-top: .5em;
        }
      }
      .nav-logo {
        fill: $firma-purple;
      }
      .navbar-toggler {
        box-shadow: none;
        background-color: $firma-purple;
      }
      .hamburger {
        color: $white;
      }
      .nav-item {
        @include media-breakpoint-up(md) { // Tablet and above
          min-height: 1em;
          line-height: 1em;
        }

        &.language-selector {

          &:before {
            @include media-breakpoint-up(md) { // Tablet and above
              border-left: 1px dotted $nav-link-color-dark;
            }
          }
        }
      }
      .nav-link {
        @include media-breakpoint-up(md) { // Tablet and above
          color: $nav-link-color-dark;
        }

        &.active {
          color: $firma-purple;
        }
      }
    }
  }
  .page-content {
    @include media-breakpoint-down(sm) { // Phablet and below
      padding-top: 7em;
    }
    @include media-breakpoint-up(md) { // Tablet and above
      padding-top: 10em;
    }
    @include media-breakpoint-up(xl) { // Desktop and above
      padding-top: 10em;
    }
  }
  .explore {
    margin-right: $content-padding;
    max-width: 50em;

    .divider {
      margin-top: 3em;
    }
    .blog-nav {
      width: 100%;
    }
    .blog-thumbnail {
      display: block;

      img {
        width: 150px;
        height: auto;
        border: 0;
      }
    }
  }
}