.contact-form {
  transition: transform .5s 0s cubic-bezier(0.645, 0.045, 0.355, 1.000); /* easeInOutCubic */
  @include make-row();

  .field,
  .button,
  .legal {
    position: relative;
    @include make-col();
  }
  .button,
  .legal {
    @include make-col-span(12);
  }
  .legal {
    padding-right: 2em;
    max-width: none;
    color: $white;
    font-size: .75em;
    opacity: .75;
    margin-top: 2em;
    @include media-breakpoint-up(md) {
      padding-right: 0;
    }
  }
  .placeholder {
    position: absolute;
    top: 3px;
    transform-origin: left top;
    transform: scale(.7) translateY(100%);
    color: rgba($white, .5);
    @include media-breakpoint-up(md) {
      top: 10px;
    }
  }
  .field {
    margin-bottom: 2em;
    @include make-col-span(10);
    @include media-breakpoint-up(sm) {
      @include make-col-span(7);
    }
    @include media-breakpoint-up(md) {
      @include make-col-span(6);
    }

    &.optin {
      vertical-align: top;
      white-space: nowrap;
      margin-bottom: 1em;
      @include make-col-span(11);
      @include media-breakpoint-up(md) {
        @include make-col-span(10);
      }
      @include media-breakpoint-up(lg) {
        padding-top: 1em;
      }

      label {
        white-space: normal;
        line-height: 130%;

        input {
          @include media-breakpoint-up(md) { // Tablet and above
            width: 5%;
          }
        }
        .label {
          box-sizing: border-box;
          width: 90%;
          display: inline-block;
          vertical-align: top;
          margin-left: .1em;
        }
      }
      .parsley-errors-list {
        @include media-breakpoint-down(xs) {
          margin: 0;
          left: $grid-gutter-width / 2;
          right: 0;
          bottom: 0;
          text-align: left;
          transform: translateY(100%);
        }
      }
    }
    .textinput {
      width: 100%;
      font-size: 1em;
      background-color: transparent;
      border: 0;
      border-bottom: 1px dotted $white;
      color: $white;
      padding: 0 0 .75em 0;
      @include media-breakpoint-up(md) {
        font-size: 1.25em;
      }

      // Vendor prefixed rules. Make sure they're separate -- special case for placeholders
      // http://stackoverflow.com/questions/16982449/why-isnt-it-possible-to-combine-vendor-specific-pseudo-elements-classes-into-on
      &::-webkit-input-placeholder { /* Chrome */
        color: rgba($white, .5);
      }
      &::-moz-placeholder { /* Firefox 18- */
        color: rgba($white, .5);
      }
      &:-moz-placeholder { /* Firefox 19+ */
        color: rgba($white, .5);
      }
      &:-ms-input-placeholder { /* IE 10+ */
        color: rgba($white, .5);
      }
    }
    .checkbox {
      display: inline-block;
    }
  }
  .phone {
    position: relative;
    visibility: visible;
    opacity: 1;

    &:before {
      @include firmaIcon();
      @include firmaSymbol(chevron-right);
      font-size: 1.3em;
      display: block;
      position: absolute;
      top: -3px;
      right: 7px;
      margin: 0;
      color: rgba($white, .4);
      pointer-events: none;
      @include media-breakpoint-up(md) {
        top: -7px;
        font-size: 1.8em;
      }
    }
  }

  // making postal code uppercase, while keeping the placeholder lowercase
  .postal-format  {
    text-transform: uppercase;
  }

  .postal-format::-webkit-input-placeholder { /* WebKit browsers */
      text-transform: none;
  }
  .postal-format:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
      text-transform: none;
  }
  .postal-format::-moz-placeholder { /* Mozilla Firefox 19+ */
      text-transform: none;
  }
  .postal-format:-ms-input-placeholder { /* Internet Explorer 10+ */
      text-transform: none;
  }

  // Parsley error messages
  .parsley-errors-list {
    position: absolute;
    padding: 0;
    margin: -.9em 0;
    font-size: .7em;
    line-height: 130%;
    width: 15em;
    top: 50%;
    right: -16%;
    transform: translateY(-50%);
    display: none;
    text-align: right;
    @include media-breakpoint-up(sm) {
      right: -65%;
      width: 20em;
    }
    @include media-breakpoint-up(md) {
      font-size: .75em;
      margin: 0.5em 0 0;
      top: auto;
      right: auto;
      transform: none;
      width: auto;
      text-align: left;
    }

    li {
      list-style-type: none;
      margin: 0;
      display: inline-block;
      text-align: left;
    }
    .in & {
      display: block;
    }
  }
  .submit {
    margin: 0;
    border: 0;
    background-color: transparent;
    padding: .5em 0;
    font-size: 1.15em;
    position: relative;
    font-weight: 400;
    @include media-breakpoint-up(md) {
      font-size: 1.3em;
      padding: 1em 0;
    }

    &:before {
      @include firmaIcon();
      @include firmaSymbol(chevron-right);

      font-size: 1.3em;
      display: block;
      position: absolute;
      top: .2em;
      right: -1em;
      color: $white;
      margin: 0;
      @include media-breakpoint-up(md) {
        top: .65em;
      }
    }
    &:disabled,
    &:disabled:before {
      color: rgba($white, .4);
    }

    // CA french overrides
    &:lang(fr-ca) {
      letter-spacing: -0.03em;
    }
  }
  .in & {
    transform: translateY(0);
    transition: transform .5s .25s cubic-bezier(0.645, 0.045, 0.355, 1.000); /* easeInOutCubic */

    // CA french overrides
    &:lang(fr-ca) {
      transform: translateY(-39%);
      @include media-breakpoint-up(sm) {
        transform: translateY(-30%);
      }
      @include media-breakpoint-up(md) {
        transform: translateY(-28%);
      }
      @include media-breakpoint-up(xl) {
        transform: translateY(-40%);
      }
    }

    .field,
    .button {
      opacity: 1;
      visibility: visible;
      transition: opacity .5s ease-in-out, visibility 0s .5s ease-in-out;
    }
    .phone {
      &:before {
        display: none;
      }
    }
  }
  .fixed & {
    @include media-breakpoint-up(md) {
      transform: translateY(-15%);
    }

    // CA french overrides
    &:lang(fr-ca) {
      @include media-breakpoint-down(sm) {
        transform: translateY(-5%);
      }
      @include media-breakpoint-up(lg) {
        transform: translateY(-18%);
      }
    }
  }
  .complete & {
    opacity: 0;
    transform: translateY(76%);
    transition: transform .3s .25s cubic-bezier(0.645, 0.045, 0.355, 1.000); /* easeInOutCubic */
    @include media-breakpoint-up(md) {
      transform: translateY(80%);
    }
    @include media-breakpoint-up(lg) {
      transform: translateY(75%);
    }

    // CA french overrides
    &:lang(fr-ca) {
      transform: translateY(82%);
    }
  }
}