.contact,
.contact-placeholder {
  height: 32em;
  @include media-breakpoint-up(sm) { // Phablet and above
    height: 31em;
  }
  @include media-breakpoint-up(md) { // Tablet and above
    height: 24em;
  }
  @include media-breakpoint-up(lg) { // Laptop and above
    height: 25em;
  }

  &:lang(fr-ca) {
    @include media-breakpoint-only(md) { // Tablet only
      height: 26em;
    }
  }
}
.debug {
  border: 2px solid #ff0000;
  left: 0;
  right: 0;
  position: absolute;
  z-index: 99999;
}
.contact {
  color: $white;
  background-color: $firma-blue;
  overflow: hidden;
  position: absolute;
  z-index: 1000;
  width: 100%;
  bottom: 5em;
  margin-top: 0; // Contact form is outside of the main container hence no margin collapsing, remove extra space
  margin-bottom: 0;
  transform: initial;
  @include make-container();
  @include media-breakpoint-down(sm) { // Phablet and below
    transition: height .5s cubic-bezier(0.645, 0.045, 0.355, 1.000); /* easeInOutCubic */
  }
  @include media-breakpoint-only(md) { // Tablet only
    padding: 0;
  }

  &.fixed {
    position: fixed;
    bottom: -1px;
    left: 0;
    transform: translateY(85%);
    @include media-breakpoint-up(md) { // Tablet and above
      transform: translateY(75%);
    }

    .hide-form {
      @include media-breakpoint-down(sm) { // Phablet and below
        top: $grid-gutter-width / 2;
      }
    }
    .contact-headline {
      @include media-breakpoint-down(sm) { // Phablet and below
        font-size: 0.95rem;
        transform: translateY(-1.35em);
      }
      @include media-breakpoint-up(md) { // Tablet and above
        transform: translateY(-.8em) scale(1);
      }
      @include media-breakpoint-up(lg) { // Laptop and above
        transform: translateY(-.6em) scale(.8);
      }

      &:lang(fr-ca) {
        @include media-breakpoint-only(xs) { // Mobile only
          transform: translateY(-1.75em);
        }
        @include media-breakpoint-down(sm) { // Phablet and below
          font-size: 1em;
          transform: translateY(-1.15em);
        }
        @include media-breakpoint-up(md) { // Tablet and above
          transform: translateY(-.75em) scale(1);
        }
        @include media-breakpoint-up(lg) { // Laptop and above
          transform: translateY(-1em) scale(1);
        }
        @include media-breakpoint-up(xl) { // Desktop and above
          transform: translateY(-.7em) scale(1);
        }
      }
    }
    .headline-cta {
      display: block;
      width: 100%;
    }
    .soft-break.mobile {
      @include media-breakpoint-down(sm) { // Phablet and below
        display: inline
      }
    }
    .contact-icon {
      @include media-breakpoint-down(sm) { // Phablet and below
        margin-top: 5px;
        transform: scale(1.25);
        vertical-align: middle;
        float: left;
        margin-right: $grid-gutter-width * .6;
      }
    }
  }
  &.fixed.in {
    height: 32em;
    @include media-breakpoint-up(md) { // Tablet and above
      height: 22em;
    }
  }
}

.contact-anchor {
  position: relative;
}

.contact-placeholder {
  margin: $content-padding-vertical 0 0;

  &.in {
    @include media-breakpoint-down(sm) { // Phablet and below
      height: 36em;
    }
  }
}

.contact-container {
  padding: ($content-padding - .5em) 0;
  // TODO: refactor this rule so it's not everywhere
  @include media-breakpoint-down(lg) { // Laptop and below
    max-width: none;
  }
  @include media-breakpoint-up(md) { // Tablet and above
    padding-left: $content-padding;
    padding-right: $content-padding;
  }
  @include media-breakpoint-only(lg) { // Laptop only
    padding-left: $content-padding * 1.5;
    padding-right: $content-padding * 1.5;
  }
  @include media-breakpoint-only(xl) { // Desktop only
    padding-left: $grid-gutter-width / 2;
    padding-right: $grid-gutter-width / 2;
  }

  .hide-form {
    border: 0;
    background-color: $white;
    float: right;
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s 0s ease-in-out, visibility 0s .5s ease-in-out;
    font-size: 1.25em;
    top: 1.5em;
    right: -0.25em;
    position: relative;
    z-index: 100;
    border-radius: 50%;
    width: 34px;
    height: 34px;
    line-height: 100%;
    padding: 0;
    @include media-breakpoint-down(sm) { // Phablet and below
      right: -.25em;
      top: -1.3em;
    }

    .fixed.in &,
    .complete.in & {
      opacity: 1;
      visibility: visible;
      transition: opacity .5s .5s ease-in-out, visibility 0s 0s ease-in-out;
    }
    .close {
      line-height: 100%;
    }
    .icon {
      color: $firma-blue;
      font-size: .7em;
    }
  }
  .contact-headline {
    line-height: 125%;
    margin-bottom: 1.2em;
    opacity: 1;
    visibility: visible;
    transition: opacity .5s .25s ease-in-out, visibility 0s 0s ease-in-out;
    transform-origin: left center;
    @include media-breakpoint-only(md) { // Tablet only
      white-space: nowrap;
    }
    @include media-breakpoint-up(md) { // Tablet and above
      font-size: 1.58em;
      line-height: 110%;
      margin-bottom: 1.75em;
    }
    @include media-breakpoint-up(lg) { // Tablet and above
      font-size: 1.8em;
    }
    @include media-breakpoint-up(xl) { // Tablet and above
      font-size: 2em;
    }

    // CA french overrides
    &:lang(fr-ca) {
      font-size: 1.5em;
      margin-top: .5em;
      margin-bottom: 2em;
      @include media-breakpoint-up(sm) { // Phablet and above
        top: -.75em;
      }
      @include media-breakpoint-up(md) { // Tablet and above
        white-space: nowrap;
        font-size: 1.75em;
      }
      @include media-breakpoint-up(lg) { // Tablet and above
        margin-top: .25em;
      }
      @include media-breakpoint-up(xl) { // Tablet and above
        font-size: 1.7em;
        margin-top: 0;
      }
    }
    .headline-cta {
      background: none;
      border: 0;
      padding: 0;
      text-align: left;
      @include media-breakpoint-only(md) {
        letter-spacing: -0.01em;
      }
      @include media-breakpoint-down(md) {
        display: block;
      }

      // CA french overrides
      &:lang(fr-ca) {
        letter-spacing: -0.05em;
      }
      &:focus {
        outline: none;
      }
    }
    .complete & {
      display: none;
    }
    .fixed.in & {
      @include media-breakpoint-up(lg) { // Laptop and above
        transform: translateY(-.5em) scale(.8);
      }
    }
    .contact-icon {
      position: relative;
      display: block;
      width: 1.75em;
      height: 1.75em;
      margin-bottom: .5em;
      @include media-breakpoint-up(md) {
        display: inline-block;
        width: 1.5em;
        height: 1.5em;
        margin-right: .2em;
        bottom: -.4em;
        margin-bottom: 0;
      }
      @include media-breakpoint-up(lg) {
        margin-right: .25em;
      }

      .icon-path {
        fill: $white;
      }
      .icon-background {
        fill: $firma-blue;
      }
    }
  }
  .fixed & {
    padding-top: 0;
  }
  // Change left padding during modal open state to prevent shifting
  .modal-open & {
    padding-left: 6px;
  }
  .complete-message {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-in-out, visibility 0s 0s ease-in-out;
    &:lang(fr-ca) {
      transform: translateX(0) translateY(-50%);
      left: $grid-gutter-width / 2;
      right: $grid-gutter-width / 2;
    }

    h1 {
      white-space: nowrap;

      &:lang(fr-ca) {
        white-space: normal;
      }
    }
    p {
      color: $white;
      max-width: none;
    }
    .complete & {
      opacity: 1;
      visibility: visible;
      transition: opacity .5s .5s ease-in-out, visibility 0s .5s ease-in-out;
    }
  }
}
#iframe-container {
  width: 1px;
  height: 1px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
}