footer {
  width: 100%;
  padding-bottom: $grid-gutter-width;
  text-align: center;
  background-color: $white;
  font-size: 15px;

  .container {
    position: relative;
    @include media-breakpoint-down(lg) { // Laptop and below
      max-width: none;
    }
    @include media-breakpoint-up(md) { // Tablet and above
      padding-left: $content-padding;
      padding-right: $content-padding;
    }
    // TODO: figure out why the padding needs to be different here in order to align optically
    @include media-breakpoint-only(lg) { // Laptop only
      padding-left: $content-padding * 1.9;
      padding-right: $content-padding * 1.9;
    }
    @include media-breakpoint-only(xl) { // Desktop only
      padding-left: $grid-gutter-width / 2;
      padding-right: $grid-gutter-width / 2;
    }
  }

  .firma-icon {
    color: $firma-purple;
    width: 40px;
    height: 40px;
    display: block;
    position: relative;
    margin-bottom: $content-padding;
    @include clearfix();
    @include media-breakpoint-up(md) { // Tablet and above
      width: 50px;
      height: 50px;
      margin: 0;
    }

    &:hover {
      color: $grey;
    }
    .firma-symbol {
      height: 100%;
      width: auto;
      fill: $firma-purple;
      float: left;
    }
  }

  .nav {
    font-size: .75em;
    @include media-breakpoint-up(md) { // Tablet and above
      display: inline-block;
      float: right;
      text-align: right;
      transform: translateY(-1.5em);
    }
    @include media-breakpoint-only(md) { // Tablet only
      transform: translateY(-3.5em);
    }
    &:lang(fr-ca),
    &:lang(en-nz) {
      @include media-breakpoint-between(md, lg) {
        transform: translateY(-3.5em);
      }
    }

    .nav-item,
    .nav-link {
      color: $gray;
      white-space: initial;
    }
    .nav-item,
    .nav-item + .nav-item {
      @include media-breakpoint-down(sm) {
        display: block;
        text-align: left;
        margin-left: 0;
      }
    }
    .nav-item {
      @include media-breakpoint-down(sm) {
        margin-bottom: .25em;
      }
      &:last-child {
        // Block last item by default in tablet view <- this has now changed to desktop view due to added cookie footer item
        @include media-breakpoint-only(lg) {
          display: block;
          text-align: right;
          margin-top: .8em;
        }
        // For the regions below, include large breakpoint when blocking the last item
        &:lang(fr-ca),
        &:lang(en-nz) {
          @include media-breakpoint-between(md, lg) { // Tablet only
            display: block;
            text-align: right;
            margin-top: .8em;
          }
        }
      }
      &:lang(fr-ca) {
        @include media-breakpoint-only(md) {
          margin-left: .75em;
        }
      }
    }
    .nav-link {
      border-bottom: 1px dotted $gray;
    }
    .copyright {
      @include media-breakpoint-up(md) { // Tablet and above
        text-align: right;
      }
    }
  }

  p {
    color: $gray;
    max-width: none;
    text-align: left;
    font-size: .75em;
    margin: $content-padding 0 $content-padding / 2;

    & + p {
      margin: $content-padding / 2 0 $content-padding;
    }
  }
}
