.cookie-popup {
  background-color:#fff;
  display:none;
  .cookie-popup-copy {
    padding:10px 0 10px 15px;
    max-width:80%;
    margin:0;
    font-size:.8em;
  }
  .close-cookie-popup {
    float:right;
    padding:0;
    margin:0;
    position:absolute;
    top:0;
    line-height:1.2;
    font-size:1.8em;
    right:15px;

    .icon-firma-close {
      font-size: .4em;
    }
  }
}

#header {
  position: absolute;
  width: 100%;
  z-index: 100;
  @include media-breakpoint-up(md) { // Tablet and above
    padding-top: $content-padding * 1.5;
  }

  .modal-open & {
    padding-right: 17px;
  }
  .navbar {
    position: relative;
    width: 100%;
    border-radius: 0;
    height: $header-height;
    transition: background .5s ease-in-out, padding .5s ease-in-out;
    padding: 0.6em 0;
    z-index: 999;
    margin: 0 auto;

    @include media-breakpoint-down(lg) { // Laptop and below
      max-width: none;
    }
    @include media-breakpoint-up(md) { // Tablet and above
      padding: 0.6em $content-padding;
    }
    @include media-breakpoint-up(lg) { // Laptop and above
      padding: 0.6em $content-padding * 1.75;
      background-color: transparent;
    }
    @include media-breakpoint-up(xl) { // Desktop and above
      padding: 0.6em $grid-gutter-width / 2;
    }

    &.top-nav-collapse {
      background-color: $white;
    }
    .navbar-brand {
      font-weight: 900;
      display: inline-block;
      position: absolute;
      top: 1.25em;
      left: $grid-gutter-width / 2;
      transition: margin .5s ease-in-out;
      z-index: 901;
      @include media-breakpoint-up(md) { // Tablet and above
        position: relative;
        top: 0;
        left: 0;
      }

      &:after {
        display: none;
      }
      .nav-logo {
        width: 180px;
        fill: $white;
        transition: fill .5s ease-in-out;
        @include media-breakpoint-up(sm) { // Phablet and above
          width: 190px;
        }
      }
      &.collapsed {
        .nav-logo {
          @include media-breakpoint-down(sm) { // Phablet and below
            fill: $firma-purple;
          }
        }
      }
      #management, #blog & {
        .nav-logo {
          fill: $firma-purple;
        }
      }
    }
  }
  .navbar-toggler {
    position: absolute;
    top: .7em;
    right: $grid-gutter-width / 2;
    font-size: 2em;
    width: 1.35em;
    height: 1.35em;
    padding: 0;
    background-color: $firma-purple;
    color: $white;
    z-index: 901;
    -webkit-appearance: none;
    border-radius: 50%;
    opacity: 1;
    visibility: visible;
    transition: background-color .5s ease-in-out, opacity .5s ease-in-out, visibility 0s 0s ease-in-out, box-shadow 0s 0s ease-in-out;
    @include media-breakpoint-up(md) { // Laptop and above
      position: absolute;
      visibility: hidden;
      opacity: 0;
      transition: background-color .5s ease-in-out, opacity .5s ease-in-out, visibility 0s .5s ease-in-out;
    }

    .hamburger {
      display: none;
      font-size: 0.7em;
      padding: 0.45em 0;
      color: $firma-purple;
    }
    .close {
      color: $white;
      display: block;
      margin-top: -0.2em;
      line-height: 140%;

      .icon {
        font-size: .55em;
      }
    }
    &.collapsed {
      color: $firma-purple;
      background-color: $white;
      box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.5);
      transition: background-color .5s ease-in-out, opacity .5s ease-in-out, visibility 0s 0s ease-in-out, box-shadow 0s .5s ease-in-out;

      .hamburger {
        display: block;
      }
      .close {
        display: none;
      }
    }
  }
  .main-nav {
    padding: 0;
    color: $grey;
    position: absolute;
    width: 100%;
    z-index: 900;
    background-color: $white;
    top: 0;
    @include media-breakpoint-down(sm) { // Phablet and below
      box-shadow: $nav-shadow;
    }
    @include media-breakpoint-up(md) { // Tablet and above
      width: auto;
      position: relative;
      float: right;
      background-color: transparent;
    }
    .spacer {
      height: $header-height * .8;
      @include media-breakpoint-up(md) { // Tablet and above
        height: 0;
      }
    }
  }
  .nav {
    width: 100%;
    padding: 0 $grid-gutter-width / 2;
    @include media-breakpoint-up(md) { // Tablet and above
      padding: 0;
      @include clearfix();
    }

    .nav-item {
      float: none;
      transition: margin .5s ease-in-out;
      font-size: 1em;
      min-height: 2em;
      line-height: 2em;
      @include media-breakpoint-down(sm) { // Phablet and below
        border-bottom: 1px solid $firma-purple;
        margin: 0;
        &.blog {
          border-top:1px solid $firma-purple;
        }
      }
      @include media-breakpoint-up(md) { // Laptop and above
        float: left;
      }
      .icon {
        font-size: 0.89em;
        position: relative;
        top: 0.1em;
        left: 0.2em;
        @include media-breakpoint-up(md) { // Laptop and above
          display: none;
        }
      }
      &+.nav-item,
      &.language-selector > a {
        @include media-breakpoint-up(md) { // Tablet and above
          margin-left: 1.3em;
        }
        @include media-breakpoint-up(lg) { // Desktop and above
          margin-left: 2.5em;
        }
      }
      &.our-company {
        border-bottom: 0;

        .nav-link {
          @include media-breakpoint-down(sm) { // Phablet and below
            border-bottom: 1px solid $firma-purple;
          }
        }
      }
      &.language-selector {
        position: relative;

        &:before {
          @include media-breakpoint-up(md) { // Tablet and above
            content: '';
            position: absolute;
            width: 0;
            height: 100%;
            border-left: 1px dotted $nav-link-color;
          }
        }
        .nav-link {
          padding-right: 1em;
          @include media-breakpoint-down(sm) { // Phablet and below
            margin-left: 0;
            color: $grey;
          }

          span {
            text-transform: uppercase;
            font-size: 70%;
          }
          &:after {
            @include firmaIcon();
            @include firmaSymbol(chevron-down);
            font-size: .85em;
            font-weight: 400;
            vertical-align: top;
            margin: .2em 0 0 .75em;
            top: 0;
          }
        }
      }
    }
    .nav-link {
      color: $nav-link-color;
      font-weight: 600;
      transition: color .5s ease-in-out;
      @include media-breakpoint-down(sm) { // Phablet and below
        color: $firma-purple;
        padding: 0.75em 0 0.15em 0;
      }

      &:focus {
        outline: auto 5px -webkit-focus-ring-color; // Restore default focus styles
      }
      &:hover,
      &.active {
        color: $white;
        @include media-breakpoint-down(sm) { // Phablet and below
          color: inherit;
        }

        &.more:after {
          background-color: $white;
        }
      }
    }
    // Language select is a drop-down menu on desktop, accordion in mobile breakpoint
    .dropdown-menu {
      margin: 0;
      border-radius: 0;
      min-width: 150px;
      border: 0;
      @include media-breakpoint-up(md) { // Tablet and above
        margin-top: .5em;
        right: -$grid-gutter-width / 2;
        left: auto; // Reset the default from `.dropdown-menu
        background-color: $firma-purple;
        box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.5);
      }
      &:before {
        @include media-breakpoint-up(md) { // Tablet and above
          content: '';
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 0 11px 13px 11px;
          border-color: transparent transparent $firma-purple transparent;
          position: absolute;
          top: -.7em;
          right: .8em;
          z-index: 99;
        }
      }
    }
    .dropdown-item {
      @include media-breakpoint-up(md) { // Tablet and above
        color: $white;
        font-size: .8em;
        padding: .5em 1.2em;
        text-align: right;
        background-color: $firma-purple;
      }
      &:hover,
      &:active,
      &:focus {
        background-color: lighten($firma-purple, 5);
      }
      &+.dropdown-item {
        border-top: 1px solid lighten($firma-purple, 10);
      }
    }

    // Override dropdown styles in mobile
    @include media-breakpoint-down(sm) { // Phablet and below
      .dropdown,
      .dropdown-item {
        padding: 0 $grid-gutter-width/2;
      }
      .dropdown-item,
      .dropdown-toggle {
        span {
          font-size: 80%;
          text-transform: uppercase;
        }
      }
      .dropdown {
        border-bottom: 0;
        background-color: $lighten-grey;
        margin: -$grid-gutter-width/2;
        margin-top: 0;
        margin-bottom: 0;
      }
      .nav-item {
        &.language-selector {
          .nav-link {
            padding: .5em 0;

            &:after {
              @include firmaIcon();
              @include firmaSymbol(plus);
              height: 100%;
              top: -1px;
              left: -2px;
            }
          }
          &.open {
            .nav-link {
              &:after {
                @include firmaSymbol(minus);
              }
            }
          }
        }
      }
      .dropdown-menu {
        position: relative;
        margin-left: -$grid-gutter-width / 2;
        margin-right: -$grid-gutter-width / 2;
        border: 0;
        background-color: $firma-purple;
        float: none;
      }
      .dropdown-item {
        padding: .25em $grid-gutter-width / 2;
        color: $white;
      }
    }
  }
  .nav-secondary {
    @include media-breakpoint-up(md) { // Tablet and above
      display: none;
    }
  }
}