.hero-secondary {
  width: auto;
  height: auto;
  min-height: 0;
  margin: 0;
  background-color: lighten($grey, 50%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
  @include media-breakpoint-down(sm) { // Phablet and below
    margin-left: $grid-gutter-width / 2;
  }

  .contents {
    padding-left: 0;
    height: 320px;
    @include media-breakpoint-down(sm) { // Phablet and below
      height: 200px;
    }
    @include media-breakpoint-up(xl) { // Desktop and above
      padding-bottom: 43.25%;
      height: 0;
      max-width: none;
    }
  }

  .text {
    bottom: $content-padding / 2;
    @include media-breakpoint-up(md) { // Tablet and above
      bottom: $content-padding;
    }

    .text-firma-equals {
      width: 90px;
      height: auto;
      @include media-breakpoint-up(md) { // Tablet and above
        width: 140px;
      }
    }
    .handwriting {
      display: inline-block;
      width: 200px;
      height: auto;
      position: relative;
      transform-origin: left top;
      top: $grid-gutter-width / 2;
      @include media-breakpoint-up(md) { // Tablet and above
        top: 12px;
        left: .25em;
        transform: scale(1.15);
      }

      &:lang(fr-ca) {
        @include media-breakpoint-up(md) { // Tablet and above
          transform: scale(1.15) translateX(-10px) translateY(-2px);
        }
      }
    }
  }
}