.hero-set,
.hero {
  position: relative;
  height: 50.5vh;
  min-height: 320px;
  max-height: 450px;
  @include media-breakpoint-up(md) { // Tablet and above
    height: 70vh;
    min-height: 500px;
    max-height: 600px;
  }
}
.hero {
  top: 0;
  left: 0;
  width: 100%;
  margin-top: 0;
  background-color: lighten($grey, 50%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  z-index: 40;
  opacity: 1;

  .hero-set & {
    position: absolute;

    &.current {
      z-index: 70;
    }
    &.fadeOut {
      opacity: 0;
      transition: opacity .5s ease-out;
    }
  }

  .overlay,
  .text,
  .firma-symbol {
    position: absolute;
  }

  .overlay {
    width: 100%;
    height: 100%;
    z-index: 49;
  }

  .contents {
    position: relative;
    @include make-container();
    margin: 0 auto;
    height: 100%;
    @include media-breakpoint-down(sm) { // Phablet and below
      padding: 0 $grid-gutter-width / 2;
    }
    @include media-breakpoint-down(lg) { // Laptop and below
      max-width: none;
    }
    @include media-breakpoint-only(md) { // Tablet only
      padding: 0 $content-padding;
    }
    @include media-breakpoint-only(lg) { // Laptop only
      padding: 0 $content-padding * 1.75;
    }
  }

  .firma-symbol {
    fill: $white;
    z-index: 50;
    bottom: $content-padding * 2.15; // Make sure the bottom of the symbol lines up with copy baseline in .text-body
    right: 0;
    width: 60px;
    height: 60px;
    transition: opacity .5s ease-in-out;
    @include media-breakpoint-down(sm) { // Phablet and below
      opacity: 0;
    }
    @include media-breakpoint-up(md) { // Tablet and above
      right: $content-padding;
      width: 56px;
      height: 70px;
    }
    @include media-breakpoint-up(lg) { // Laptop and above
      right: $content-padding * 1.75;
      width: 60px;
      height: 75px;
    }
    @include media-breakpoint-up(xl) { // Desktop and above
      right: $grid-gutter-width / 2;
      width: 68px;
      height: 85px;
    }
  }
  .sprite {
    display: block;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: -1px -1px;
    visibility: hidden;

    &.in {
      visibility: visible;
    }
  }
  .text {
    color: $white;
    bottom: $grid-gutter-width;
    z-index: 49;
    @include make-row(0);
    @include media-breakpoint-up(md) { // Tablet and above
      bottom: $content-padding * 2;
    }

    .text-firma-equals {
      width: 110px;
      height: auto;
      vertical-align: bottom;
      @include media-breakpoint-up(md) { // Tablet and above
        width: 150px;
      }
      @include media-breakpoint-up(lg) { // Laptop and above
        width: 175px;
      }
    }
    .handwriting {
      display: inline-block;
      width: 200px;
      height: auto;
      position: relative;
      transform-origin: left top;
      top: $grid-gutter-width / 2;
      @include media-breakpoint-up(md) { // Tablet and above
        top: -3px;
        left: .25em;
        transform: scale(1.4);
      }

      &:lang(fr-ca) {
        @include media-breakpoint-up(md) { // Tablet and above
          transform: scale(1.4) translateX(-12px) translateY(-2px);
        }
      }
    }
    .text-body {
      color: $white;
      max-width: 500px;
      margin-top: $content-padding / 2;
      padding-right: $grid-gutter-width;
      @include media-breakpoint-down(sm) { // Phablet and below
        font-size: .9em;
        line-height: 140%;
      }
      @include media-breakpoint-up(md) { // Tablet and above
        margin-top: $content-padding;
      }

      &:lang(fr-ca) {
        max-width: 600px; // More space in French for better line breaks
      }
    }
  }

  // Mobile overrides for individual slides for better art directed responsive image
  // CSS rules for this section are enclosed in mobile breakpoint
  @include media-breakpoint-down(sm) { // Phablet and below
    &.slide1 {
      background-position: 35% center;
    }
    &.slide2 {
      background-position: 80% center;
    }
    &.slide4 {
      background-position: 10% center;
    }
  }

  &.slide2-wip {
    @include media-breakpoint-up(md) { // Tablet and above
      .text {
        left: $content-padding * 1.75;
        right: 0;

        .firma-equals,
        .text-body {
          @include make-col(0);
        }
        .firma-equals {
          @include make-col-span(7);
          @include make-col-push(5);
          padding-right: $content-padding * 1.7;
          text-align: right;
          white-space: nowrap;
        }
        .text-body {
          @include make-col-span(5);
          @include make-col-pull(7);
        }
      }
    }
  }

  &.slide3 {
    .handwriting {
      &:lang(fr-ca) {
        transform: scale(1.25) translateX(-8px) translateY(-5px);
        @include media-breakpoint-up(md) { // Tablet and above
          transform: scale(2) translateX(-5px) translateY(-5px);
        }
      }
    }
  }
  &.slide5 {
    .handwriting {
      transform: scale(1.5) translateY(-32%);
      @include media-breakpoint-up(md) { // Tablet and above
        transform: scale(2) translateY(-18%);
      }

      &:lang(fr-ca) {
        transform: scale(1.25) translateX(-8px) translateY(-5px);
        @include media-breakpoint-up(md) { // Tablet and above
          transform: scale(2) translateX(-5px) translateY(-5px);
        }
      }
    }
  }
  &.slide6 {
    .handwriting:lang(fr-ca) {
      transform: scale(1.5) translateY(-32%);
      @include media-breakpoint-up(md) { // Tablet and above
        transform: scale(2) translateX(-5px) translateY(-5px);
      }
    }
  }
}