/// This file contains shared, override rules for interior pages
.interior {

  // Heavily nested to override _header.scss styles
  #header {
    .navbar {
      .main-nav {
        @include media-breakpoint-up(md) { // Tablet and above
          margin-top: .5em;
        }
      }
      .nav-logo {
        fill: $firma-purple;
      }
      .navbar-toggler {
        box-shadow: none;
        background-color: $firma-purple;
      }
      .hamburger {
        color: $white;
      }
      .nav-item {
        @include media-breakpoint-up(md) { // Tablet and above
          min-height: 1em;
          line-height: 1em;
        }

        &.language-selector {

          &:before {
            @include media-breakpoint-up(md) { // Tablet and above
              border-left: 1px dotted $nav-link-color-dark;
            }
          }
        }
      }
      .nav-link {
        @include media-breakpoint-up(md) { // Tablet and above
          color: $nav-link-color-dark;
        }

        &.active {
          color: $firma-purple;
        }
      }
    }
  }

  .main-content {
    padding: $header-height 0 0;
    margin: 0 auto;
    @include media-breakpoint-down(lg) { // Laptop and below
      max-width: none;
    }
    @include media-breakpoint-up(md) { // Tablet and above
      padding: $header-height * 1.75 $content-padding $content-padding-vertical;
    }
    @include media-breakpoint-up(lg) { // Laptop and above
      padding: $header-height * 1.75 $content-padding * 1.75 $content-padding-vertical;
    }
    @include media-breakpoint-up(xl) { // Desktop and above
      padding: $header-height * 1.75 $grid-gutter-width / 2 $content-padding-vertical;
    }

    section {
      padding-left: $grid-gutter-width / 2;

      @include media-breakpoint-up(md) { // Tablet and above

        padding-left: $content-padding;

      }
    }
  }
  .row-sidebar {
    @include make-row(0);
  }
  .sidebar,
  .page-content {
    @include make-col(0);
  }
  .sidebar {
    @include make-col-span(4);
    @include media-breakpoint-down(sm) { // Phablet and below
      display: none;
    }
  }
  .page-content {
    color: $black;
    @include make-col-span(8);
    @include media-breakpoint-down(sm) { // Phablet and below
      @include make-col-span(12);
    }

    & > .container {
      @include media-breakpoint-up(md) { // Tablet and above
        padding: 0;
        padding-left: $content-padding;
      }
    }
    h1 {
      margin-bottom: 1em;
    }
    h2 {
      padding-top: .75em;
      font-size: 1.5em;
    }
    p,
    li,
    address {
      font-size: 0.95em;
      line-height: 145%;
    }
    p {
      margin-bottom: $grid-gutter-width * .65;
    }
    ul {
      @include media-breakpoint-up(md) { // Tablet and above
        margin-right: 3em;
      }
    }
    li {
      margin-bottom: $grid-gutter-width / 2;
    }
  }

  // No sidebar layout
  &.nosidebar {
    .page-content {
      float: none;
      margin: 0 auto;
    }
    .main-content {
      section {
        @include media-breakpoint-up(md) { // Tablet and above
          padding-left: 0 !important;
        }
      }
    }
    .page-content {
      @include media-breakpoint-only(md) { // Tablet only
        @include make-col-span(10);
      }
    }
  }
}