.nav-secondary {
  margin: 1em 0 1.9em;
  padding: 0;
  @include media-breakpoint-up(md) { // Tablet and above
    padding: 0 $grid-gutter-width / 2 0 0;
  }

  .secondary-nav-item {
    padding: 0;
    list-style-type: none;
    line-height: 170%;
  }
  .secondary-nav-link {
    margin: 0;
    font-size: .9em;
    color: $firma-blue;
    border-bottom: 1px dotted $firma-blue;

    &:hover {
      color: $firma-purple;
    }
  }
  .active {
    @include media-breakpoint-up(md) { // Tablet and above
      font-weight: bold;
      color: $firma-purple;
      border-bottom: 1px solid $firma-purple !important;
    }
  }

  // Sidebar overrides
  .sidebar & {
    @include media-breakpoint-up(md) { // Tablet and above
      padding-right: $content-padding;
    }
    @include media-breakpoint-up(lg) { // Laptop and above
      padding-right: $content-padding * 2.3;
    }

    .secondary-nav-item {
      padding-bottom: 1em;
    }
    .secondary-nav-link {
      font-size: 1em;
      color: $gray-light;
      display: block;
      border-bottom: 1px solid $gray-light;
      padding: 1em 0 .5em;
      line-height: 145%;
      letter-spacing: -0.025em;

      &.active {
        color: $firma-purple;
        border-bottom: 1px solid $firma-purple !important;
      }
    }
  }
}
