.quotes {
  @include make-container(0);
  background-color: $background-grey;
  overflow: hidden;

  .quotes-wrapper {
    @include make-container(0);
    @include media-breakpoint-up(xl) { // Desktop and above
      @include make-container();
      @include make-container-max-widths();
    }
  }

  // Reset lists
  .quotes-list,
  .quote-item {
    margin: 0;
    padding: 0;
  }
  .quotes-list {
    @include make-row(0);
    @include media-breakpoint-up(xl) { // Desktop and above
      // Pull quote container out more to align text with rest of the content
      margin-left: -$content-padding * 1.75;
      margin-right: -$content-padding * 1.75;
    }
  }
  .quote-item {
    list-style-type: none;
    @include make-col(0);
    @include make-col-span(2.4);
    @include media-breakpoint-up(md) { // Tablet and above
      @include make-col-span(4);
      position: relative;
    }

    &:after {
      @include media-breakpoint-up(md) { // Tablet and above
        content: '';
        display: block;
        padding-bottom: 100%;
      }
    }
    &.intro {
      @include media-breakpoint-down(sm) { // Phablet and below
        @include make-col-span(12);
      }
      background-color: $firma-purple;
    }
    .content,
    .quote-image,
    .quote-overlay {
      position: absolute;
      top: 0;
      left: 0;
    }
    .content,
    .quote-overlay {
      color: $white;
      bottom: 0;
      right: 0;
      padding: $content-padding * 1.5 $grid-gutter-width / 2;
      transition: opacity .5s ease-out;
      @include media-breakpoint-only(md) { // Tablet only
        padding: $content-padding * .75 $content-padding;
        font-size: 1.7vw;
      }
      @include media-breakpoint-up(md) { // Tablet and above
        padding-left: $content-padding * 1.5;
      }
      @include media-breakpoint-up(lg) { // Laptop and above
        padding: $content-padding * 1.25;
        padding-left: $content-padding * 1.75;
      }
      @include media-breakpoint-up(xl) { // Desktop and above
        padding: $content-padding * 1.5;
        padding-top: $content-padding * 2;
        padding-left: $content-padding * 2;
      }

      h1 {
        line-height: 95%;
        @include media-breakpoint-up(lg) { // Laptop and above
          margin-bottom: 0.75em;
        }
      }
      p {
        font-size: 1em;
        @include media-breakpoint-up(lg) { // Laptop and above
          font-size: 1.065em;
        }
        @include media-breakpoint-up(xl) { // Desktop and above
          font-size: 1rem;
        }
      }
    }
    .content {
      @include media-breakpoint-down(sm) { // Phablet and below
        position: relative;
        padding-right: $content-padding;
      }
      @include media-breakpoint-up(lg) { // Laptop and above
        padding-left: $content-padding * 1.75;
        padding-right: $content-padding * .9; // Allow more space for text
      }
      @include media-breakpoint-up(xl) { // Laptop and above
        padding-right: $content-padding * 1.5;
      }
      @include media-breakpoint-only(md) { // Tablet only
        padding: $content-padding;
      }

      p {
        color: $white;
        @include media-breakpoint-only(lg) { // Laptop and above
          font-size: 1.4vw;
        }
      }
    }
    .quote-image {
      width: 100%;
      height: auto;
      z-index: 0;
      @include media-breakpoint-down(sm) { // Phablet and below
        position: relative;
      }
    }
    &:hover,
    &:focus {
      .quote-overlay {
        opacity: 1;
      }
    }
  }
  .quote-link {
    display: block;
    @include media-breakpoint-down(sm) { // Phablet and below
      background-color: $firma-blue;
      padding: 0;
    }

    .quote-image {
      @include media-breakpoint-down(sm) { // Phablet and below
        opacity: .5;
        transition: opacity .5s ease-out;
      }
    }
    &.active {
      .quote-image {
        opacity: 1;
      }
    }
  }
  .mobile-quotes-container,
  .quote-overlay {
    display: none;
    color: $white;
    background-color: rgba($firma-blue, .85);
    z-index: 1;
    @include media-breakpoint-up(md) { // Tablet and above
      opacity: 0;
      display: block;
    }

    .quote {
      position: relative;
      display: inline-block;
      font-family: $secondary-font;
      font-size: 1.25em;
      line-height: 130%;
      @include media-breakpoint-up(md) { // Tablet and above
        font-size: 1.85vw;
      }
      @include media-breakpoint-up(lg) { // Desktop and above
        font-size: 1.75vw;
      }
      @include media-breakpoint-up(xl) { // Desktop and above
        font-size: 1.4em;
          &:lang(fr-ca) {
            font-size:1.3em;
          }
      }
      &:before {
        font-weight: 400;
        font-family: 'firma-icons';
        content: '\e900';
        position: absolute;
        font-size: .9em;
        top: -3px;
        left: -40px;
        @include media-breakpoint-up(md) { // Tablet and above
          left: -30px;
          font-size: .85em;
        }
        @include media-breakpoint-only(lg) { // Laptop and above
          top: -5px;
          left: -35px;
        }
        @include media-breakpoint-up(xl) { // Desktop and above
          left: -40px;
        }
      }
      .nobr {
        &:after {
          content: '”';
        }
      }
    }
    .author {
      display: block;
      font-size: 80%;
      bottom: $content-padding * 1.5;
      margin-top: 1.5em;
      @include media-breakpoint-only(md) { // Tablet only
        bottom: $content-padding;
      }
      @include media-breakpoint-up(md) { // Tablet and above
        position: absolute;
      }
      @include media-breakpoint-up(lg) { // Laptop and above
        bottom: $content-padding * 1.5;
      }

      span {
        display: block;
      }
    }
    .name {
      font-weight: bold;
    }
  }
  .mobile-quotes-container {
    background-color: $firma-blue;
    @include media-breakpoint-down(sm) { // Phablet and below
      display: block;
    }
    @include media-breakpoint-up(md) { // Tablet and above
      display: none;
    }
    .quote-overlay {
      display: block;
      padding: $content-padding $grid-gutter-width $content-padding * 1.5;
      padding-left: $content-padding * 1.5;
      @include media-breakpoint-down(sm) { // Phablet and below
        transition: opacity .5s ease-out;
        position: absolute;
        opacity: 0;
        z-index: 30;
      }

      &.in {
        transition: opacity .5s ease-out;
        position: relative;
        opacity: 1;
        z-index: 20;
      }
    }
  }
}