/***** MODAL PROPERTIES *****/

.icon-close-x {
  color: $white;
  font-size: 40px;
  overflow: hidden;
  text-indent: 200%;
  z-index: 2000;
  text-shadow: none;
}
.close {
  line-height: 1.5;
  opacity: 1;

  .icon {
    font-size: 1em;
  }
}
.modal-header {
  border: 0;
  padding: 10px;
  background-color:$firma-purple;
  margin-top: 32%;
  h3 {
    @include media-breakpoint-down(md) { // Laptop and above
      font-size:15px;
    }
  }
  @include media-breakpoint-up(lg) { // Laptop and above
    margin-top: 15%;
  }
}
.modal-body {
  padding: 0;
}
.modal-dialog {
  @include media-breakpoint-up(lg) { // Laptop and above
    width: 60%;
    max-width: 800px;
  }
}
.modal-open {
  overflow: visible;
}

.modal-backdrop
{
  opacity:0.8;
  //transition: opacity .25s ease-in-out;
  //-moz-transition: opacity .25s ease-in-out;
  //-webkit-transition: opacity .25s ease-in-out;
}

.modal-open, .modal-open #header, .modal-open .navbar-fixed-top, .modal-open .navbar-fixed-bottom {
  padding-right:0px!important;
}
.modal-content {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: transparent;
  border: none;
  outline: none;
  border-radius: 0;

  .video-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 0px;
    height: 0;
  }
  iframe {
    border: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}



