#blog {
  section {
    //margin-top:10em;
    //padding-left:0;
  }
  p {
    margin-bottom: 1em;
  }

  .blog-wrapper {
    padding: 6em 0;
  }
  .blog-item a {
    color: $firma-blue;
    border-bottom: 1px dotted $firma-blue;
    letter-spacing: -0.015em;
  }
  &.image {
    h3,
    p,
    a {
      color: $white;
    }
    a {
      border-bottom: 1px dotted $white;
    }
  }

  .image a {
    color: $white;
    border-bottom: 1px dotted #fff;
  }

  .blog-date-light {
    color:#fff;
    font-size:.9em;
  }
  .blog-date {
    color:$firma-purple;
    font-size:.9em;
  }
  hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    border-color:$firma-purple;
  }

  .blog-year {
    margin: $content-padding 0 $content-padding / 2;
    font-size: 1.3em;
  }
  .professional,
  .personal {

    .blog-list {
      //steve
     // border-bottom: 1px solid $lighten-grey;
    }
  }
  .blog-item {
    background-size: cover;
    background-position: center center;
    @include media-breakpoint-down(sm) { // Phablet and below
      @include make-col-span(12);
      border-left: 1px solid $lighten-grey;
    }
    @include media-breakpoint-up(md) { // Tablet and above
      height: 270px;
    }
    @include media-breakpoint-up(lg) { // Laptop and above
      height: 250px;
    }

    &:lang(fr-ca) {
      @include media-breakpoint-only(sm) { // Phablet only
        height: 330px;
      }
      @include media-breakpoint-up(md) { // Tablet and above
        height: 310px;
      }
      @include media-breakpoint-up(lg) { // Laptop and above
        height: 290px;
      }
      @include media-breakpoint-up(xl) { // Desktop and above
        height: 270px;
      }
    }
    h3 {
      margin-bottom: 1em;
    }
    p {
      max-width: 25em;
      font-size: .95em;
      line-height: 140%;

      &:lang(fr-ca) {
        max-width: 27em;
      }
    }
    &.the-current-market {
      background-image: url(../images/blog/blog1-bg.jpg);
      h3,
      p {
        //max-width: 16em;

        &:lang(fr-ca) {
          //max-width: 18em;
        }
      }
    }
    &.hedging {
      background-image: url(../images/blog/blog2-bg.jpg);
    }
    &.electronic-payments {
      background-image: url(../images/blog/blog3-bg.jpg);
    }
    &.import-export-china {
      background-image: url(../images/blog/blog4-bg.jpg);
    }
    &.e-commerce {
      background-image: url(../images/blog/blog5-bg.jpg);
    }
  }

  .image {
    background-size: cover;
    @include media-breakpoint-only(xs) { // Phone only
      height: auto;
      min-height: 200px;
    }
    @include media-breakpoint-only(sm) { // Phablet only
      height: 260px;
    }
    h3,
    p {
      color: $white;
    }
  }
  .affiliates {
    margin-top: $content-padding * 2;

    .blog-item {
      width: 100%;
      min-height: 150px;
      height: auto;
      padding: 0;
      background-image: url(../images/services/background-wide.jpg);
      background-position: 80% 0;
      @include make-row(0);
      @include media-breakpoint-down(sm) { // Phablet and below
        background-image: none;
      }
      @include media-breakpoint-up(md) { // Tablet and above
        background-position: top center;
      }
      p {
        max-width: none;
        @include media-breakpoint-up(md) { // Tablet and above
          max-width: 24em;
        }
      }
    }
    .contents,
    .image {
      @include make-col();
      padding: $content-padding $content-padding / 2;
      @include media-breakpoint-down(sm) { // Phablet and below
        @include make-col-span(12);
      }
      @include media-breakpoint-up(md) { // Tablet and above
        padding: $content-padding;
      }
    }
    .contents {
      @include media-breakpoint-up(md) { // Tablet and above
        @include make-col-span(6);
        @include make-col-pull(6);
        transform: translateY(0);
      }
      @include media-breakpoint-up(lg) { // Laptop and above
        transform: translateY(1.75vw);
      }

      &:lang(fr-ca) {
        @include media-breakpoint-up(md) { // Tablet and above
          transform: translateY(.85vw);
        }
        @include media-breakpoint-only(md) { // Tablet only
          @include make-col-span(7);
          @include make-col-pull(5);
        }
      }
    }
    .image {
      min-height: 200px;
      @include media-breakpoint-down(sm) { // Phablet and below
        border-bottom: 1px solid $lighten-grey;
        background-image: url(../images/services/background-wide.jpg);
        background-position: 90% 0;
      }
      @include media-breakpoint-up(md) { // Tablet and above
        @include make-col-span(6);
        height: 250px;
      }
      @include media-breakpoint-up(lg) { // Laptop and above
        height: 265px;
      }

      &:lang(fr-ca) {
        @include media-breakpoint-only(md) { // Tablet only
          @include make-col-span(5);
        }
      }
    }
  }
}