#careers {
  .region-list,
  .region-group {
    margin: 0;
    padding: 0;
  }
  .region-group {
    list-style-type: none;
    padding-bottom: $content-padding-vertical;

    .region-heading {
    }
    .region-link {
      color: $gray-light;
      display: block;
      border-bottom: 0.14em solid $gray-light;

      &:after {
        @include accordionIcon(closed);
      }
    }
    &.in {
      .region-link {
        color: $firma-purple;
        border-bottom: 0.14em solid $firma-purple;

        &:after {
          @include accordionSymbol(open);
        }
      }
    }
  }
  .job-item {
    list-style-type: disc;
  }
  blockquote {
    color: $firma-purple;
    position: relative;
    padding-left: $content-padding * .9;
    padding-top: 10px;

    &:before {
      @include firmaIcon();
      @include firmaSymbol(quote);
      position: absolute;
      top: 9px;
      left: -16px;
      font-size: 1.25em;
    }
    p {
      color: $firma-purple;
      font-family: $font-family-serif;
      font-size: 1.1em;
    }
    cite {
      color: $black;
      font-style: normal;
      font-size: .9em;
      font-weight: 600;
      position: relative;
      top: -10px;
    }
  }
}
