.company {
  @include media-breakpoint-down(sm) { // Phablet and below
    padding-left: $grid-gutter-width / 2;
    padding-right: $grid-gutter-width / 2;
  }
  @include media-breakpoint-down(lg) { // Laptop and below
    max-width: none;
  }
  @include media-breakpoint-only(md) { // Tablet only
    padding: 0 $content-padding;
  }
  @include media-breakpoint-only(lg) { // Laptop only
    padding: 0 $content-padding * 1.75;
  }

  .company-list,
  .company-item {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  .company-list {
    @include make-row(0);
    border: 1px solid $lighten-grey;
    border-top: 0;
    border-right: 0;
  }
  .company-item {
    @include make-col();
    @include make-col-span(12);
    padding: $content-padding;
    border: 1px solid $lighten-grey;
    border-left: 0;
    border-bottom: 0;
    @include media-breakpoint-only(sm) { // Phablet only
      height: 200px;
    }
    @include media-breakpoint-up(md) { // Tablet and above
      height: 210px;
      @include make-col-span(6);
    }
    @include media-breakpoint-up(lg) { // Laptop and above
      height: 200px;
    }

    p {
      margin-bottom: 1em;
    }
    a {
      color: $firma-blue;
      border-bottom: 1px dotted $firma-blue;
      letter-spacing: -0.015em;
    }
    &.image {
      h3,
      p,
      a {
        color: $white;
      }
      a {
        border-bottom: 1px dotted $white;
      }
    }
    &.careers {
      background-size: cover;
      background-position: center center;
      background-image: url('../images/company/background-careers.jpg');
    }
  }
}