#contact {
  .sidebar {
    .nav-interior {
      display: none;
    }
  }
  .hero-secondary {
    background-position: top center;
  }
  .contact-row {
    @include make-row();

    &:lang(en-au),
    &:lang(en-gb),
    &:lang(en-nz),
    &:lang(en-us) {
      margin-bottom: $content-padding-vertical;
    }
  }
  .col {
    @include make-col();
    @include make-col-span(12);
    @include media-breakpoint-up(md) { // Tablet and above
      @include make-col-span(6);
    }
  }
  .dropdown-toggle {
    &:focus {
      outline: auto 5px -webkit-focus-ring-color; // Restore default focus styles
    }
  }
  .office-contact-container {
    h2 {
      margin-bottom: 0;
    }
    h3 {
      font-size: 1.5em;
    }
    .dropdown-toggle {
      // Hide the "additional locations" drop-down from these countries
      &:lang(en-au),
      &:lang(en-nz),
      &:lang(en-gb) {
        display: none;
      }
    }
  }
  .office-contact-list {
    left: $grid-gutter-width /2;
    right: $grid-gutter-width /2;
    max-height: 160px;
    overflow-y: auto;
    border-radius: 0;
    margin-right: 0;
    z-index: 1500;

    .location-item,
    .office-contact-link {
      display: block;
    }
    .dropdown-header,
    .office-contact-link {
      padding: .25em $grid-gutter-width / 2;
    }
    .dropdown-header {
      font-size: 1em;
      font-weight: 600;
      border: 1px solid $gray-light;
      border-left: 0;
      border-right: 0;
      background-color: $gray-lighter;
    }
    // Create margin around heading
    .dropdown-header + .location-item,
    .location-item + .dropdown-header {
      margin-top: .25em;
    }
    .office-contact-link {
      font-size: 0.9em;
      &:hover,
      &:focus,
      &:active {
        background-color: $gray-lighter;
      }
    }
  }
  // Container of offices to toggle visibility
  .contact-info {
    margin: 0;
    padding: 0 0 $content-padding;

    .location {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
  }
  .contact-details {
    abbr {
      margin-right: .3em;
    }
  }

  // Introduction copy for some regions
  .intro {
    margin-top: $content-padding-vertical * 1;

    address {
      margin: 0;
    }
    .office-item-container {
      margin-bottom: 1em;
    }
    .office-name {
      span {
        display: block;
        font-weight: bold;
      }
    }
  }

  .additional-contacts {
    .office {
      margin: 1.75em 0;
    }
    .city-name {
      display: block;
      color: $firma-purple;
      font-size: 2em;
      margin-bottom: .25em;
    }
  }

  .contact-form-container {
    @include media-breakpoint-down(sm) { // Phablet and below
      margin-top: 3em;
    }
    .contact-form {
      margin-top: 1em;

      .legal {
        font-size: .75em;
        color: $gray;
      }
    }
    .field {
      @include make-col-span(12);
      @include clearfix();
      margin-bottom: 1em;

      label {
        display: block;
      }
      .textinput {
        font-size: 1em;
        color: $gray;
        padding: .4em .5em;
        border: 1px solid rgba($gray-light, .4);
        border-radius: .25rem;

        // Vendor prefixed rules. Make sure they're separate -- special case for placeholders
        // http://stackoverflow.com/questions/16982449/why-isnt-it-possible-to-combine-vendor-specific-pseudo-elements-classes-into-on
        &::-webkit-input-placeholder { /* Chrome */
          color: rgba($gray-light, .5);
        }
        &::-moz-placeholder { /* Firefox 18- */
          color: rgba($gray-light, .5);
        }
        &:-moz-placeholder { /* Firefox 19+ */
          color: rgba($gray-light, .5);
        }
        &:-ms-input-placeholder { /* IE 10+ */
          color: rgba($gray-light, .5);
        }
      }
    }
    .optin {
      display: none;
      .label {
        font-size: .9em;
        margin-right: .5em;
      }
    }
    .parsley-errors-list {
      display: block;
      position: relative;

      li {
        margin-bottom: .25em;
      }
    }
    .button {
      .submit {
        font-weight: bold;
        font-size: 1.15em;
        width: 100%;
        padding: .3em;
        color: $firma-blue;

        &:before {
          display: none;
        }
        &:disabled {
          color: rgba($firma-blue, .25);
        }
      }
    }
    .complete-message {
      display: none;

      h1 {
        font-size: 1.5em;
        color: $gray;
        margin: .75em 0;
      }
    }
    &.complete {
      .contact-form {
        display: none;
        transform: none;
      }
      .complete-message {
        display: block;
      }
    }
  }

  .hidden,
  .reason {
    display: none !important
  }
}
