#faq {
  .page-content {
    &>.container {
      margin-top: $content-padding / 2; // This section has no secondary hero image
    }
  }
  .faq-list,
  .faq-item {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  .faq-item {
    display: block;

    &+.faq-item {
      padding-top: 2em;
    }
  }
  .question {
    font-size: 1.3em;
    font-weight: 600;
    letter-spacing: -.025em;
    color: $firma-purple;
  }
  .answer {
  }
}