#home {

  .main-content {
    padding-top: 0;
  }

  .intro-copy-container {
    @include make-col(0);
    @include make-col-span(12);

    @include media-breakpoint-up(md) {
      @include make-col-span(8);
    }

    h1,
    p {
      max-width:600px;
    }
  }

  .youtube-container {
    @include make-col(0);
    @include make-col-span(12);
    text-align: center;

    @include media-breakpoint-down(sm) {
      padding-top: 50px;
    }
    @include media-breakpoint-up(md) {
      @include make-col-span(4);
    }

    .play-trailer-button {
      margin: 0 auto;
      display: inline-block;

      img {
        display: block;
      }
    }
    .link {
      font-weight: bold;
      @include media-breakpoint-down(lg) {
        font-size: 15px;
      }
      &:before {
        content: '';
        height: 0;
        width: 0;
        display: block;
      }
    }
    div {
      margin-top:10px;
    }
  }

  .intro-section {
    @include media-breakpoint-down(lg) {
      max-width: none;
    }
    @include media-breakpoint-only(md) {
      padding: 0 $content-padding * .9;
      padding-left: $content-padding;
    }
    @include media-breakpoint-only(lg) {
      padding: 0 $content-padding * 1.75;
    }

    h1 {
      @include media-breakpoint-up(lg) {
        max-width: 26em;
      }
    }

    .icon-play-video-youtube {
      vertical-align:middle;
      font-size:50px;
      padding-right:10px;
    }

    .link {
        color: $firma-blue;
        border-bottom: 1px dotted $firma-blue;
        letter-spacing: -0.015em;
    }

    .watch-now {
      display: inline-block;
      border-bottom: 1px dotted $firma-blue;
      margin-left: 1.75em;
      position: relative;
      @include media-breakpoint-up(sm) {
        margin-left: 2.25em;
      }

      &:before {
        font-family: $icon-font;
        font-size: 110%;
        content: "\e903";
        display: inline-block;
        margin: 0;
        margin-left: 2em;
        position: absolute;
        top: -0.025em;
        left: -3.5em;
      }
    }
  }

  /// Homepage hero
  // Homepage overrides to the hero module ONLY. Any shared styles should be defined in modules/_hero.scss
  .hero {
    margin-bottom: $grid-gutter-width / 2;
    @include make-container(0);
    @include media-breakpoint-up(md) {
      margin-bottom: $grid-gutter-width;
    }
    .logo-container {
      max-width: 900px;
      margin: 0 auto;
      z-index: 60;
      padding-top: $header-height * .80;
      @include make-container($grid-gutter-width);
      @include vertical-center-relative();
      @include media-breakpoint-up(md) {
        padding-top: $header-height;
      }
    }
    .logo {
      width: 100%;
      float: left;
      padding: 20px 30px;
      @include media-breakpoint-up(sm) {
        width: 50%;
      }

      svg {
        fill: $white;
      }
    }
  }
}
