#locations {

  .hero-secondary {
    background-position: top center;
  }
  .locations-list {
    @include make-container();

    .location-item {
      @include make-row();

      &.in {
        padding-bottom: 0;
      }
    }
    .office {
      @include make-col();
      @include make-col-span(12);
      @include media-breakpoint-up(md) { // Tablet and above
        @include make-col-span(6);
      }
      padding-top: 0;
      padding-bottom: 2.5em;
      padding-left: 0;

      &:nth-child(even) {
        padding-right: $grid-gutter-width;
      }
      &:nth-child(odd) {
        clear: left;
      }
      .office-name {
        &:after {
          content: ':';
          margin-left: -3px;
        }
        // Hide office name for US
        &:lang(en-us) {
          display: none;
        }
      }
      .city-name {
        text-transform: uppercase;
      }
      abbr {
        display: inline-block;
        margin-right: .5em;
      }
    }
  }
}
