#management {
  .hero-secondary {
    background-position: top center;
  }
  // Override accordion styles
  .team-item {

    .member-link {
      &:after {
        display: none;
        content: '' !important;
      }
    }
    .name {
      line-height: 100%;
      display: inline-block;

      &:after {
        @include accordionIcon(closed);
      }
    }
    .job-title {
      display: block;
      font-size: .7em;
      font-weight: 600;
    }

    &.in {
      padding-bottom: $content-padding-vertical * 1.3;

      .name {

        &:after {
          @include accordionSymbol(open);
        }
      }
    }
  }
}