#services {

  .subcategory {
    margin: $content-padding 0 $content-padding / 2;
    font-size: 1.3em;
  }
  .professional,
  .personal {

    .services-list {
      border-bottom: 1px solid $lighten-grey;
    }
  }
  .service-item {
    background-size: cover;
    background-position: center center;
    @include media-breakpoint-down(sm) { // Phablet and below
      @include make-col-span(12);
      border-left: 1px solid $lighten-grey;
    }
    @include media-breakpoint-up(md) { // Tablet and above
      height: 270px;
    }
    @include media-breakpoint-up(lg) { // Laptop and above
      height: 250px;
    }

    &:lang(fr-ca) {
      @include media-breakpoint-only(sm) { // Phablet only
        height: 330px;
      }
      @include media-breakpoint-up(md) { // Tablet and above
        height: 310px;
      }
      @include media-breakpoint-up(lg) { // Laptop and above
        height: 290px;
      }
      @include media-breakpoint-up(xl) { // Desktop and above
        height: 270px;
      }
    }
    h3 {
      margin-bottom: 1em;
    }
    p {
      max-width: 25em;
      font-size: .95em;
      line-height: 140%;

      &:lang(fr-ca) {
        max-width: 27em;
      }
    }
    &.delivery-settlememt-methods,
    &.international-payments {
      &:lang(en-ca),
      &:lang(en-gb),
      &:lang(en-nz) {
        @include media-breakpoint-up(md) {
          height: 330px;
        }
        @include media-breakpoint-up(lg) {
          height: 280px;
        }
      }
    }
    &.delivery-settlememt-methods {
      p {
        @include media-breakpoint-up(lg) {
          max-width: 26em;
        }
      }
    }
    &.international-payments {
      background-image: url(../images/services/background-01.jpg);
      h3,
      p {
        max-width: 16em;

        &:lang(fr-ca) {
          max-width: 18em;
        }
      }
    }
    &.currency-exchange {
      background-image: url(../images/services/background-02.jpg);
    }
    &.personal-services {
      background-image: url(../images/services/background-03.jpg);
    }
  }

  .image {
    background-size: cover;
    @include media-breakpoint-only(xs) { // Phone only
      height: auto;
      min-height: 200px;
    }
    @include media-breakpoint-only(sm) { // Phablet only
      height: 260px;
    }
    h3,
    p {
      color: $white;
    }
  }
  .affiliates {
    margin-top: $content-padding * 2;

    .service-item {
      width: 100%;
      min-height: 150px;
      height: auto;
      padding: 0;
      background-image: url(../images/services/background-wide.jpg);
      background-position: 80% 0;
      @include make-row(0);
      @include media-breakpoint-down(sm) { // Phablet and below
        background-image: none;
      }
      @include media-breakpoint-up(md) { // Tablet and above
        background-position: top center;
      }
      p {
        max-width: none;
        @include media-breakpoint-up(md) { // Tablet and above
          max-width: 24em;
        }
      }
    }
    .contents,
    .image {
      @include make-col();
      padding: $content-padding $content-padding / 2;
      @include media-breakpoint-down(sm) { // Phablet and below
        @include make-col-span(12);
      }
      @include media-breakpoint-up(md) { // Tablet and above
        padding: $content-padding;
      }
    }
    .contents {
      @include media-breakpoint-up(md) { // Tablet and above
        @include make-col-span(6);
        @include make-col-pull(6);
        transform: translateY(0);
      }
      @include media-breakpoint-up(lg) { // Laptop and above
        transform: translateY(1.75vw);
      }

      &:lang(fr-ca) {
        @include media-breakpoint-up(md) { // Tablet and above
          transform: translateY(.85vw);
        }
        @include media-breakpoint-only(md) { // Tablet only
          @include make-col-span(7);
          @include make-col-pull(5);
        }
      }
    }
    .image {
      min-height: 200px;
      @include media-breakpoint-down(sm) { // Phablet and below
        border-bottom: 1px solid $lighten-grey;
        background-image: url(../images/services/background-wide.jpg);
        background-position: 90% 0;
      }
      @include media-breakpoint-up(md) { // Tablet and above
        @include make-col-span(6);
        height: 250px;
      }
      @include media-breakpoint-up(lg) { // Laptop and above
        height: 265px;
      }

      &:lang(fr-ca) {
        @include media-breakpoint-only(md) { // Tablet only
          @include make-col-span(5);
        }
      }
    }
  }
}