<h2>
    Address and Phone
</h2>

<div class="office-contact">
  <ul class="contact-info">
    {{!-- data from data/locations.json --}}
    {{#each this.locations}}
      {{#each this}}
        {{#equal @key 'ca' }}
          {{#each this.regions}}
            {{> contact-office officeCountry=../country }}
          {{/each}}
        {{/equal}}
      {{/each}}
    {{/each}}
  </ul>
</div>

<button class="btn btn-default dropdown-toggle btn-block" id="office-dropdown" type="button" data-toggle="dropdown" aria-expanded="true">
    Additional Locations
   <span class="caret"></span>
</button>

<ul class="office-contact-list dropdown-menu" role="menu" aria-labelledby="office-dropdown">

  {{!-- data from data/locations.json --}}
  {{#each this.locations}}
    {{#each this}}
      {{#equal @key 'ca' }}
        {{#each this.regions}}
          {{> contact-list }}
        {{/each}}
      {{/equal}}
    {{/each}}
  {{/each}}

</ul>