<div class="container">
  <a href="#" class="firma-icon">
    {{> svg/firma-symbol }}
  </a>
  <ul class="nav nav-inline">
    <li class="nav-item">
      <a class="nav-link" href="careers.html">Careers</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="privacy.html">Privacy Policy</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="cookie.html">Cookie Policy</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="environment.html">Environmental Policy</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="locations.html">Find an Office</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="https://firmafx.ca/media/40188/firma_16-17_bond_cert_-_can.PDF" target="blank">Certificate of Insurance</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="contact.html">Contact Us</a>
    </li>
    <li class="nav-item copyright">
      <span>&copy;2016 Firma Foreign Exchange Corporation</span>
    </li>
  </ul>
</div>

<div class="container">
  <p class="disclaimer">
    FIRMA Foreign Exchange Corporation Ltd. (FIRMA) is incorporated in Alberta, Canada and has offices in several major cities in Canada. FIRMA is registered as a Money Services Business (MSB) with FINTRAC (registration number M08245875) for the activities of foreign exchange dealing and remitting/transmitting money. FIRMA is also provincially registered as a money services business with the Authorité Des Marchés Financiers of Quebec, with registration number 900055.
  </p>
</div>