<ul class="nav navbar-nav">
  <li class="spacer"></li>
  <li class="nav-item our-services">
    <a class="nav-link{{#equal id 'services'}} active{{/equal}}" href="services.html">
      Our Services
      <i class="icon icon-chevron-right" aria-hidden="true"></i>
    </a>
  </li>
  <li class="nav-item our-company">
    <a class="nav-link{{#equal id 'company'}} active{{/equal}}{{#equal parentId 'company'}} active{{/equal}}" href="company.html">
      Our Company
      <i class="icon icon-chevron-right" aria-hidden="true"></i>
    </a>
    <ul class="nav-secondary nav-interior" data-toggle="position" data-toggle-on="desktop" data-position="after" data-parent=".our-company" data-container=".sidebar">
      <li class="secondary-nav-item">
        <a href="management.html" class="secondary-nav-link{{#equal id 'management'}} active{{/equal}}">Management Team</a>
      </li>
      <li class="secondary-nav-item">
        <a href="compliance.html" class="secondary-nav-link{{#equal id 'compliance'}} active{{/equal}}">Compliance <span class="soft-break"></span>and Accreditations</a>
      </li>
      <li class="secondary-nav-item">
        <a href="careers.html" class="secondary-nav-link{{#equal id 'careers'}} active{{/equal}}">Careers</a>
      </li>
      <li class="secondary-nav-item">
        <a href="faq.html" class="secondary-nav-link{{#equal id 'faq'}} active{{/equal}}">FAQs</a>
      </li>
    </ul>
  </li>
  <li class="nav-item blog">
    <a class="nav-link{{#equal id 'blog'}} active{{/equal}}{{#equal parentId 'blog'}} active{{/equal}}" href="blog.html">
      Blog
      <i class="icon icon-chevron-right" aria-hidden="true"></i>
    </a>
  </li>
  <li class="nav-item dropdown language-selector">
    {{!-- Display active language --}}
    {{#if lang}}

      {{#equal lang 'fr-ca'}}
        {{> header-current-lang text='Canada <span>FR</span>' }}
      {{/equal}}

      {{#equal lang 'en-au'}}
        {{> header-current-lang text='Australia' }}
      {{/equal}}

      {{#equal lang 'en-nz'}}
        {{> header-current-lang text='New Zealand' }}
      {{/equal}}

      {{#equal lang 'en-gb'}}
        {{> header-current-lang text='United Kingdom' }}
      {{/equal}}

      {{#equal lang 'en-us'}}
        {{> header-current-lang text='United States' }}
      {{/equal}}

    {{else}}
      <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
        Canada <span>EN</span>
      </a>
    {{/if}}
    <div class="dropdown-menu">

      {{#unless lang}}
      {{else}}
        <a class="dropdown-item" href="/">Canada <span>EN</span></a>
      {{/unless}}

      {{#equal lang 'fr-ca'}}
      {{else}}
        <a class="dropdown-item" href="/fr-ca/">Canada <span>FR</span></a>
      {{/equal}}

      {{#equal lang 'en-au'}}
      {{else}}
        <a class="dropdown-item" href="/en-au/">Australia</a>
      {{/equal}}

      {{#equal lang 'en-nz'}}
      {{else}}
        <a class="dropdown-item" href="/en-nz/">New Zealand</a>
      {{/equal}}

      {{#equal lang 'en-gb'}}
      {{else}}
        <a class="dropdown-item" href="/en-gb/">United Kingdom</a>
      {{/equal}}

      {{#equal lang 'en-us'}}
      {{else}}
        <a class="dropdown-item" href="/en-us/">United States</a>
      {{/equal}}

    </div>
  </li>
</ul>