{{#> quote-item image='/images/quotes/image-01.jpg' name='Frankie Thorogood' title='Director at Thorogood Sports Ltd.' }}
  Sending foreign currency with Firma is an effortless process, which leaves us time to focus on building <span class="nobr">the business.</span>
{{/quote-item}}

{{#> quote-item image='/images/quotes/image-02.jpg' name='Simon Hills' title='Director at O1 Private Jets' }}
  Firma’s specialists boast vast experience within foreign exchange and we have found this to be invaluable when trading <span class="nobr">frequent FX.</span>
{{/quote-item}}

{{#> quote-item image='/images/quotes/image-03.jpg' name='David Newman' title='Director at Fadulla Ltd.' }}
  Firma’s procedures are very straightforward and highly efficient, while also offering extremely competitive rates. On top of this, every transaction is personal which is greatly appreciated <span class="nobr">and refreshing.</span>
{{/quote-item}}

{{#> quote-item image='/images/quotes/image-04.jpg' name='Jennifer Wilder' title='Co-Owner at Image Gear' }}
  Firma’s specialists take the time to get to know and understand our business. This allows them to really anticipate our <span class="nobr">payment needs.</span>
{{/quote-item}}

{{#> quote-item image='/images/quotes/image-05.jpg' name='Anna Smith' title='Co-Owner at Living Wood Design' }}
  Because they’re so pleasant to work with, the lines of communication with Firma’s specialists are always open. We never have to wonder what’s happening with <span class="nobr">our funds.</span>
{{/quote-item}}