<div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="videoModal" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header"><h3 style="color:#fff; margin: 15px 0 15px 15px; display:inline-block;">{{#equal lang 'fr-ca'}}
        Découvrez la différence Firma.
      {{else}}
        Discover the Firma difference.
      {{/equal}}</h3>
        <a href="#" class="close" data-dismiss="modal" aria-label="Close" style="float:right;margin-top:15px;margin-right:15px;"><span aria-hidden="true" class="icon icon-firma-close-video"></span></a>
      </div>
      <div class="modal-body">
        <div class="video-wrapper">
          <iframe width="100%" height="auto" src="
      {{#equal lang 'fr-ca'}}
       https://www.youtube.com/embed/RE9nUSdJClE
      {{else}}
     https://www.youtube.com/embed/4mapER2rGU0
      {{/equal}}
          " frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</div>


