{{#extend 'layout' id='company' pageTitle='Our Company' }}

  {{#content 'meta' }}
    <meta name="description" content="FIRMA Foreign Exchange puts the world’s currency to work, trading billions of dollars each year.">
    <meta name="keywords" content="Firma, Company, Business, World, Currency Exchange, International, Specialist, Direct Debit, Foreign Deposit, Foreign Currency, Currency, Canada, leadership, International Vehicle Purchases, International payments" />
  {{/content}}

  {{#content 'body' }}
    <div class="main-content interior">

      {{#> hero image='/images/hero/image-05.jpg' spriteId='globalcommunity' className='slide5' }}
        With our strong leadership team and specialists all over the world, we’re here to serve you above the standards <span class="nobr">you’d expect.</span>
      {{/hero}}

      <section class="company container light">
        <h1>We work harder and smarter to make sure your money does too.</h1>
        <p> Our currency specialists safely and securely manage over $10 billion in annual payments. For over 18 years, our dedicated teams have helped simplify the complexities of foreign exchange for small businesses, giving them peace of mind while they focus on growing their business.</p>
        <ul class="company-list">
          <li class="company-item">
            <h3>Management Team</h3>
            <p>
              Because your best interests are our priority.
            </p>
            <p class="learn-more">
              <a href="management.html" class="link">
                <span>Learn more</span>
              </a>
            </p>
          </li>
          <li class="company-item">
            <h3>Compliance and Accreditation</h3>
            <p>
              Because we’re vetted by the best.
            </p>
            <p class="learn-more">
              <a href="compliance.html" class="link">
                <span>Learn more</span>
              </a>
            </p>
          </li>
          <li class="company-item image careers">
            <h3>Careers</h3>
            <p>
              Because we’re always looking for the next best thing.
            </p>
            <p class="learn-more">
              <a href="careers.html" class="link">
                <span>Learn more</span>
              </a>
            </p>
          </li>
          <li class="company-item">
            <h3>FAQ</h3>
            <p>
              Because you’ve got questions, and we've got the best answers.
            </p>
            <p class="learn-more">
              <a href="faq.html" class="link">
                <span>Learn more</span>
              </a>
            </p>
          </li>
        </ul>

      </section>

    </div>
  {{/content}}
{{/extend}}