{{#extend 'layout' id='contact' class='interior nosidebar' }}
{{#content 'body' }}

<div class="main-content container">

  {{> keyline }}

  <div class="page-content">

    <section class="container light">

      <h1>Contact Us</h1>

      <div class="contact-row">

        <div class="col office-contact-container">
          {{> content/contact-info }}
        </div>

        <div class="col contact-form-container">
          <h2>Learn how Firma can help <span class="nobr">your business.</span></h2>
          {{> content/contact-form formId='contact-page-form' }}
          {{> content/contact-complete }}
        </div>

      </div>

    </section>

  </div>

</div>

{{/content}}
{{/extend}}