{{#extend 'layout' id='e-commerce' parentId='blog' pageTitle='E-commerce' class='blog-post content-pages' }}

  {{#content 'meta' }}
    <meta name="description" content="Looking for a challenging and rewarding career, see how FIRMA may be the right match for you.">
    <meta name="keywords" content="Careers, Jobs, Bonus Incentives, International payments, currency specialists, Firma, Business, World, Currency Exchange, Specialist, Foreign Deposit, Positive work environment, Canada, Partnerships and Affiliates, energetic people"/>
  {{/content}}

  {{#content 'body' }}
    <div class="main-content container">
      <div class="page-content">

        {{> hero-secondary image='/images/blog/blog5-header.jpg' spriteId='growth' }}

        <section class="container light blog-content">

          <h3>September 7, 2016</h3>

          {{> blog-social }}

          <h1>Retail is on the rise.</h1>

          <p>In 2015, e-commerce attributed to 1.2 trillion dollars in global spending. By 2020, that number is
            projected to reach 1.4 trillion. With continued advances in communication technology, it’s only getting easier
            to work with international partners. That’s important for any and every business owner who aspires to grow
            beyond their borders. Trading in parts of the world you never thought possible opens up new possibilities, new
            potential, and new profit. With retail on the rise, it’s time to rise with it.</p>

          <h2>E-commerce can work for you or against you.</h2>

          <p>There’s no doubt that e-commerce has become the most important international sales channel of
            our time. But that doesn’t necessarily make it a perfect trade platform every time. Just like languages, how you
            use it can either work for you or against you. Like most things, you need to make it easy and convenient for
            your customers and partners. Studies show that by providing products priced at the currency of the customer or
            partner, you can improve sales rates by as much as 70%. That is a huge impact to your profit margins, and a
            fast-track at achieving growth.</p>

          <h2>You can pay your way, using alternative methods.</h2>

          <p>Maybe the most customer-friendly feature of e-commerce is that it accepts all forms of payment, including
            alternative payments such as PayPal. As a bonus, you may even get an extended rate guarantee, allowing for
            refunds in the original exchange rate, rather than the current one. Making transactions more available through
            third party collaborators makes your exchange easier on both parties. And whether you’re making or receiving
            payment, less hurdles mean more business, and more customer satisfaction. </p>

          <h2>Professional solutions are key when managing multiple currencies.</h2>

          <p>Once you’ve successfully created a multitude of new business customers, how will you manage each and every
            currency, exchange rate and payment? That’s where having an international payment and currency specialist comes
            in handy. They can help you set up a plan with the right technology to make every transaction as smooth and
            strategic as possible. At Firma, we put the world’s currencies to work, how you want, when you want, no matter
            where your money is going. Our clients have a dedicated full-time Firma specialist on their business so you have
            a direct line for live support. And that equals a whole lot more than your bottom line, although we’ll help you
            there too.</p>

          {{> blog-nav prevImg='/images/blog/blog3-header.jpg' prevBlog='./electronic-payments'
              nextImg='/images/blog/blog4-header.jpg' nextBlog='./import-export-china' }}

        </section>
      </div>
    </div>
  {{/content}}
{{/extend}}