{{#extend 'layout' id='environment' class='interior nosidebar' }}
{{#content 'body' }}

<div class="main-content container">

  {{> keyline }}

  <div class="page-content">

    <section class="container light">

      <h1>Environmental Policy</h1>

      <p>FIRMA Foreign Exchange is committed to protecting the environment through the promotion of a safe, healthy and environmentally friendly workplace. FIRMA Foreign Exchange complies with all the relevant and current environmental legislation to the best of our ability and promotes staff awareness of our environment preservation processes.</p>

      <p>The following objectives of the Environmental Statement represent our commitment to having a responsible environmental management system:</p>

      <ul>
        <li>Wherever possible we conserve water and paper as well as recycle plastic bottles, cans, cardboard and paper through appropriate means and in accordance with privacy laws and regulations.</li>
        <li>We continuously strive to cut down on energy usage to reduce greenhouse emissions. FIRMA Foreign Exchange employs a number of power-saving devices for both equipment and lighting in all its offices.</li>
      </ul>

      <p>FIRMA Foreign Exchange is a proud supporter of a number of charities and programs associated with environmental conservation. One such program is subsidized public transit passes for employees who choose public transit as a method of commuting. This program is available for all of our head office employees, to encourage staff to utilize public transit and help reduce greenhouse gas emissions.</p>

      <p>Our Environmental Policy is reviewed quarterly, updated accordingly and distributed through external and internal newsletters.</p>

      <p>FIRMA Foreign Exchange encourages feedback about its Environmental Policy from employees, clients and the general public. If you would like to contribute your ideas on preserving the environment, please contact us at <a href="mailto:info@firmafx.com">info@firmafx.com</a>.</p>

      <p>
        <a href="https://firmafx.ca/media/40110/Certificate%20of%20Environmental%20Accomplishment.pdf" target="_blank">Certificate of Environmental Accomplishment</a>
      </p>

    </section>

  </div>

</div>

{{/content}}
{{/extend}}