{{#extend 'layout' id='locations' class='interior nosidebar' }}
{{#content 'body' }}

<div class="main-content container">

  {{> keyline }}

  <div class="page-content">

    <section class="container light">
      <h1>Canadian Locations</h1>
      <ul class="locations-list accordion">
        {{!-- data from data/locations.json --}}
        {{#each this.locations}}
          {{#each this}}

            {{!-- output CA locations only --}}
            {{#equal @key 'ca' }}
              {{#each this.regions}}
                {{> location-item this }}
              {{/each}}
            {{/equal}}
          {{/each}}
        {{/each}}
      </ul>
    </section>

    <section class="container light">
      <h1>International Locations</h1>
      <ul class="locations-list accordion">
        {{!-- data from data/locations.json --}}
        {{#each this.locations}}
          {{#each this}}

            {{!-- output INT locations only --}}
            {{#equal @key 'int' }}
              {{#each this.regions}}
                {{> location-item this }}
              {{/each}}
            {{/equal}}
          {{/each}}
        {{/each}}
      </ul>

    </section>

  </div>

</div>

{{/content}}
{{/extend}}