<h2>Address and Phone</h2>

<div class="office-contact">
  <ul class="contact-info">
    <li class="location collapse in">

      <h3 class="office-name">Auckland</h3>

      <div class="office-item-container" itemscope itemtype="http://schema.org/Organization">

        <address itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
          <div class="office-name">
            <span itemprop="name">{{#if overrideName}}{{overrideName}}{{else}}FIRMA Foreign Exchange Corporation{{/if}}</span>{{#if division}} {{ division }}{{/if}}
          </div>
          <span itemprop="streetAddress">Level 2-52 Swanson St.</span><br/>
          <span itemprop="addressLocality">Auckland</span>,
          <span itemprop="addressCountry">NZ</span>
          <span itemprop="postalCode">1010</span>
        </address>

        <div class="contact-details">
          <abbr title="Telephone">T:</abbr><!--
          --><span itemprop="telephone">64 (9) 968-2950</span><br/>
          <abbr title="Toll-Free Telephone">T:</abbr><!--
          --><span itemprop="telephone">64 (800) 456-239 (toll free)</span><br/>
          <abbr title="Fax">F:</abbr><!--
          --><span itemprop="faxNumber">64 (9) 969-0750</span><br/>
          <abbr title="Toll-Free Fax">F:</abbr><!--
          --><span itemprop="faxNumber">64 (800) 456-238</span> (toll free)<br/>
        </div>

      </div>
    </li>
  </ul>
</div>