<div class="container">
  <a href="#" class="firma-icon">
    {{> svg/firma-symbol }}
  </a>
  <ul class="nav nav-inline">

    <li class="nav-item">
      <a class="nav-link" href="/media/25880/employee_code_of_ethics_nz.pdf" target="_blank">Code of Ethics</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="careers.html">Careers</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="privacy.html">Privacy Policy</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="cookie.html">Cookie Policy</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="environment.html">Environmental Policy</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="contact.html">Find an Office</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/media/40191/firma_16-17_bond_cert_-_nz.PDF" target="blank">Certificate of Insurance</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="contact.html">Contact Us</a>
    </li>
    <li class="nav-item copyright">
      <span>&copy;2016 FIRMA Foreign Exchange Corporation</span>
    </li>
  </ul>
</div>

<div class="container">
  <p class="disclaimer">
    FIRMA Foreign Exchange Corporation (NZ) Ltd. (Firma), located in Auckland, is a fully owned subsidiary of FIRMA
    Foreign Exchange Corporation Ltd., incorporated in Alberta, Canada. Firma is registered on the Financial Service
    Providers Register with FSP number: FXP69401, as an operator of a money or value transfer service, and changing
    foreign currency.
  </p>
  <p class="disclaimer">
    Firma only provides general financial advice. General advice means that Firma does not take
    into account your objectives, financial situation, or needs. You should review your situation to decide
    yourself whether our products are appropriate for you.There is also inherent risk in all foreign exchange
    transactions due to the nature of the currency market. For more information regarding our products and
    financial services and the associated risks, please consult our combined
    <a href="/media/33733/firma_nz_product_disclosure_statement.pdf" target="_blank">Financial Services Guide and
      Product Disclosure Statement</a>.
  </p>
</div>