{{#extend 'layout' id='cookie' class='interior nosidebar' lang='en-au' }}
{{#content 'body' }}

<div class="main-content container">

  {{> keyline }}

  <div class="page-content">

    <section class="container light">

      <h1>Cookies Policy</h1>
      <h2>Cookies</h2>
      <p>To make this site work properly, we sometimes place small data files called cookies on your device.</p>


      <h2>What are cookies?</h2>
      <p>A cookie is a small text file that a website saves on your computer or mobile device when you visit the site. It enables the website to remember your actions and preferences (such as login, language, font size and other display preferences) over a period of time, so you don’t have to keep re-entering them whenever you come back to the site or browse from one page to another.</p>


      <h2>How do we use cookies?</h2>


      <p>We use cookies to help us compile aggregate data about site traffic and site interaction so that we can offer better site experiences and tools in the future. We may contract with third-party service providers to assist us in better understanding our site visitors. We do not sell, trade, or otherwise transfer to outside parties your personally identifiable information unless we provide you with advance notice, however, non-personally identifiable visitor information may be provided to other parties for marketing, advertising, or other uses.</p>


      <h2>How to control cookies</h2>


      <p>You can control and/or delete cookies as you wish. You can delete all cookies that are already on your computer and you can set most browsers to prevent them from being placed. If you do this, however, you may have to manually adjust some preferences every time you visit a site and some services and functionalities may not work.</p>


    </section>

  </div>

</div>

{{/content}}
{{/extend}}