{{#extend 'layout' id='privacy' class='interior nosidebar' lang='en-au' }}
{{#content 'body' }}

<div class="main-content container">

  {{> keyline }}

  <div class="page-content">

    <section class="container light">

      <h1>Privacy Policy</h1>

      <p>FIRMA Foreign Exchange is committed to safeguarding the personal and confidential information entrusted to us by our valued clients. Personal and confidential information means information about an identifiable individual or company; this can include an individual or company’s name, address, phone number, identifying number, financial information, etc.</p>


      <h2>Collection of Personal and Confidential Information</h2>

      <p>FIRMA Foreign Exchange collects only the information needed for the purpose of providing superior service to clients. This includes information needed to:</p>

      <ul>
        <li>Establish a personal one-to-one relationship with each client</li>
        <li>Efficiently deliver (either in person or electronically) requested products and services</li>
        <li>Provide the appropriate and specific market information to meet each client’s needs</li>
        <li>Follow up with clients to determine satisfaction with products and services</li>
        <li>Notify clients of upcoming events of interest</li>
        <li>Grant credit</li>
        <li>Meet regulatory requirements</li>
      </ul>

      <p>FIRMA Foreign Exchange normally collects client information directly from clients. FIRMA Foreign Exchange may collect client information from other persons with the client's consent or as authorized by law.</p>

      <p>FIRMA Foreign Exchange informs clients of the purposes for which their information is being collected, before or at the time of collecting personal information. The exception to this is when a client volunteers information for an obvious purpose (in this case the client’s consent is assumed) or in specific circumstances where collection, use or disclosure without consent is authorized or required by law.</p>

      <p>FIRMA Foreign Exchange may ask for a client’s express consent for some purposes but may not be able to provide certain services if the client is unwilling to provide consent to the collection, use or disclosure of certain information. Where express consent is needed, FIRMA Foreign Exchange will normally ask clients to provide their consent orally (i.e. in person, by telephone), in writing (i.e. by signing a consent form, by checking a box on a form), or electronically (i.e. by clicking a button).</p>

      <p>A client may withdraw consent to the use and disclosure of personal information at any time, unless the personal information is necessary for FIRMA Foreign Exchange to fulfill legal obligations. FIRMA Foreign Exchange will respect a client’s decision but may not be able to provide the client with certain products and services if we do not have the necessary personal information.</p>

      <p>FIRMA Foreign Exchange may collect, use or disclose client personal and confidential information without consent only as authorized by law. For example, FIRMA Foreign Exchange may not request consent when the collection, use or disclosure is reasonable for an investigation or legal proceeding; when collecting a debt owed to the organization; in an emergency that threatens life, health or safety, or when the personal information is from a public telephone directory.</p>


      <h2>Use of Confidential Information</h2>

      <p>FIRMA Foreign Exchange uses and discloses client information only for the purposes for which the information was collected, except as authorized by law. For example, FIRMA Foreign Exchange may use client contact information to ensure that the client receives the best possible service. The law also allows FIRMA Foreign Exchange to use that contact information for the purpose of collecting a debt owed to the organization, should that be necessary.</p>

      <p>FIRMA Foreign Exchange makes every reasonable effort to ensure that client information is accurate and complete. FIRMA Foreign Exchange relies on clients to provide notification if there is a change to their information that may affect their relationship with FIRMA Foreign Exchange. In some cases FIRMA Foreign Exchange may ask for a written request for correction.</p>


      <h2>Security</h2>

      <p>FIRMA Foreign Exchange protects client information in a manner appropriate for the sensitivity of the information and as required by applicable legislation. Client information is stored in electronic format under a strict secure computer system and may not be accessed by anyone outside of FIRMA Foreign Exchange’s employment. Documents in paper format are stored in a secure storage facility and retained as long as required by law. FIRMA Foreign Exchange makes every reasonable effort to prevent any loss, misuse, disclosure or modification of personal information, as well as any unauthorized access to personal information. Maintaining the security of personal and confidential information is of paramount importance to FIRMA Foreign Exchange.</p>

      <p>FIRMA Foreign Exchange uses appropriate security measures when destroying client information, including shredding paper records and permanently deleting electronic records. FIRMA Foreign Exchange retains client personal information only as long as is reasonable to fulfill the purposes for which the information was collected or for legal or business purposes.</p>


      <h2>Rights of Access</h2>

      <p>Clients of FIRMA Foreign Exchange have a Right of Access to their own personal information in a record that is in the custody or under the control of FIRMA Foreign Exchange, subject to some exceptions. For example, FIRMA Foreign Exchange may refuse to provide access to information that would reveal personal information about another individual or company. Access may also be refused if the information is privileged or contained in mediation records.</p>

      <p>If FIRMA Foreign Exchange refuses a request in whole or in part, FIRMA Foreign Exchange will provide the reasons for the refusal. In some cases, where exceptions to access apply, FIRMA Foreign Exchange may withhold that information and provide the client with the remainder of the record.</p>

      <p>While FIRMA Foreign Exchange strives to respond to each request as quickly as possible, information retrieval may take up to a maximum of 45 days. FIRMA Foreign Exchange may charge a reasonable fee to provide information, but not to make a correction. FIRMA Foreign Exchange will advise you of any fees that may apply before beginning to process your request.</p>

      <p>If you have a question or concern about any collection, use or disclosure of personal information by FIRMA Foreign Exchange, or about a request for access to your own personal information, please contact your local trading office.</p>

    </section>

  </div>

</div>

{{/content}}
{{/extend}}