<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="200px" height="200px" viewBox="0 0 200 200" enable-background="new 0 0 200 200" preserveAspectRatio="xMinYMin meet"
   shape-rendering="geometricPrecision" xml:space="preserve" class="contact-icon">

  <defs>
    <clipPath id="bubbleMask" clipPathUnits="userSpaceOnUse">
      <path fill="#ffffff" d="M136.24,103.346c-8.284,0-16.358-1.523-24.002-4.524c-0.578-0.228-1.175-0.341-1.78-0.341
        c-0.837,0-1.669,0.222-2.405,0.644L88.4,110.356l6.962-17.406c0.738-1.857,0.25-4.012-1.213-5.365
        c-9.668-8.942-14.991-20.475-14.991-32.474c0-26.596,25.607-48.233,57.082-48.233c31.473,0,57.081,21.637,57.081,48.233
        C193.321,81.707,167.712,103.346,136.24,103.346z"/>
    </clipPath>
  </defs>

  <!-- Currency symbol goes here -->
  <g class="currencyGroup" clip-path="url(#bubbleMask)">
    <path class="icon-path currency-symbol euro" d="M115.07,52.9h-5.38v-7.66h6.93c3.91-11.08,14.26-17.6,25.59-17.6c4.64,0,7.17,0.65,9.86,1.71l-2.69,9.21
      c-1.71-0.65-3.99-1.14-7.17-1.14c-5.46,0-10.84,2.36-13.78,7.82h19.07l-2.2,7.66h-18.99c-0.16,1.06-0.16,1.88-0.16,2.69
      c0,1.14,0.08,1.96,0.16,2.53h17.77l-2.2,7.66h-13.21c2.94,4.89,8.07,7.25,13.69,7.25c3.1,0,5.46-0.49,7.17-1.14l2.53,9.13
      c-2.28,1.06-5.62,1.95-9.7,1.95c-11.49,0-21.68-6.19-25.67-17.2h-7.01v-7.66h5.46c-0.16-1.22-0.16-2.53-0.16-2.94
      C114.99,54.7,114.99,54.04,115.07,52.9" />
    <path class="icon-path currency-symbol dollar" d="M133.42,90.544v-8.156c-2.645-0.355-4.955-1.064-6.938-2.133c-1.982-1.066-3.633-2.324-4.954-3.771
      c-1.323-1.449-2.353-3.025-3.087-4.729c-0.736-1.701-1.183-3.361-1.336-4.992l9.453-2.287c0.104,1.223,0.394,2.377,0.877,3.469
      c0.48,1.094,1.155,2.072,2.021,2.936c0.863,0.863,1.93,1.551,3.2,2.059s2.794,0.76,4.574,0.76c2.489,0,4.42-0.533,5.792-1.6
      s2.06-2.439,2.06-4.117c0-1.32-0.471-2.449-1.412-3.393c-0.939-0.938-2.377-1.613-4.305-2.02l-7.015-1.523
      c-4.115-0.916-7.368-2.617-9.756-5.105c-2.391-2.49-3.584-5.566-3.584-9.223c0-2.035,0.369-3.914,1.105-5.645
      c0.736-1.727,1.753-3.25,3.051-4.57c1.295-1.322,2.82-2.428,4.573-3.316c1.751-0.891,3.646-1.488,5.679-1.792V23.24h7.774v8.383
      c2.185,0.408,4.078,1.066,5.68,1.984c1.601,0.912,2.947,1.955,4.04,3.123c1.091,1.17,1.954,2.428,2.591,3.773
      c0.636,1.35,1.08,2.656,1.334,3.926l-9.377,2.668c-0.102-0.658-0.316-1.396-0.646-2.211c-0.331-0.812-0.839-1.588-1.524-2.324
      c-0.687-0.736-1.551-1.346-2.593-1.83c-1.043-0.482-2.35-0.723-3.925-0.723c-2.438,0-4.307,0.596-5.604,1.791
      c-1.293,1.193-1.943,2.58-1.943,4.154c0,1.17,0.432,2.211,1.297,3.125c0.863,0.914,2.184,1.576,3.965,1.98l6.935,1.602
      c4.828,1.068,8.357,2.926,10.596,5.564c2.236,2.643,3.354,5.693,3.354,9.148c0,1.779-0.305,3.482-0.914,5.105
      c-0.609,1.629-1.523,3.115-2.744,4.459c-1.221,1.35-2.705,2.492-4.459,3.43c-1.754,0.945-3.773,1.588-6.061,1.945v8.23H133.42z"/>
    <path class="icon-path currency-symbol pound" d="M122.78,49.91c-0.744-2.084-1.34-4.317-1.34-7.071c0-7.518,6.104-14.439,15.854-14.439
      c11.686,0,15.556,7.89,15.631,14.067l-8.933,1.34c-0.074-4.466-2.456-7.071-6.55-7.071c-3.35,0-6.401,2.01-6.401,6.252
      c0,2.531,0.745,4.615,1.638,6.922H146.3v7.592h-11.239c0,0.521,0.074,1.042,0.074,1.563c0,4.094-1.712,7.89-5.358,10.123h11.537
      c3.722,0,6.028-2.679,6.028-6.252l8.857,0.745c0,8.188-5.284,14.142-13.323,14.142h-24.935V69.56c4.764-1.712,7.89-5.136,7.89-9.453
      c0-0.893-0.148-1.787-0.298-2.605h-7.294V49.91H122.78z"/>
    <path class="icon-path currency-symbol yen" d="M142.104,73.066V83.36h-9.912V73.066H119v-7.167h13.192v-5.338H119v-7.09h8.157l-11.817-19.597h11.514
	    l10.522,18.681l10.369-18.681h11.058L147.06,53.471h8.77v7.09h-13.726v5.338h13.726v7.167H142.104z"/>
  </g>

  <path class="icon-path speech-bubble" d="M136.24,1.12c-34.44,0-62.46,24.33-62.46,54.24c0,12.65,5.15,24.97,14.51,34.7l-10.05,25.13
    c-0.78,1.94-0.24,4.17,1.34,5.53c0.89,0.78,2.04,1.21,3.23,1.21c0.86,0,1.7-0.22,2.44-0.64l27.48-15.71
    c7.53,2.67,15.44,4.02,23.51,4.02c34.44,0,62.46-24.33,62.46-54.24C198.7,25.45,170.68,1.12,136.24,1.12z M136.24,100.18
    c-7.7,0-15.2-1.42-22.3-4.2c-0.54-0.21-1.09-0.32-1.65-0.32c-0.78,0-1.55,0.21-2.23,0.6l-18.26,10.44l6.47-16.17
    c0.69-1.73,0.23-3.73-1.13-4.99C88.15,77.22,83.2,66.51,83.2,55.36c0-24.71,23.79-44.81,53.04-44.81c29.24,0,53.04,20.1,53.04,44.81
    C189.27,80.07,165.48,100.18,136.24,100.18z" />

  <path id="icon-phone" class="icon-path phone" d="M120.43,198.47c-8.78,0-40.37-2.96-78.39-40.97C4.01,119.46,1.05,87.87,1.05,79.09
    c0-6.86,3.88-16.11,10.38-24.75c5.96-7.91,12.61-13.27,16.54-13.32L36.91,41c4.31,0,8.08,2.75,9.37,6.84L57.37,82.8
    c1.11,3.5,0.19,7.3-2.41,9.89l-12.89,12.89c3.07,5.38,10.07,16.17,22.89,28.98c12.81,12.8,23.59,19.81,28.98,22.89l12.89-12.89
    c1.82-1.82,4.36-2.86,6.97-2.86c1,0,1.98,0.15,2.93,0.45l34.96,11.08c4.1,1.3,6.85,5.07,6.84,9.38l-0.03,8.88
    C158.39,179.53,135.82,198.47,120.43,198.47 M28.59,51.01c-4.04,1.85-17.55,17.54-17.55,28.08c0,7.81,2.74,36.02,38.05,71.33
    c35.32,35.31,63.54,38.06,71.34,38.06c10.53,0,26.23-13.52,28.08-17.56l0.03-8.21l-34.73-11.01l-12.91,12.91
    c-1.81,1.81-4.36,2.85-6.98,2.85c-1.69,0-3.33-0.43-4.76-1.24c-5.78-3.29-17.52-10.85-31.26-24.6
    c-13.77-13.77-21.32-25.5-24.59-31.26c-2.17-3.81-1.51-8.64,1.61-11.75l12.9-12.91L36.81,50.98L28.59,51.01z"/>

</svg>
