<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
     width="71.2px" height="89px" viewBox="0 0 71.2 89" preserveAspectRatio="xMinYMin meet" enable-background="new 0 0 71.2 89" xml:space="preserve" class="firma-symbol">
  <rect y="0" width="71.2" height="17.8" />
  <rect y="35.6" width="71.2" height="17.8" />
  <rect y="71.2" width="17.8" height="17.8" />
</svg>