{{#extend 'layout' id='contact' class='interior nosidebar' lang='en-gb' }}
{{#content 'body' }}

<div class="main-content container">

  {{> keyline }}

  <div class="page-content">

    <section class="container light">

      <h1>Contact Us</h1>

      <div class="contact-row">
        <div class="col office-contact-container">
          {{> content/en-gb/contact-info }}
        </div>
        <div class="col contact-form-container">
          <h2>Learn how Firma can help <span class="nobr">your business.</span></h2>
          {{> content/en-gb/contact-form formId='contact-page-form' }}
          {{> content/contact-complete }}
        </div>
      </div>

      <div class="intro">
        <h1>Customer Feedback</h1>
        <p>
          FIRMA Foreign Exchange Corporation (UK) Ltd. is committed to working with you to find a fair and equitable resolution to any concerns that you may have about our products or services. We ask that your first contact regarding questions or concerns be with your trader at FIRMA Foreign Exchange. If you feel that we have not found a suitable resolution at this level, please contact us at:
        </p>

        {{!-- data from data/locations.json --}}
        {{#each this.locations}}
          {{#each this}}

            {{!-- output UK locations only --}}
            {{#equal @key 'uk' }}
              {{#each this.regions}}

                {{#each this.offices}}

                  {{!-- HACKY WORKAROUND, only list the first item --}}
                  {{#equal @index 0}}
                    {{> office this showEmail=true }}
                  {{/equal}}

                {{/each}}

              {{/each}}
            {{/equal}}

          {{/each}}
        {{/each}}
      </div>

      <div class="intro">
        <p>If you feel that FIRMA Foreign Exchange Corporation (UK) Ltd. has not met your concerns in a fair and equitable manner, you may refer your concerns to the Financial Ombudsman Service at:</p>

        {{!-- data from data/locations.json --}}
        {{#each this.locations}}
          {{#each this}}

            {{!-- output UK locations only --}}
            {{#equal @key 'uk' }}
              {{#each this.regions}}

                {{#each this.offices}}

                  {{!-- HACKY WORKAROUND, only list the second item --}}
                  {{#equal @index 1}}
                    {{> office this overrideName='United Kingdom' showWebsite=true showEmail=true }}
                  {{/equal}}

                {{/each}}

              {{/each}}
            {{/equal}}

          {{/each}}
        {{/each}}
      </div>

    </section>

  </div>

</div>

{{/content}}
{{/extend}}