{{#extend 'layout' id='e-commerce' parentId='blog' pageTitle='Importing & Exporting to China.' class='blog-post content-pages' lang='en-gb' }}

  {{#content 'meta' }}
    <meta name="description" content="Looking for a challenging and rewarding career, see how FIRMA may be the right match for you.">
    <meta name="keywords" content="Careers, Jobs, Bonus Incentives, International payments, currency specialists, Firma, Business, World, Currency Exchange, Specialist, Foreign Deposit, Positive work environment, Canada, Partnerships and Affiliates, energetic people"/>
  {{/content}}

  {{#content 'body' }}
    <div class="main-content container">
      <div class="page-content">

        {{> hero-secondary image='/images/blog/blog4-header.jpg' spriteId='access' }}

        <section class="container light blog-content">

          <h3>September 14, 2016</h3>
          <h1>Why trading with China is a big deal.</h1>
          <p>China isn't just one of the biggest countries on the planet, it also has enjoyed the fastest growing
            economy over the last decade, producing fifty percent of the world’s goods. It’s nearly impossible to consider
            international growth without considering China as a trading partner. Aside from being a manufacturing
            powerhouse, China is also a large export market. And when you take all of that into consideration, it’s easy to
            see why in order to grow big, you need to go big.</p>

          <h2>Offshore versus onshore currency: what’s tradable?</h2>

          <p>While the Renminbi is the official currency of the People’s Republic of China, the Yuan,
            abbreviated to CNY, is essentially synonymous (not unlike how British sterling and the pound both relate to
            British currency). What’s circulated on the mainland isn’t actually allowed to leave the country. So, another
            Yuan was created: the CNH offshore Yuan, which, happily, is tradeable. And while many Chinese suppliers actually
            accept US Dollars, it adds additional complexity on their end. Importantly, by having access to offshore or
            onshore Yuan, you could negotiate better pricing with suppliers.</p>

          <h2>Money doesn’t always cross the border.</h2>

          <p>So, trading with China has huge potential for your business. Great. Now what? As you’ve just
            found out, Chinese currency is a little more complicated. Internal currency regulations aim to
            prevent Renminbi from leaving home soil, so to fully realize the potential of international trade with China,
            you’ll need to find solutions to pay and get paid at the right rates. That’s where having a currency specialist
            can save you time and money. </p>

          <h2>The right advice can help your business go the right direction.</h2>

          <p>Growing globally with China in mind is a huge business opportunity. One that most small and
            medium sized businesses don’t take advantage of, or are too afraid to. Working with an international payment and
            currency specialist will give you the confidence to broaden your horizons and seek out new, rewarding business
            opportunities. At Firma Foreign Exchange, you’ll find everything you need to succeed in today’s global economy,
            getting the best advice from people who care, no matter how big or small your business is. </p>

          {{> blog-social }}

        </section>
      </div>

    </div>
  {{/content}}
{{/extend}}