{{#extend 'layout' id='home' country='UK' lang='en-gb' }}
  {{#content 'body' }}

    <div class="main-content">

      <div class="hero-set">
        {{#> hero image='/images/hero/image-01.jpg' spriteId='simple' className='slide1' }}
          We manage and track all complicated international payments and currency exchange, getting you the most out of your time and money. <span class="nobr">Simple as that.</span>
        {{/hero}}

        {{#> hero image='/images/hero/image-02.jpg' spriteId='growth' className='slide2' active=true }}
          We know how to keep business’ growing. By making the movement of money across borders less complex, the growth potential is yours <span class="nobr">to discover.</span>
        {{/hero}}

        {{#> hero image='/images/hero/image-03.jpg' spriteId='oneonone' className='slide3' }}
          We take the time to get to know you and your long term business goals to ensure you always have <span class="nobr">ultimate control.</span>
        {{/hero}}

        {{#> hero image='/images/hero/image-04.jpg' spriteId='everywhere' className='slide4' }}
          Anywhere you want to do business, we’re <span class="nobr">already there.</span>
        {{/hero}}
      </div>

      <section class="intro-section container light">
        <div class="intro-copy-container">
          <h1>
            We believe business <span class="soft-break mobile"></span>
            across borders can <span class="soft-break mobile"></span>
            be <span class="nobr">less complex.</span>
          </h1>
          <p>
            We help global minded businesses grow. <span class="soft-break mobile"></span>
            That means we manage the movement of your company’s money across borders at a great rate, every time.
          </p>
        </div>
        <div class="youtube-container">
          <a href="https://www.youtube.com/embed/eKqlGu5ohkQ" class="cta-button play-trailer-button" data-toggle="modal" data-target="#videoModal" data-thevideo="https://www.youtube.com/embed/eKqlGu5ohkQ"> <img src="/images/video-cta.gif" width="270" /></a><div> <a href="https://www.youtube.com/embed/eKqlGu5ohkQ" class="cta-button play-trailer-button" data-toggle="modal" data-target="#videoModal" data-thevideo="https://www.youtube.com/embed/eKqlGu5ohkQ"><span class="link">Watch how we can make a difference</span></a></div>
        </div>
      </section>

      <section class="quotes container-fluid">

        <div class="quotes-wrapper">

          <div class="quotes-list">
            <div class="quote-item intro">
              <div class="content dark">
                <h1>We are <span class="soft-break"></span>specialists.</h1>
                <p>
                  A dedicated Firma specialist can optimise your business&rsquo; time and resources by personally handling
                  your international payments and currency exchange all over <span class="nobr">the world.</span>
                </p>
              </div>
            </div>

            {{!-- quote contents from templates/content/quotes.hbs --}}
            {{> content/quotes }}

          </div>

        </div>

        <div class="mobile-quotes-container"></div>

      </section>

      <section class="services container light">
        <div class="services-content">
          <div class="intro">
            <h1>We know what it <span class="soft-break mobile"></span>means to put you first.</h1>
            <p>
              Because we’re completely full-serve and dedicated to you. That’s why we take the time to get to know your business a little bit better. After all, you need to be <span class="nobr">in control.</span>
            </p>
          </div>
          <ul class="services-list">
            <li class="service-item">
              <img src="/images/icons/international-payments.svg" class="service-icon" />
              <h3>International Payments</h3>
              <p>We simplify the movement of your money, using the safest networks with the latest technologies.</p>
            </li>
            <li class="service-item">
              <img src="/images/icons/currency-exchange.svg" class="service-icon" />
              <h3>Currency Exchange</h3>
              <p>There are only two currencies: time and money. We help you get the most out of both.</p>
            </li>
            <li class="cta explore">
              <a href="services.html" class="link">
                <span>Explore all of our services</span>
              </a>
            </li>
          </ul>
        </div>
      </section>

    </div>

{{> content/video }}

  {{/content}}
{{/extend}}
