{{#extend 'layout' id='blog' pageTitle='Blog' class='interior content-pages' lang='en-us'}}

  {{#content 'meta' }}
    <meta name="description" content="From currency exchange, international payments to personal services including tuition payments and foreign real estate, find out what services FIRMA can provide to you or your business">
    <meta name="keywords" content="International Vehicle Purchases, International payments, Direct Debit, Firma, Business, World, Currency Exchange, Specialist, Foreign Deposit, Foreign Currency, Currency, Canada, Delivery Methods, Spot Orders, Market Orders, Forward Contacts, Partnerships and Affiliates, Tuition Payments, Foreign Real Estate" />
  {{/content}}

  {{#content 'body' }}
    <div class="interior blog-wrapper">
      <section class="blog-section container professional light">
        <h1>Blog.</h1>
        <hr />
      
        {{> blog-list }}
      
      </section>
    </div>
  {{/content}}
{{/extend}}