{{#extend 'layout' id='contact' class='interior nosidebar' lang='en-us' }}
{{#content 'body' }}

<div class="main-content container">

  {{> keyline }}

  <div class="page-content">

    <section class="container light">

      <h1>Contact Us</h1>

      <div class="contact-row">
        <div class="col office-contact-container">
          {{> content/en-us/contact-info }}
        </div>
        <div class="col contact-form-container">
          <h2>Learn how Firma can help <span class="nobr">your business.</span></h2>
          {{> content/en-us/contact-form formId='contact-page-form' }}
          {{> content/contact-complete }}
        </div>
      </div>

      <div class="intro">
        <h1>Customer Feedback</h1>
        <p>
          FIRMA Foreign Exchange Corporation (U.S.) Ltd. is committed to working with you to find a fair and equitable resolution to any concerns that you may have about our products or services. We ask that your first contact regarding questions or concerns be with your trader at FIRMA Foreign Exchange. If you feel that we have not found a suitable resolution at this level, please contact us at:
        </p>

        {{!-- data from data/contact.json --}}
        {{#each this.contact}}
          {{#each this}}

            {{!-- output UK contacts only --}}
            {{#equal @key 'us' }}
              {{#each this.contacts}}

                {{#equal @key 'internal'}}
                  {{> office this showEmail=true }}
                {{/equal}}

              {{/each}}
            {{/equal}}

          {{/each}}
        {{/each}}
      </div>

      <div class="intro">
        <p>If you feel that FIRMA Foreign Exchange Corporation (U.S.) Ltd. has not met your concerns in a fair and equitable manner, you may refer your concerns to the Consumer Financial Protection Bureau at:</p>

        {{!-- data from data/contact.json --}}
        {{#each this.contact}}
          {{#each this}}

            {{!-- output UK contacts only --}}
            {{#equal @key 'us' }}
              {{#each this.contacts}}

                {{#equal @key 'external'}}
                  {{> office this overrideName='Consumer Financial Protection Bureau' showWebsite=true showEmail=true }}
                {{/equal}}

              {{/each}}
            {{/equal}}

          {{/each}}
        {{/each}}
      </div>

      <div class="intro additional-contacts">
        <p>Alternatively you may provide feedback about FIRMA Foreign Exchange Corporation (U.S.) Ltd. to one of the individual state regulators using the state-specific contacts below:</p>

        {{!-- data from data/contact.json --}}
        {{#each this.contact}}
          {{#each this}}

            {{!-- output US contacts only --}}
            {{#equal @key 'us' }}
              {{#each this.contacts}}

                {{#equal @key 'additional'}}
                  {{#each this}}
                    {{> office-item title=region overrideName=name showWebsite=true showEmail=true }}
                  {{/each}}
                {{/equal}}

              {{/each}}
            {{/equal}}

          {{/each}}
        {{/each}}
      </div>

    </section>

  </div>

</div>

{{/content}}
{{/extend}}