{{#extend 'layout' id='currency-market' parentId='blog' pageTitle='Hedging.' class='blog-post content-pages' lang='en-us' }}

  {{#content 'meta' }}
    <meta name="description" content="Looking for a challenging and rewarding career, see how FIRMA may be the right match for you.">
    <meta name="keywords" content="Careers, Jobs, Bonus Incentives, International payments, currency specialists, Firma, Business, World, Currency Exchange, Specialist, Foreign Deposit, Positive work environment, Canada, Partnerships and Affiliates, energetic people"/>
  {{/content}}

  {{#content 'body' }}
    <div class="main-content container">
      <div class="page-content">

        {{> hero-secondary image='/images/blog/blog2-header.jpg' spriteId='planning' }}

        <section class="container light blog-content">

          <h3>August 2, 2016</h3>
          
          <h1>Hedging: the art of financial planning.</h1>
          <p>In chess, the best players can read the chess board and set themselves up for success by planning many moves
            ahead. They may not know exactly what their opponent will do, but they can anticipate any minor variation in how
            the game progresses. Hedging, in financial terms, is how you plan ahead and strategize for how the market will
            move as time progresses. That means finding the right solution for your business needs, determining your risk
            appetite, and understanding that with a proper understanding of these strategies and how they can help, you’ll
            see that there is a solution for every situation that sets you up for a financial checkmate.</p>

          <h2>Finding the right solution for your business needs.</h2>
          <p>It may feel like in a market of seemingly endless influential factors there must be an equally endless list of
            solutions. Luckily, hedging primarily involves three: market orders, forward contracts, and options. Each have
            their own unique benefits and strategies, and by knowing when and how to use them, you can confidently plan your
            cash flow, pricing, payables and receivables, and avoid any unwelcome surprises due to market volatility.</p>
          <h2>Determining your risk appetite.</h2>
          <p>As the saying goes, with every action, there’s an equal and opposite reaction. Trading currency is no
            different. But, by determining your appetite for risk, you can make informed decisions that help you prepare for
            the unknown in the year ahead. For instance, by anticipating a drop in rates like we saw with the recent Brexit
            decision, you could have locked in a price of $1.48 with a forward contract before prices fell. If you weren’t
            sure how far prices would drop, a market order would have allowed you to set a price point to trade when the
            rate reached a desired level, helping you protect your business from a steep loss. Using an option on the other
            hand, would, as the name suggests, give you the option to buy or sell, with no obligation to. Each of these
            hedging strategies can offer your business a path to planning for success. However, working with people who can
            help you plan the right strategy is just as important.</p>
          <h2>There’s a solution for every situation.</h2>

          <p>Going at it alone can be a daunting task. Managing the day-to-day of your business while pushing for growth is
            difficult enough. Having someone there to offer professional advice based on years of experience and knowledge
            will help you make better decisions faster. And, based on how quickly the market can change, making the right
            decisions at the right time can make all the difference. When considering your options, talk to a Firma
            international payment and currency specialist. They’ll help you monitor and time the market so you can get a
            great exchange rate, every time. They’ll even help you set up an LEI (Legal Entity Identifier) number to access
            certain hedging tools. Currency exchange can be complicated. Start protecting your bottom line, anticipating
            currency changes, and maximizing your earning potential. </p>

          {{> blog-social }}

        </section>
      </div>
    </div>

  {{/content}}
{{/extend}}