{{#extend 'layout' id='locations' class='interior nosidebar' lang='en-us' }}
  {{#content 'body' }}

    <div class="main-content container">

      {{> keyline }}

      <div class="page-content">

        <section class="container light">
          <h1>FIRMA Locations</h1>

          <ul class="locations-list accordion">

            {{!-- data from data/locations.json --}}
            {{#each this.locations}}
              {{#each this}}

                {{!-- output US locations only --}}
                {{#equal @key 'us' }}
                  {{#each this.regions}}
                    {{> location-item officeCountry=../country }}
                  {{/each}}
                {{/equal}}
              {{/each}}
            {{/each}}

          </ul>
        </section>

      </div>

    </div>

  {{/content}}
{{/extend}}