{{#extend 'layout' id='management' parentId='company' pageTitle='Our Team' class='interior content-pages' lang='en-us' }}

  {{#content 'meta' }}
    <meta name="description" content="See who makes FIRMA a leader">
    <meta name="keywords" content="Foreign Exchange team, International payments, Firma, Business, World, Business, Currency Exchange, Specialist, Foreign Deposit, Foreign Currency, Currency, Canada, Market Orders, Forward Contacts, Partnerships and Affiliates, Tuition Payments, Foreign Real Estate, Spot Orders" />
  {{/content}}

  {{#content 'body' }}
    <div class="main-content container">

      <div class="row-sidebar">
        <div class="sidebar"></div>
        <div class="page-content">

          {{> hero-secondary image='/images/company/background-management.jpg' spriteId='engagement' }}

          <section class="container light">
            <h1>Meet our <span class="soft-break mobile"></span> management team.</h1>

            <ul class="team-list accordion">

              {{#> team-item name='Dave Dominy' title='Chief Executive Officer' }}
                <p>
                  Dave Dominy joined Firma in June 2014 as CEO, bringing significant financial industry expertise and experience to the company. He spent 15 years in a variety of senior banking and investment banking roles with a Canadian chartered bank, as well as 8 years as CEO of a private equity group in Western Canada. As CEO of a provincial regulatory body, he was directly involved in the implementation of new liquidity and capital standards for credit unions. From 1999 through 2003 he was CEO of a mid-sized public company active in the oilfield services sector and, prior to that, was CFO of a large-cap public company active in gas processing and transportation.
                </p>
                <p>
                  His extensive board career includes leadership roles on a variety of not-for-profit, private, public and crown corporation boards. He is currently Vice Chair and director of Norquest College, Chair Audit Committee and director of Chandos Construction LP, director of the Alberta Insurance Council, Chairman of 3D Capital Inc. and an instructor in the Alberta School of Business’ governance program for small and medium-sized enterprises.
                </p>
                <p>
                  He is an active contributor to a number of local charities, most recently as Chair of the Stollery Children’s Hospital Foundation in Edmonton.
                </p>
                <p>
                  Dave holds a Masters of Management from the J.L.Kellogg School of Business in Chicago, a BA in mathematics from the University of Winnipeg, the Canadian Securities Course and the ICD.D designation from the Institute of Corporate Directors of Canada.
                </p>
              {{/team-item}}
              
              {{#> team-item name='Michael Oshry' title='Chairman' }}
                <p>
                  <img src="https://firmafx.com/media/40376/Edmonton-Made-Black-Transparent.png" width="100" hspace="0" vspace="0" align="right" />
                  Michael began his career starting a variety of local businesses in retail, hospitality and business services. He co-founded FIRMA Foreign Exchange in 1998 and co-won the Ernst & Young Entrepreneur of the Year Award in 2007.
                </p>
                <p>
                  Michael was elected to represent Ward 5 on Edmonton City Council in October 2013. In that capacity he has served on a variety of committees, boards and initiatives including the City Manager and City Auditor Performance Evaluation, Chairing the Transportation Committee, Community Standards and Licensing Appeal Board, Edmonton Northlands, the Emerging Economy Initiative and the Edmonton Police Commission.
                </p>
                <p>
                  He is also a past board member of the Alberta chapter of the Young Presidents' Organization (YPO) and served on the boards of other non-profit organizations.
                </p>
                <p>
                  Michael is married and the proud father of two children.
                </p>
              {{/team-item}}

              {{#> team-item name='Alex Eadie, CPA, CMA, CAMS' title='Chief Financial Officer' }}
                <p>
                  Alex Eadie is a certified management accountant (CMA) and certified anti-money laundering specialist (CAMS) who brings 12 years of executive experience to the FIRMA Foreign Exchange team. Most recently, as chief accountant and general manager, Alex led the rapid growth of a leading edge software integration firm.
                </p>
                <p>
                  To enhance the company’s competitive edge, Alex brings his professional yet creative blend of promoting sound business fundamentals with leading edge management techniques. Alex’s financial acumen, strategic insight and collaborative approach to implementing a variety of initiatives are instrumental in FIRMA Foreign Exchange’s ongoing international growth.
                </p>
              {{/team-item}}

              {{#> team-item name='Brad Clark, BComm, BSc' title='Chief Operating Officer' }}
                <p>
                  Brad Clark comes to FIRMA Foreign Exchange with over fifteen years of Operations Management experience. He holds a Bachelor of Commerce degree from the University of Alberta and a Bachelor of Science degree in mathematics. Brad’s communication and leadership skills, along with his ability to work well under pressure, have contributed in large part to his success.
                </p>
                <p>
                  Prior to his position with Firma, Brad was the general manager of Western Canada’s largest commercial print manufacturer, a division of one of the largest international print media corporations. While there, Brad was identified as one of the top 75 high-potential employees from across North America and received training and career development in a Leadership, Excellence and Development Program.
                </p>
                <p>
                  As Chief Operating Officer, Brad coordinates and grows a diverse team of professionals in information technology services, communications and trading personnel. Brad brings the dedication and perseverance required to strategically grow the business and support the critical operations component for the continued success of FIRMA Foreign Exchange.
                </p>
              {{/team-item}}

              {{#> team-item name='Chris Brockbank' title='Chief Marketing Officer' }}
                <p>
                  Chris brings nearly 30 years of marketing experience to the FIRMA Foreign Exchange team. Chris’ previous experience includes chief marketing officer at Sears Canada, Moneris, Just Energy and Sun/Quebecor Media. In addition, Chris also held senior marketing roles at Sirius Canada, Bell/Bell Wireless and Nortel Networks.
                </p>
                <p>
                  In addition to Chris’ vast wealth of knowledge and experience, he is also an instructor at University of Toronto where he teaches brand management in the continuing education program.
                </p>
                <p>
                  As Firma’s chief marketing officer, Chris will be researching, implementing and uncovering ways to take Firma’s brand, products and services to the next level while increasing Firma's competitive edge in the marketplace to propel Firma to additional international growth.
                </p>
              {{/team-item}}

              {{#> team-item name='Gordon Wollenberg, BCom, CHRP' title='Chief Talent Officer' }}
                <p>
                  Gordon Wollenberg joined Firma in March 2013 with over 20 years of human resources experience. He holds a Bachelor of Commerce degree from the University of Alberta and is a Certified Human Resources Professional, holding his designation with the HRIA.
                </p>
                <p>
                  Prior to joining Firma, Gordon was the human resources manager of a large Canadian construction company.  Previous experiences were with City of Edmonton, Government of Alberta, ATB and the Catholic School Board.
                </p>
                <p>
                  As chief talent officer, Gordon is responsible for the overall operation of the human resources function of Firma. Gordon and his team focus on the recruitment of high-caliber individuals, as well as learning and development initiatives to ensure high performance and continued success for Firma.
                </p>
              {{/team-item}}

              {{#> team-item name='James Devenish' title='Chief Sales Officer' }}
                <p>
                  James brings over 20 years of experience in the Financial Industry to the Firma Foreign Exchange team. Prior to his joining Firma in 2011, he held positions with both Western Union Business Solutions and HSBC Financial Canada, where his operations and sales skills were honed through both national and international client relationships.
                </p>
                <p>
                  Since joining Firma, James has consistently demonstrated his passion for delivering bottom line results by focusing on the development of high performing teams, sales management and strategic planning. His success is well demonstrated with numerous sales, business growth and profitability achievements throughout his career.
                </p>
                <p>
                  As Chief Sales Officer, James’ focus is to uncover new business opportunities and to ensure the global business continues to provide a best in class sales and service experience to all clients. His experience and extensive knowledge of the industry, coupled with his strengths in leadership, talent development and program delivery, make him the ideal choice to lead Firma's global sales teams.
                </p>
              {{/team-item}}

            </ul>
          </section>

        </div>
      </div>

    </div>
  {{/content}}
{{/extend}}