<h2>
  Address and Phone
</h2>

<div class="office-contact">
  <ul class="contact-info">
    <li class="location collapse in">

      <h3 class="office-name">Sydney</h3>

      <div class="office-item-container" itemscope itemtype="http://schema.org/Organization">

        <address itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
          <div class="office-name">
            <span itemprop="name">{{#if overrideName}}{{overrideName}}{{else}}FIRMA Foreign Exchange Corporation{{/if}}</span>{{#if division}} {{ division }}{{/if}}
          </div>
          <span itemprop="streetAddress">Suite 801, Level 8, 2 Bulletin Place</span><br/>
          <span itemprop="addressLocality">Sydney</span>
          <span itemprop="postalCode">NSW 2000</span>
          <br/><span itemprop="addressCountry">Australia</span>
        </address>

        <div class="contact-details">
          <abbr title="Telephone">T:</abbr><!--
          --><span itemprop="telephone">61 (2) 9151-4812</span><br/>
          <abbr title="Fax">F:</abbr><!--
          --><span itemprop="faxNumber">61 (2) 9151-4822</span><br/>
          <abbr title="eFax">F:</abbr><!--
          --><span itemprop="faxNumber">61 (2) 8088-6066</span> (eFax)<br/>
        </div>

      </div>
    </li>
  </ul>
</div>