<div class="container">
  <a href="#" class="firma-icon">
    {{> svg/firma-symbol }}
  </a>
  <ul class="nav nav-inline">
    <li class="nav-item">
      <a class="nav-link" href="careers.html">Careers</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="privacy.html">Privacy Policy</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="cookie.html">Cookie Policy</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="environment.html">Environmental Policy</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="contact.html">Find an Office</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/media/40185/firma_16-17_bond_cert_-_aus.PDF" target="blank">Certificate of Insurance</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="contact.html">Contact Us</a>
    </li>
    <li class="nav-item copyright">
      <span>&copy;2016 FIRMA Foreign Exchange Corporation</span>
    </li>
  </ul>
</div>

<div class="container">
  <p class="disclaimer">
    FIRMA Foreign Exchange Corporation Ltd. (Firma) is a foreign (overseas) registered company, incorporated in Alberta,
    Canada, with its Australian office in Sydney, New South Wales (ABN# 91 113 919 869). Firma holds an Australian
    Financial Services License (AFSL #306556), and is listed on AUSTRAC’s designated remittance sector register.
  </p>
  <p class="disclaimer">
    Firma only provides general financial advice. General advice means that Firma does not take
    into account your objectives, financial situation, or needs. You should review your situation to decide
    yourself whether our products are appropriate for you.There is also inherent risk in all foreign exchange
    transactions due to the nature of the currency market. For more information regarding our products and
    financial services and the associated risks, please consult our combined
    <a href="/media/13900/firma_fsg_pds_au_web.pdf" target="_blank">
      Financial Services Guide and Product Disclosure Statement</a>.
  </p>
</div>