@font-face {
  font-family: 'circular';
  src: url('../fonts/lineto-circular-book.eot');
  src: url('../fonts/lineto-circular-book.eot?#iefix') format('embedded-opentype'),
  url('../fonts/lineto-circular-book.woff2') format('woff2'),
  url('../fonts/lineto-circular-book.ttf') format('truetype'),
  url('../fonts/lineto-circular-book.woff') format('woff'),
  url('../fonts/lineto-circular-book.svg#circular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'circular';
  src: url('../fonts/lineto-circular-bold.eot');
  src: url('../fonts/lineto-circular-bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/lineto-circular-bold.woff2') format('woff2'),
  url('../fonts/lineto-circular-bold.ttf') format('truetype'),
  url('../fonts/lineto-circular-bold.woff') format('woff'),
  url('../fonts/lineto-circular-bold.svg#circular') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'circular';
  src: url('../fonts/lineto-circular-black.eot');
  src: url('../fonts/lineto-circular-black.eot?#iefix') format('embedded-opentype'),
  url('../fonts/lineto-circular-black.woff2') format('woff2'),
  url('../fonts/lineto-circular-black.ttf') format('truetype'),
  url('../fonts/lineto-circular-black.woff') format('woff'),
  url('../fonts/lineto-circular-black.svg#circular') format('svg');
  font-weight: 900;
  font-style: normal;
}