@font-face {
  font-family: 'firma-icons';
  src:  url('../fonts/firma-icons.eot?gh62i');
  src:  url('../fonts/firma-icons.eot?gh62i#iefix') format('embedded-opentype'),
        url('../fonts/firma-icons.woff2?gh62i') format('woff2'),
        url('../fonts/firma-icons.ttf?gh62i') format('truetype'),
        url('../fonts/firma-icons.woff?gh62i') format('woff'),
        url('../fonts/firma-icons.svg?gh62i#firma-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'firma-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-play-video:before {
  content: "\e903";
}

.icon-play-video-youtube:before {
  content: "\e903";

  color:red;
}
.icon-mobile-menu:before {
  content: "\e906";
}
.icon-firma-close:before {
  content: "\e907";
}
.icon-firma-close-video:before {
  content: "\e907";
  color:#633a94;
  border: 10px solid white;
    border-radius: 50%;
    background-color: #fff;
}
.icon-quote:before {
  content: "\e900";
}
.icon-plus:before {
  content: "\ea0a";
}
.icon-minus:before {
  content: "\ea0b";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-checkmark:before {
  content: "\ea10";
}
.icon-chevron-left:before {
  content: "\e904";
}
.icon-chevron-right:before {
  content: "\e905";
}
.icon-chevron-down:before {
  content: "\e908";
}
.icon-chevron-small-left:before {
  content: "\e901";
}
.icon-chevron-small-right:before {
  content: "\e902";
}
