<h2 class="blog-year">2016</h2>
<ul class="blog-list">

  {{#> blog-list-item-image post-class="import-export-china" title="Import-export avec la Chine" post-date="14 septembre 2016" blog-post-link="import-export-china.html"}}
    Pourquoi faire affaire avec la Chine est très important...
  {{/blog-list-item-image}}

  {{#> blog-list-item-image post-class="e-commerce" title="Le commerce électronique." post-date="7 septembre 2016" blog-post-link="e-commerce.html"}}
    Le marché du détail est en croissance...
  {{/blog-list-item-image}}

  {{#> blog-list-item-image post-class="electronic-payments" title="Paiements électroniques." post-date="25 août 2016" blog-post-link="electronic-payments.html"}}
    Chez Firma, dites bonjour à des échanges de devises étrangères simplifiés, sécuritaires et rapides...
  {{/blog-list-item-image}}

  {{#> blog-list-item-image post-class="hedging" title="La couverture de risque." post-date="2 août 2016" blog-post-link="hedging.html"}}
    La couverture : l’art de la planification financière...
  {{/blog-list-item-image}}

  {{#> blog-list-item-image post-class="the-current-market" title="Comprendre le marché des devises." post-date="21 juillet 2016" blog-post-link="currency-market.html"}}
    Comment rester vigilant face aux changements du marché des devises...
  {{/blog-list-item-image}}
</ul>