<h2>Certificats d'assurance</h2>
<ul class="certificates">
  <li>
    <a href="https://firmafx.ca/media/40188/firma_16-17_bond_cert_-_can.pdf" target="_blank">Canada</a>
  </li>
  <li>
    <a href="https://firmafx.ca/media/40194/firma_16-17_bond_cert_-_uk.PDF" target="_blank">Royaume-Uni</a>
  </li>
  <li>
    <a href="https://firmafx.ca/media/40191/firma_16-17_bond_cert_-_nz.PDF" target="_blank">Nouvelle-Zélande</a>
  </li>
  <li>
    <a href="https://firmafx.ca/media/40185/firma_16-17_bond_cert_-_aus.PDF" target="_blank">Australie</a>
  </li>
  <li>
    <a href="https://firmafx.ca/media/40197/firma_16-17_bond_cert_-_us.PDF" target="_blank">États-Unis</a>
  </li>
</ul>