<div class="container">
  <a href="#" class="firma-icon">
    {{> svg/firma-symbol }}
  </a>
  <ul class="nav nav-inline">
    <li class="nav-item">
      <a class="nav-link" href="careers.html">Carrières</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="privacy.html">Politique de confidentialité</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="cookie.html">Politique relative aux témoins</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="environment.html">Politique environnementale</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="locations.html">Trouver un bureau</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="https://firmafx.ca/media/40188/firma_16-17_bond_cert_-_can.PDF" target="blank">Certificats d'assurance</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="contact.html">Nous contacter</a>
    </li>
    <li class="nav-item copyright">
      <span>&copy;2016 FIRMA Foreign Exchange Corporation</span>
    </li>
  </ul>
</div>

<div class="container">
  <p class="disclaimer">
    FIRMA Corporation Cambiste (Firma) est constituée en personne morale en Alberta, Canada et a des bureaux dans plusieurs villes importantes au Canada. FIRMA est enregistrée en tant qu’entreprise de services monétaires (ESM) auprès de FINTRAC (numéro d’enregistrement M08245875) pour les activités d’opérations de change et les transferts de fonds. Firma est aussi enregistrée au niveau provincial en tant qu’entreprise de services monétaires auprès de l’Autorité des marchés financiers du Québec, sous le numéro d’enregistrement 900055.
  </p>
</div>