<h1 class="contact-headline">
  <button class="headline-cta">
    {{> svg/contact-icon-no-phone }}
    Découvrez comment Firma peut <span class="soft-break mobile"></span>
    aider <span class="nobr">votre entreprise.</span>
  </button>
</h1>
{{> content/fr-ca/contact-form }}
{{> content/fr-ca/contact-complete }}