<div class="cta explore">
  <h3>
    <a href="../../services/">+ Click here to learn more about Firma</a>
  </h3>

  <hr class="divider" />

  <table class="blog-nav">
    <tr>
      <td width="30%" align="left">
        <a href="../e-commerce" class="blog-thumbnail">
          <h3>Last Post</h3>
          <img src="{{prevImg}}" />
        </a>
      </td>
      <td width="40%" align="center">
        {{> blog-social }}
      </td>
      <td width="30%" align="right">
        <a href="../currency-market">
          <h3>Next Post</h3>
          <img src="/images/blog/blog1-header.jpg" width="150" border="0"></a>
      </td>
    </tr>
  </table>
</div>