<h2 class="blog-year">2016</h2>
<ul class="blog-list">

  {{#> blog-list-item-image post-class="import-export-china" title="Importing & Exporting to China." post-date="September 14, 2016" blog-post-link="import-export-china.html"}}
    Why trading with China is a big deal...
  {{/blog-list-item-image}}

  {{#> blog-list-item-image post-class="e-commerce" title="E-commerce." post-date="September 7, 2016" blog-post-link="e-commerce.html"}}
    Retail is on the rise...
  {{/blog-list-item-image}}

  {{#> blog-list-item-image post-class="electronic-payments" title="Electronic payments." post-date="August 25, 2016" blog-post-link="electronic-payments.html"}}
    Electronic payments: why speed equals success...
  {{/blog-list-item-image}}

  {{#> blog-list-item-image post-class="hedging" title="Hedging." post-date="August 2, 2016" blog-post-link="hedging.html"}}
    Hedging: the art of financial planning...
  {{/blog-list-item-image}}

  {{#> blog-list-item-image post-class="the-current-market" title="Understanding the currency market." post-date="July 21, 2016" blog-post-link="currency-market.html"}}
    How to stay on top of a changing market...
  {{/blog-list-item-image}}

</ul>