
  <li class="blog-item image {{post-class}}">
    <h4 class="blog-date-light">{{post-date}}</h4>
    <h3>{{title}}</h3>
    <p>{{@partial-block}}</p>
    <p><a href="{{blog-post-link}}" class="link">{{#equal lang 'fr-ca'}}
      Lire l'article.
        {{else}}
          Read more
        {{/equal}}</a></p>
  </li>