
  <li class="blog-item">
    <h4 class="blog-date">{{post-date}}</h4>
    <h3>{{title}}</h3>
    <p>
     {{blurb}}
    </p>
    <p><a href="{{blog-post-link}}" class="link"><span>Read moreww</span></a></p>
  </li>