<li class="region-group{{#equal expanded 'true'}} in{{/equal}}">
  <h3 class="region-heading">
    <a class="region-link" href="#" aria-expanded="{{#equal expanded 'true'}}true{{else}}false{{/equal}}">{{ country }}</a>
  </h3>

  <ul class="job-list collapse{{#equal expanded 'true'}} in{{/equal}}" aria-expanded="{{#equal expanded 'true'}}true{{else}}false{{/equal}}">

    {{#each jobs}}
      {{> job-item }}
    {{/each}}
  </ul>

</li>