{{#each offices}}

  {{!-- Only list items without the property "contactList" set to false --}}
  {{#equal contactList false}}
  {{else}}

    <li class="location collapse{{#equal default true}} in{{/equal}}" id="{{../regionCode}}{{@index}}">
      <h3 class="office-name">
        {{!-- Start with office name --}}
        {{#if name}}
          {{name}}
        {{else}}

        {{!-- Check for division name --}}
          {{#if division}}

            {{#if ../fr}}

              {{#if division_fr}}
                {{ division_fr }}
              {{else}}
                {{ division }}
              {{/if}}

            {{else}}
              {{ division }}
            {{/if}}

          {{else}}

          {{!-- Use city name --}}
            {{#if city}}
              {{ city }}
            {{else}}

            {{!-- Default to region name --}}
              {{ ../region }}
            {{/if}}

          {{/if}}
        {{/if}}
      </h3>

      {{#if ../fr}}
        {{> content/fr-ca/office region=../region country=../officeCountry }}
      {{else}}
        {{> office region=../region country=../officeCountry }}
      {{/if}}

    </li>
  {{/equal}}

{{/each}}