<section class="contact-placeholder"></section>
<div class="contact-anchor">
  <section class="contact">

    <div class="container contact-container">
      <button class="hide-form close">
        <span class="icon icon-firma-close"></span>
      </button>

      {{#if lang}}

        {{#equal lang 'fr-ca'}}
          {{> content/fr-ca/pardot-form }}
        {{/equal}}

        {{#equal lang 'en-au'}}
          {{> content/en-au/pardot-form }}
        {{/equal}}

        {{#equal lang 'en-gb'}}
          {{> content/en-gb/pardot-form }}
        {{/equal}}

        {{#equal lang 'en-nz'}}
          {{> content/en-nz/pardot-form }}
        {{/equal}}

        {{#equal lang 'en-us'}}
          {{> content/en-us/pardot-form }}
        {{/equal}}

      {{else}}

        {{> content/pardot-form }}

      {{/if}}

    </div>

    <div id="iframe-container"></div>

  </section>
</div>