<li role="presentation" class="dropdown-header location-item">{{region}}</li>

{{#each offices}}

  {{!-- Only list items without the property "contactList" set to false --}}
  {{#equal contactList false}}
  {{else}}

    <li role="presentation" class="location-item city">
      <a role="menuitem" tabindex="-1" class="office-contact-link" href="#{{../regionCode}}{{@index}}">

        {{!-- Start with office name --}}
        {{#if name}}
          {{name}}
        {{else}}

        {{!-- Check for division name --}}
          {{#if division}}

            {{#if ../fr}}

              {{#if division_fr}}
                {{ division_fr }}
              {{else}}
                {{ division }}
              {{/if}}

            {{else}}
              {{ division }}
            {{/if}}
          {{else}}

          {{!-- Use city name --}}
            {{#if city}}
              {{ city }}
            {{else}}

            {{!-- Default to region name --}}
              {{ ../region }}
            {{/if}}

          {{/if}}
        {{/if}}
      </a>
    </li>

  {{/equal}}

{{/each}}