<footer>

  {{#if lang}}

    {{#equal lang 'fr-ca'}}
      {{> content/fr-ca/footer }}
    {{/equal}}

    {{#equal lang 'en-au'}}
      {{> content/en-au/footer }}
    {{/equal}}

    {{#equal lang 'en-gb'}}
      {{> content/en-gb/footer }}
    {{/equal}}

    {{#equal lang 'en-nz'}}
      {{> content/en-nz/footer }}
    {{/equal}}

    {{#equal lang 'en-us'}}
      {{> content/en-us/footer }}
    {{/equal}}

  {{else}}

    {{> content/footer }}

  {{/if}}

</footer>