<div class="cookie-popup">
  <p class="cookie-popup-copy">
    {{#equal lang 'fr-ca'}}
      Nous utilisons des témoins de connexion afin de vous offrir la meilleure expérience sur notre site Web. En consultant notre site, vous acceptez l’emploi de tels témoins. Vous trouverez tous les détails <a href="cookie.html">ici</a>.
    {{else}}
      We use cookies to ensure that we give you the best experience on our website. By using this site, you are giving consent to cookies being used. Full details can be found <a href="cookie.html">here</a>
    {{/equal}}
  </p>
  <p class="close-cookie-popup"><a href="#"><span class="icon icon-firma-close"></span></a></p>
</div>

<div id="header">
  <input type="hidden" autofocus="true" />
  <div class="container navbar">
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#main-nav">
      <span class="hamburger"><span class="icon icon-mobile-menu"></span></span>
      <span class="close"><span class="icon icon-firma-close"></span></span>
    </button>
    <h3 class="logo text-muted navbar-brand">
      <a href="./" class="brand-link">

        {{#equal lang 'fr-ca'}}
          {{> svg/firma-logo-fr }}
        {{else}}
          {{> svg/firma-logo }}
        {{/equal}}
      </a>
    </h3>
    <nav id="main-nav" class="main-nav collapse navbar-toggleable-sm" role="navigation">
      {{#equal lang 'fr-ca'}}
        {{> content/fr-ca/header-nav }}
      {{else}}
        {{> content/header-nav }}
      {{/equal}}
    </nav>
  </div>
</div>