<section class="hero{{#if className}} {{className}}{{/if}}{{#equal active true}} current{{/equal}}"{{#if image}} style="background-image:url({{image}})";{{/if}}>
  <img src="/images/hero-overlay.png" class="overlay" />
  <div class="contents container">
    {{> svg/firma-symbol }}
    <div class="text">
      <div class="firma-equals">
        <img src="/images/text-firma-equels{{#if append}}-{{append}}{{/if}}.svg" class="text-firma-equals">
        <div class="handwriting">
          {{#if spriteId}}<div class="sprite {{spriteId}}"></div>{{/if}}
        </div>
      </div>
      <p class="text-body">
        {{#if @partial-block}}
          {{> @partial-block }}
        {{/if}}
      </p>
    </div>
  </div>
</section>