<section class="hero hero-secondary"{{#if image}} style="background-image:url({{image}})";{{/if}}>
  <div class="contents container">
    <div class="text">
      <div class="firma-equals">
        <img src="/images/text-firma-equels{{#if append}}-{{append}}{{/if}}.svg" class="text-firma-equals">
        <div class="handwriting">
          {{#if spriteId}}<div class="sprite {{spriteId}}"></div>{{/if}}
          {{#if text}}<span class="image-text {{text}}"></span>{{/if}}
        </div>
      </div>
    </div>
  </div>
</section>