<li class="location-item accordion-item{{#equal state 'active'}} in{{/equal}}">
  <h3 class="region-heading accordion-heading">
    <a class="region-link accordion-link" href="#">{{region}}</a>
  </h3>
  <div class="offices accordion-contents collapse{{#equal state 'active'}} in{{/equal}}">
    {{#each offices}}
      {{> office-item region=../region country=../officeCountry fr=../fr }}
    {{/each}}
  </div>
</li>