<div class="office-item-container" itemscope itemtype="http://schema.org/Organization">

  <div class="office-name">
    <span itemprop="name">{{#if overrideName}}{{overrideName}}{{else}}FIRMA Foreign Exchange Corporation{{/if}}</span>{{#if division}} {{ division }}{{/if}}
  </div>

  {{#if address}}
    <address itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
      {{#if address}}<span itemprop="streetAddress">{{address}}</span><br />{{/if}}
      {{#if city}}<span itemprop="addressLocality">{{city}}{{#if region}}, {{/if}}</span>{{/if}}
      {{#if region}}<span itemprop="addressRegion">{{region}}</span>{{/if}}
      {{#if postal}}<span itemprop="postalCode">{{postal}}</span>{{/if}}
      {{#if country}}<br /><span itemprop="addressCountry">{{country}}</span>{{/if}}
    </address>
  {{/if}}

  <div class="contact-details">
    {{#if phone}}
      {{#each phone}}
        <abbr title="{{#equal type 'toll-free'}}Toll-Free {{/equal}}Telephone">T:</abbr><!--
          --><span itemprop="telephone">{{number}}</span>
        {{#equal type 'toll-free'}} (toll free){{/equal}}
        {{#equal type 'freephone'}} (freephone){{/equal}}
        <br />
      {{/each}}
    {{/if}}

    {{#if fax}}
      {{#each fax}}
        <abbr title="{{#equal type 'toll-free'}}Toll-Free {{/equal}}Fax">F:</abbr><!--
          --><span itemprop="faxNumber">{{number}}</span>{{#equal type 'toll-free'}} (toll free){{/equal}}<br />
      {{/each}}
    {{/if}}

    {{#if email}}
      {{#equal showEmail true}}
        <span itemprop="email">{{email}}</span><br />
      {{/equal}}
    {{/if}}

    {{#if website}}
      {{#equal showWebsite true}}
        <span itemprop="website">
          <a href="http://{{website}}" target="_blank">{{website}}</a>
        </span>
      {{/equal}}
    {{/if}}
  </div>

</div>