<div class="office">

  {{#if overrideRegion}}
    <h5>{{overrideRegion}}</h5>
  {{/if}}

  {{#if title}}
    <strong class="city-name">{{title}}</strong>
  {{else}}
    {{#if city}}<strong class="city-name">{{city}}</strong>{{/if}}
  {{/if}}

  {{#if before}}<p>{{before}}</p>{{/if}}

  {{#if fr}}
    {{> content/fr-ca/office region=../region country=../officeCountry }}
  {{else}}
    {{> office region=../region country=../officeCountry }}
  {{/if}}

  {{#if notes}}<p>{{{notes}}}</p>{{/if}}

</div>