<a href="#" class="quote-item quote-link">
  <img src="{{image}}" class="quote-image" />
  <div class="quote-overlay">
    <span class="quote">
      {{> @partial-block }}
    </span>
    <span class="author">
      <span class="name">{{name}}</span>
      <span class="title">{{title}}</span>
    </span>
  </div>
</a>