<script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/gsap/1.18.5/TweenMax.min.js"></script>

<!-- build:js /scripts/vendor.js -->
<script src="/bower_components/jquery.easing/js/jquery.easing.js"></script>
<script src="/bower_components/enquire/dist/enquire.js"></script>
<script src="/bower_components/lodash/lodash.js"></script>
<script src="/bower_components/parsleyjs/dist/parsley.js"></script>
<script src="/bower_components/js-cookie/src/js.cookie.js"></script>
<!-- bower:js -->
<!-- endbower -->
<!-- endbuild -->

<!-- build:js /scripts/plugins.js -->
<script src="/bower_components/bootstrap/js/dist/util.js"></script>
<script src="/bower_components/bootstrap/js/dist/collapse.js"></script>
<script src="/bower_components/bootstrap/js/dist/modal.js"></script>
<script src="/bower_components/bootstrap/js/dist/tab.js"></script>
<script src="/bower_components/bootstrap/js/dist/dropdown.js"></script>
<script src="/scripts/plugins/jquery.mask.js"></script>
<script src="/scripts/plugins/gifanimation.js"></script>
<!-- endbuild -->

<!-- build:js /scripts/main.js -->
<script src="/scripts/utils.js"></script>
<script src="/scripts/breakpoints.js"></script>
<script src="/scripts/nav.js"></script>
<script src="/scripts/mobileQuotes.js"></script>
<script src="/scripts/stickyHero.js"></script>
<script src="/scripts/contactForm.js"></script>
<script src="/scripts/team.js"></script>
<script src="/scripts/hero.js"></script>
<script src="/scripts/locations.js"></script>
<script src="/scripts/careers.js"></script>
<script src="/scripts/contact.js"></script>
<script src="/scripts/video.js"></script>
<script src="/scripts/event.tagging.js"></script>
<script src="/scripts/main.js"></script>
<!-- endbuild -->