<li class="team-item accordion-item{{#equal state 'active'}} in{{/equal}}">
  <h3 class="member-heading accordion-heading">
    <a class="member-link accordion-link {{className}}" href="#">
      <span class="name">{{name}}</span>
      <span class="job-title">{{title}}</span>
    </a>
  </h3>
  <div class="description accordion-contents collapse{{#equal state 'active'}} in{{/equal}}">
    {{> @partial-block }}
  </div>
</li>