{{#extend 'layout' id='careers' parentId='company' pageTitle='Careers' class='interior content-pages' lang='en-nz' }}

  {{#content 'meta' }}
    <meta name="description" content="Looking for a challenging and rewarding career, see how FIRMA may be the right match for you.">
    <meta name="keywords" content="Careers, Jobs, Bonus Incentives, International payments, currency specialists, Firma, Business, World, Currency Exchange, Specialist, Foreign Deposit, Positive work environment, Canada, Partnerships and Affiliates, energetic people" />
  {{/content}}

  {{#content 'body' }}
    <div class="main-content container">

      <div class="row-sidebar">
        <div class="sidebar"></div>
        <div class="page-content">

          {{> hero-secondary image='/images/company/background-careers.jpg' spriteId='aspiration' }}

          <section class="container light">

            <h1>We’re always looking for<span class="soft-break"></span>exceptional talent.</h1>
            <p>Firma is one of the world’s leading payment and currency specialists with locations across three continents. We are always looking for exceptional talent.</p>
            <p>Have a look at our current opportunities and if you see something that fits, please apply as per the job posting details.</p>

          </section>

          <section class="container light">

            <h1>Working at Firma.</h1>
            <p>As we grow we remain focused on hiring talented and energetic people. If you work well in a youthful environment driven by creative people who have fun while getting the job done, we are the employer for you. We pride ourselves on rewarding our employees for their hard work by offering competitive wages, numerous bonus incentive programs, opportunities for professional development, and a comfortable work environment.</p>

            <blockquote>
              <p>My belief is that happy employees translates into happy customers. In my world that means that we provide people with a challenging, nurturing and positive work environment. We care for our employees and our employees care for our customers. Pretty simple and extraordinarily effective.</p>
              <cite>Dave Dominy, CEO</cite>
            </blockquote>

          </section>

          <section class="container light">

            <h1>Current opportunities.</h1>

            <ul class="region-list">

              {{!-- data from data/careers.json --}}
              {{#each this.careers}}
                {{#each this}}
                  {{> careers-location this }}
                {{/each}}
              {{/each}}

            </ul>

          </section>

        </div>
      </div>

    </div>

  {{/content}}
{{/extend}}