{{#extend 'layout' id='contact' class='interior nosidebar' lang='en-nz' }}
{{#content 'body' }}

<div class="main-content container">

  {{> keyline }}

  <div class="page-content">

    <section class="container light">

      <h1>Contact Us</h1>

      <div class="contact-row">
        <div class="col office-contact-container">
          {{> content/en-nz/contact-info }}
        </div>
        <div class="col contact-form-container">
          <h2>Learn how Firma can help <span class="nobr">your business.</span></h2>
          {{> content/en-nz/contact-form formId='contact-page-form' }}
          {{> content/contact-complete }}
        </div>
      </div>

      <div class="intro">
        <h1>Customer Feedback</h1>
        <p>
          FIRMA Foreign Exchange Corporation (NZ) Ltd. is a wholly owned subsidiary of FIRMA Foreign Exchange Corporation, incorporated in Alberta, Canada.
        </p>
        <p>
          FIRMA Foreign Exchange Corporation (NZ) Ltd. is committed to working with you to find a fair and equitable resolution to any concerns that you may have about our products or services. We ask that your first contact regarding questions or concerns be with your trader at FIRMA Foreign Exchange Corporation (NZ) Ltd. If you feel that we have not found a suitable resolution at this level, please contact our regional compliance officer at:
        </p>

        {{!-- data from data/locations.json --}}
        {{#each this.locations}}
          {{#each this}}

          {{!-- output NZ locations only --}}
          {{#equal @key 'nz' }}
            {{#each this.regions}}

              {{!-- output NSW locations only --}}
              {{#equal regionCode 'NSW' }}
                {{#each offices}}
                  {{> office this showEmail=true }}
                {{/each}}
              {{/equal}}

              {{/each}}
            {{/equal}}

          {{/each}}
        {{/each}}
      </div>

      <div class="intro">
        <p>FIRMA Foreign Exchange Corporation (NZ) Ltd. is a member of the Financial Disputes Resolution Scheme (FDR). If you feel that FIRMA has not met your concerns in a fair and equitable way, you may refer your concerns to the Financial Disputes Resolution Service at:</p>

        {{!-- data from data/locations.json --}}
        {{#each this.locations}}
          {{#each this}}

            {{!-- output NZ locations only --}}
            {{#equal @key 'nz' }}
              {{#each this.regions}}

                {{!-- output WGN locations only --}}
                {{#equal regionCode 'WGN' }}
                  {{#each offices}}
                    {{> office this overrideName='New Zealand' showWebsite=true showEmail=true }}
                  {{/each}}
                {{/equal}}

              {{/each}}
            {{/equal}}

          {{/each}}
        {{/each}}
      </div>

    </section>

  </div>

</div>

{{/content}}
{{/extend}}