{{#extend 'layout' id='currency-market' parentId='blog' pageTitle='Electronic Payments.' class='blog-post content-pages' lang='en-nz'}}

  {{#content 'meta' }}
    <meta name="description" content="Looking for a challenging and rewarding career, see how FIRMA may be the right match for you.">
    <meta name="keywords" content="Careers, Jobs, Bonus Incentives, International payments, currency specialists, Firma, Business, World, Currency Exchange, Specialist, Foreign Deposit, Positive work environment, Canada, Partnerships and Affiliates, energetic people"/>
  {{/content}}

  {{#content 'body' }}
    <div class="main-content container">
      <div class="page-content">

        {{> hero-secondary image='/images/blog/blog3-header.jpg' spriteId='secure' }}

        <section class="container light blog-content">

          <h3>August 25, 2016</h3>

          <h1>Electronic payments: why speed equals success.</h1>
          <p>The days of paying with goats, gold coins or even cheques is long past. The world moves at too
            fast a pace, especially in the digital era with an added need for security and control. Electronic payments
            optimise every detail of every exchange. Here, we’ll show you why electronic payments are a necessity when
            exchanging currency, why existing payment methods can be costly, and how to design a plan that works best for
            you.</p>

          <h2>Electronic payments and currency go hand in hand.</h2>
          <p>A key aspect of going global is getting paid or paying for the goods and services internationally.
            Dealing with foreign partners and new countries can be scary. However, in order to achieve global growth,
            accessing some of these markets means you can make more and save more. Ultimately, you want every payment to be
            quick and easy for both you and your suppliers. Electronic payments solve each of these concerns. The process is
            incredibly streamlined, with flexible transaction processing, immediate confirmation, and robust reporting. That
            equals confidence in knowing your money is secure, and your payments are instant.</p>
          <h2>Existing payment methods can cost you time and money.</h2>
          <p>While electronic payments are clearly beneficial in a multitude of ways, not all methods of payment are created
            equal. Different forms of electronic payments exist, and while they all may be beneficial in certain ways, you
            could be incurring costs if and when a payment is made directly into your local account. This is where having
            access to foreign bank accounts becomes a key influential factor in making smarter transactions. By having
            access to accounts overseas, you can potentially save an extra 4-5%. So if you’re receiving a payment of, say,
            $500,000, the difference equals roughly $20,000 that you can make sure ends up in your pocket.</p>
          <h2>Design a plan that works best for you.</h2>

          <p>Now that we know why electronic payments are important, and how to maximize your profit
            margins, we can start to take a look at three popular methods. Namely, Wires, SEPA and ACH.</p>

          <p>Wires have few restrictions and provide fast, secure payments from individual to individual, anywhere in the
            world. They can however, be more costly than other methods, from $15-$80 per wire transfer, or a percentage of
            the total value. There’s no arguing with the benefits of wires, but with multiple vendors, costs can add up.
            Recipients may also incur fees with incoming wires that can eat into their profit.</p>

          <p>SEPA offers a cost effective credit & debit solution for individuals and businesses within the EU, or for those
            with an EU bank account. These transfers are almost free, and many institutions will cover any costs associated.
            If speed is a necessity, be aware that they batch release payments every two days. </p>

          <p>Finally, if you only require US transactions, ACH offers fast and easy service, with debits settled within one
            business day, and credit transactions within two to three. To use ACH as a payment method, you must have a US
            bank account, or have access to one. And while undoubtedly fast, they are still slower than wire transfers.</p>

          <p>Working with an international payment and currency specialist, you can begin to design a plan that makes sense
            for your business. And knowing how to get the most from your electronic payments means you can get expect more
            profit, more growth, and more success.</p>

          <p>Firma only provides general financial advice. General advice means that Firma does not take into account your
            objectives, financial situation, or needs. You should review your situation to decide yourself whether our
            products are appropriate for you. For more information regarding our products and financial services, please
            consult our combined
            <a href="https://firmafx.co.nz/media/33733/firma_nz_product_disclosure_statement.pdf" target="_blank">Financial
              Services Guide and Product Disclosure Statement.</a></p>

          {{> blog-social }}

        </section>
      </div>

    </div>

  {{/content}}
{{/extend}}