<!doctype html>
<html class="no-js" lang="{{#if lang}}{{lang}}{{else}}en-ca{{/if}}">

  <head>
    <meta charset="utf-8">{{#if (content 'meta')}}
{{{block 'meta'}}}{{else}}
    <meta name="description" content="Does your business require foreign exchange expertise; find out what FIRMA can do for you and why their services are faster, cheaper and better than the banks.">
    <meta name="keywords" content="Firma, Currency Exchange, International, Payments, Specialist, World, Direct Debit, Foreign Deposit, Foreign Currency, Currency, Canada, Canada, Australia, New Zealand, UK, USA, Delivery Methods, Spot Orders, Market Orders, Forward Contacts, Partnerships and Affiliates, Tuition Payments, Foreign Real Estate, International Vehicle Purchases, International payments" />
{{/if}}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Firma Foreign Exchange {{#if country}}{{country}}{{/if}}{{#if pageTitle}} | {{pageTitle}}{{/if}}</title>

    <link rel="apple-touch-icon" sizes="57x57" href="/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicons/favicon-194x194.png" sizes="194x194">
    <link rel="icon" type="image/png" href="/favicons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/favicons/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/favicons/manifest.json">
    <link rel="mask-icon" href="/favicons/safari-pinned-tab.svg" color="#633a94">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/favicons/mstile-144x144.png">
    <meta name="theme-color" content="#633a94">

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css /styles/main.css -->
    <link rel="stylesheet" href="/styles/main.css">
    <!-- endbuild -->

    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="/bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->

    <script type="text/javascript">
      (function l(d){
        var site = '6901', page = 'generic', s, er = d.createElement('script');
        er.type = 'text/javascript';
        er.async = true;
        er.src = '//o2.eyereturn.com/?site=' + site + '&page=' + page;
        s = d.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(er, s);
      })(document);
    </script>
  </head>
  <body{{#if id}} id="{{id}}"{{/if}}{{#if class}} class="{{class}}"{{/if}}>

    <!--[if lt IE 10]>
    <p class="browserupgrade">
      You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.
    </p>
    <![endif]-->

    {{> header }}

    {{{block 'body'}}}

    {{> contact }}

    {{> footer }}


    {{!-- Google Analytics --}}
    {{#if lang}}

      {{#equal lang 'en-au'}}
        {{> ga trackingId='UA-19092405-4' }}
      {{/equal}}

      {{#equal lang 'en-gb'}}
        {{> ga trackingId='UA-19092405-7' }}
      {{/equal}}

      {{#equal lang 'en-nz'}}
        {{> ga trackingId='UA-19092405-6' }}
      {{/equal}}

      {{#equal lang 'en-us'}}
        {{> ga trackingId='UA-19092405-8' }}
      {{/equal}}

      {{#equal lang 'fr-ca'}}
        {{> ga trackingId='UA-19092405-5' }}
      {{/equal}}

    {{else}}

      {{> ga trackingId='UA-19092405-5' }}

    {{/if}}


    {{> scripts }}

  </body>
</html>
